
.input-group-text {
  border: 0;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
}

.plus-icon {
  position: absolute;
  right: -2.5rem;
  top: 20%;
  width: 2rem;
  height: 2rem;
  background: url('../../../../assets/media/sun-oil/plus-icon.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  &:hover {
    opacity: 0.8;
  }
}
