$color-title: #0c258a;
$border-orange: #f47326;
$bg-gray: #bdbdbd;
$bg-blue: #0c258a;

:host ::ng-deep .footer-row {
  position: fixed !important;
}

.provider-main {
  background-color: white;
  padding: 8px 1%;
  display: flex;
  flex-direction: column;

  .content-title {
    padding-bottom: 8px;
    border-bottom: 1px solid $bg-gray;
    span {
      color: $color-title;
      font-weight: 500;
      font-size: 18px;
    }
  }

  label {
    color: $color-title;
    border-bottom: 1px solid #bdbdbd;
    padding: 8px 0px;
    align-self: center;
    font-size: 16px;
    font-weight: 500;
  }
  .search {
    span {
      color: $color-title;
      border-bottom: none;
      font-weight: 500;
    }

    &-input {
      display: flex;
      align-items: baseline;
      span {
        width: 120px;
        font-weight: 500;
        color: $color-title;
      }
      .btn-search {
        background-color: #007bff !important;
      }
    }
  }
  table.table th {
    background: $bg-blue !important;
  }
}
.text-while {
  color: #fff;
}

.bg-btn__blue {
  background: $bg-blue;
}

@import "/src/app/shared/styles/lpb-table.scss";
@import "/src/app/shared/styles/custom-styles.scss";

.modal-backdrop.show {
  z-index: auto !important;
}
