<div class="px-4 py-2">
    <div class="text-high-light text-uppercase fw-medium text-lg-custom"> <i class="fa fa-search"></i> Tra cứu thông tin khách hàng
    </div>
    <hr>
    <div class="pl-2">
        <form [formGroup]="formSearch" (ngSubmit)="search()">
            <div class="d-flex">
                <div class="col-4 px-4">
                    <label for="" class="text-high-light fw-bolder">Chọn trường</label>
                    <div>
                        <app-lpb-select2 
         
                        [items]='schoolSource'
                        labelName="name"
                        bindValue="code" formControlName="univerCode"
                        placeholder="Chọn nhà cung cấp"></app-lpb-select2>
                    </div> 

                </div>
                <div class="col-4 px-4">
                    <label for="" class="text-high-light fw-bolder">Mã sinh viên</label>
                    <div>
                        <input type="text" formControlName="studentCode" class="form-control w-100"
                            placeholder="Nhập mã khách hàng" trimInput>
                    </div>
                </div>
                <div class="col-4 px-4">
                    <label for="" class="text-high-light fw-bolder">Trạng thái</label>
                    <div>
                        <app-lpb-select2 [items]="statusTransactions" [config]="{'clearable':false}" labelName="label"
                            bindValue="value" formControlName="statusTransaction">
                        </app-lpb-select2>
                    </div>
                </div>
            </div>
            <div class="mt-4 text-center">
                <button class="btn lpb-btn-primary" [disabled]="isLoading"> <i class="fa fa-search"></i>
                    <span> Tìm kiếm</span>
                </button>
            </div>
        </form>


    </div>
        <!-- (editAction)="editTransaction($event)" -->
    <div class="mt-5">
        <app-lpb-datatable [config]="config" [searchConditions]="searchConditions" 
            (viewAction)="viewTransaction($event)"             
            (deleteAction)="cancelTransaction($event)"  
            [columns]="columns"
            apiServiceURL="/tuition-service/transaction"
            tableName="Danh sách giao dịch"></app-lpb-datatable>
    </div>
</div>
