<div class="mt-5">
  <ng-template #temp_check_file>
    <div class="px-4 pt-3 bg mt-2 template-other">
      <div class="py-1 d-flex justify-content-between">
        <div class="temp-content">
          <p>Bạn đã chọn: <strong>{{rowSelected?.length}}</strong> bản ghi</p>
          <p>Tổng tiền giao dịch: <strong>{{totalPrice | vnCurency}}</strong> VNĐ</p>
        </div>
        <p class="" [ngClass]="dataSource?.length > 0 ? 'text-down' : 'text-down-disable'"
           (click)="downloadFileCheck()"><i
          class="fa fa-download mr-2" aria-hidden="true"></i>Tải xuống tệp tin</p>
      </div>
      <p class="pb-1 rule-content">
        Quy tắc thanh toán: <span class="font-italic">{{ruleContent}}</span>
      </p>
    </div>
  </ng-template>
  <app-lpb-datatable
    [templateOther]="temp_check_file"
    [config]="configs"
    [columns]="$any(columns)"
    [dataSource]="dataSource"
    [(selection)]="selection"
    (getRowSelected)="getRowSelected($event)"
    (chkAll)="getRowSelected($event)"
    tableName="Danh sách"
  ></app-lpb-datatable>
</div>
