// :host {
//   width: 100%;
//   @media (min-width: 992px) {
//     .login-form {
//       width: 100%;
//       max-width: 450px;

//       .mat-form-field {
//         width: 100%;
//       }
//     }
//   }
// }

:host {
  width: 100%;
  padding: 0 15%;
}

.login-wrapper {
  form {
    i {
      position: absolute;
      top: 25%;
      right: 20px;
      cursor: pointer;
      &:hover {
        color: #3f4254;
      }
    }
    .login-header {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 70px;
    }
  }
}
