.card-header {
	padding: 0 2.25rem !important;
	border-bottom: none;
	.title {
		text-transform: uppercase;
		color: #4674eb;
		font-weight: 500;
		font-size: 14px;
	}
}

.card-body {
	padding: 0 3.25rem !important;

	.input-phone {
		padding-right: 30px;
	}
}

.info-customer,
.info-contract,
.list-product {
	padding: 25px 0 15px;
}

.info-contract {
	.icon-add {
		padding-top: 30px;
	}
}

.list-product {
	.table {
		th {
			color: #1e1e1e !important;
			text-transform: none;
		}

		td {
			&.col1 {
				width: 100px;
			}
			&.col8 {
				width: 100px;
			}
		}
	}
}

.customer-phone {
	div {
		position: relative;
		em {
			cursor: pointer;
			position: absolute;
			right: 15px;
			top: 30%;
			font-size: 1.4rem;
			&:hover {
				opacity: 0.8;
			}
		}
	}
}

.fa.fa-calendar-alt {
	font-size: 1.3rem;
}

.plus-icon {
	position: absolute;
	right: -2.5rem;
	top: 20%;
	width: 2rem;
	height: 2rem;
	background: url('../../../../assets/media/sun-oil/plus-icon.svg');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	&:hover {
		opacity: 0.8;
	}
}

.file {
	position: relative;
	div {
		width: 5rem;
		position: absolute;
		right: 2rem;
		top: 35%;
	}

	span {
		cursor: pointer;
	}

	em {
		position: absolute;
		right: 10px;
		top: 33%;
		&:hover {
			opacity: 0.8;
		}
	}
}
