<div class="card card-custom gutter-b mt-1">
  <div class='info-customer'>
    <div class="card-header">
      <div class="card-title">
        <h3 class="title">Thông tin khách hàng</h3>
      </div>
    </div>

    <div class="card-body">
      <form [formGroup]="infoForm" class="form form-label-right">
        <div class="form-group row">
          <div class="col-lg-4">
            <label class="form-label required">Số điện thoại</label>
            <div class="input-group">
              <input type="text" class="form-control input-phone"
                     placeholder="Nhập số điện thoại"
                     formControlName='phone'
                     (blur)="getInfoUser()"
                     autocomplete="off"
                     trim="blur"
                     (keydown.space)="$event.preventDefault()"
                     (keydown.enter)="getInfoUser()"
              >
              <button type="button" class="btn bg-transparent" (click)='deleteNumberPhone()' style="margin-left: -40px; z-index: 1;">
                <i class="fa fa-times"></i>
              </button>
            </div>
            <app-validate style='display: block'
                          [control]="infoForm.controls['phone']"
                          [error]="'required'"
                          [message]="'Số diện thoại không được để trống'"
            ></app-validate>
            <app-validate style='display: block'
                          [control]="infoForm.controls['phone']"
                          [error]="'required'"
                          [message]="'Số diện thoại không tồn tại trên hệ thống'"
            ></app-validate>
          </div>

          <div class="col-lg-4">
            <label class="form-label required">Tên khách hàng</label>
            <input [attr.disabled]='true'
                   type="text"
                   formControlName='customer'
                   class="form-control"
                   maxlength="99"
                   autocomplete="off"
            />
            <app-validate style='display: block'
                          [control]="infoForm.controls['customer']"
                          [error]="'required'"
                          [message]="'Tên khách hàng không được để trống'"
            ></app-validate>
          </div>

          <div class="col-lg-4">
            <label class="form-label required">Tên doanh nghiệp</label>
            <input [attr.disabled]='true'
                   type="text"
                   formControlName='enterprise'
                   class="form-control"
                   maxlength="99"
                   autocomplete="off"
            />
            <app-validate style='display: block'
                          [control]="infoForm.controls['enterprise']"
                          [error]="'required'"
                          [message]="'Tên doanh nghiệp không được để trống'"
            ></app-validate>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-lg-4">
            <label class="form-label">Ngày sinh</label>
            <input [attr.disabled]='true'
                   formControlName='brithday'
                   type="date"
                   class="form-control"
            />
          </div>

          <div class="col-lg-4">
            <label class="form-label required">CMND/CCCD</label>
            <input [attr.disabled]='true'
                   type="text"
                   formControlName='idno'
                   class="form-control"
                   maxlength="99"
                   autocomplete="off"
            />
            <app-validate style='display: block'
                          [control]="infoForm.controls['idno']"
                          [error]="'required'"
                          [message]="'CMND/CCCD không được để trống'"
            ></app-validate>
          </div>

          <div class="col-lg-4">
            <label class="form-label">Email</label>
            <input [attr.disabled]='true'
                   type="text"
                   formControlName='email'
                   class="form-control"
                   maxlength="99"
                   autocomplete="off"
            />
          </div>
        </div>

        <div class="form-group row">
          <div class="col-lg-8">
            <label class="form-label required">Địa chỉ</label>
            <input [attr.disabled]='true'
                   type="text"
                   formControlName='address'
                   class="form-control"
                   maxlength="99"
                   autocomplete="off"
            />
            <app-validate style='display: block'
                          [control]="infoForm.controls['address']"
                          [error]="'required'"
                          [message]="'Địa chỉ không được để trống'"
            ></app-validate>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div class='info-contract'>
    <div class="card-header">
      <div class="card-title">
        <h3 class="title">Thông tin hợp đồng</h3>
      </div>
    </div>

    <div class="card-body">

      <form [formGroup]="contractForm" class="form form-label-right">
        <div class="form-group row">
          <div class="col-lg-4">
            <label class="form-label required">Loại hợp đồng</label>
            <select
              class="form-control"
              name="contractMethod"
              formControlName='contractMethod'
              [(ngModel)]='method'
              [value]="'tra-truoc'"
            >
              <option *ngFor='let item of contractTypes' [ngValue]='item.value'>{{item.label}}</option>
            </select>
          </div>

          <div class="col-lg-4">
            <label class="form-label required">Tên hợp đồng</label>
            <input
              type="text"
              class="form-control"
              placeholder="Nhập tên hợp đồng"
              maxlength="99"
              autocomplete="off"
              formControlName='contractName'
            />
            <app-validate
              [control]="contractForm.controls['contractName']"
              [error]="'required'"
              [message]="'Tên hợp không được để trống'"
            ></app-validate>
          </div>

          <div class="col-lg-4">
            <label class="form-label">Ngày hết hạn</label>
            <input type="date" class="form-control" name='expirationDate' formControlName='expirationDate'/>
          </div>
        </div>
<!--        <p>sdsdsdsdsd {{contractForm.value | json}}</p>-->

        <div class="form-group row">
          <div class="col-lg-4">
            <label class="form-label">HT giao nhận</label>
            <select
              class="form-control"
              name="TRANSPORT_METHOD"
              formControlName='transportMethod'
            >
              <option disabled [value]="null">Chọn HT giao nhận</option>
              <option *ngFor="let item of TRANSPORT_METHOD" [value]="item.id">
                {{ item.name }}
              </option>
            </select>
          </div>

          <div class="col-lg-4">
            <label class="form-label required">HT thanh toán</label>
            <select
              class="form-control"
              name="PAYMENT_METHOD_CONTRACT"
              formControlName='paymentMethod'
            >
              <option disabled [value]="null">Chọn HT thanh toán</option>
              <option *ngFor="let item of PAYMENT_METHOD_CONTRACT" [value]="item.id">
                {{ item.name }}
              </option>
            </select>
            <app-validate
              [control]="contractForm.controls['paymentMethod']"
              [error]="'required'"
              [message]="'HT thanh toán không được để trống'"
            ></app-validate>
          </div>

          <div class="col-lg-4" *ngIf='method == "tra-truoc"'>
            <label class="form-label required">Địa chỉ ký hợp đồng</label>
            <select
              class="form-control"
              name="type"
              formControlName='contractAddress'
            >
              <option disabled [value]="null">Chọn địa chỉ ký hợp đồng</option>
              <option *ngFor="let province of dataAddress" [value]="province.id">
                {{ province.name }}
              </option>
            </select>
            <app-validate
              [control]="contractForm.controls['contractAddress']"
              [error]="'required'"
              [message]="'Địa chỉ ký hợp đồng không được để trống'"
            ></app-validate>
          </div>

          <div class="col-lg-4" *ngIf='method == "du-tru"'>
            <label class="form-label required">Hạn mức</label>
            <input
              type="text"
              decimal-mask
              class="form-control"
              placeholder="Nhập hạn mức"
              maxlength="99"
              autocomplete="off"
              formControlName='limit'
            />
          </div>
        </div>

        <div class='form-group row' *ngIf='method == "tra-truoc"'>
          <div class="col-lg-8">
            <label class="form-label">Địa chỉ chi tiết</label>
            <input
              type="text"
              [attr.disabled]='true'
              class="form-control"
              maxlength="99"
              autocomplete="off"
              formControlName='fullAddress'
            />
          </div>
        </div>

        <div class="form-group row" formArrayName='expectedDate' *ngIf='method !== "tra-truoc"'>
          <div class="col-lg-4" *ngFor="let alias of expectedDate.controls; let i = index">
            <div *ngIf='method == "du-tru"'>
              <label class="form-label">Ngày dự kiến TT lần {{i+1}}</label>
              <input
                type="date"
                class="form-control"
                name='expectedDate'
              />
            </div>
          </div>

          <div class="col-lg-4 icon-add" *ngIf='method == "du-tru" && totalInputDate < 5'>
            <a
              (click)="addExpectedDate()"
              class="btn btn-icon btn-light btn-hover-primary btn-sm"
            >
                <span
                  [inlineSVG]="'./assets/media/svg/icons/Code/Plus.svg'"
                  cacheSVG="true"
                  class="svg-icon svg-icon-md svg-icon-primary"
                  [ngbTooltip]="'Thêm'"
                >
                </span>
            </a>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div class='list-product' *ngIf='method == "tra-truoc"'>
    <div class="card-header">
      <div class="card-title">
        <h3 class="title">danh sách hàng hóa</h3>
      </div>
    </div>

    <div class="card-body">
      <table class="table" id='tbProduct'>
        <thead class="thead-light">
          <tr>
            <th scope="col">
              <label class="form-label">STT</label>
            </th>
            <th scope="col">
              <label class="form-label required">Loại sản phẩm</label>
            </th>
            <th scope="col">
              <label class="form-label required">Tên sản phẩm</label>
            </th>
            <th scope="col">
              <label class="form-label">Đơn vị</label>
            </th>
            <th scope="col">
              <label class="form-label required">Số lượng</label>
            </th>
            <th scope="col">
              <label class="form-label">Đơn giá hiện tại (VND)</label>
            </th>
            <th scope="col">
              <label class="form-label">Đơn giá triết khấu (VND)</label>
            </th>
            <th scope="col">
              <label class="form-label">Thành tiền</label>
            </th>
            <th scope="col">
              <label class="form-label">Xóa</label>
            </th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td class="col0">1</td>
            <td class="col1">
              <select
                class="form-control form-control-sm"
                name="productType"
                [value]='0'
              >
                <option *ngFor='let item of listProductType' [ngValue]='item.id'>{{item.name}}</option>
              </select>
            </td>
            <td class="col2">
              <select
                class="form-control  form-control-sm"
                name="productName"
                [value]='0'
              >
                <option *ngFor='let item of listProductType' [ngValue]='item.id'>{{item.name}}</option>
              </select>
            </td>
            <td class="col3">Chiếc</td>
            <td class="col4">
              <input class="form-control form-control-sm" type="number" style='width: 70px'>
            </td>
            <td class="col5"></td>
            <td class="col6"></td>
            <td class="col7"></td>
            <td class="col8">
              <a
                (click)="deleteProduct()"
                class="btn btn-icon btn-light btn-hover-danger btn-sm"
              >
                <span
                  [inlineSVG]="'./assets/media/svg/icons/General/Trash.svg'"
                  cacheSVG="true"
                  class="svg-icon svg-icon-md svg-icon-danger"
                  [ngbTooltip]="'Xóa'"
                >
                </span>
              </a>
            </td>
          </tr>
        </tbody>

        <tfoot>
          <tr>
            <td>
              <a
                (click)="addRow()"
                class="btn btn-icon btn-light btn-hover-primary btn-sm"
              >
              <span
                [inlineSVG]="'./assets/media/svg/icons/Code/Plus.svg'"
                cacheSVG="true"
                class="svg-icon svg-icon-md svg-icon-primary"
                [ngbTooltip]="'Thêm'"
              >
              </span>
              </a>

            </td>
            <td colspan='4'></td>
            <td colspan='2'>Tổng tiền thanh toán</td>
            <td>{{ totalPrice.toLocaleString('en-US')}}</td>
            <td></td>
          </tr>
        </tfoot>
      </table>

    </div>
  </div>
</div>
