<div class="card card-custom gutter-b mt-1" *ngIf="isInitDataUpdate$ | async">
	<div class="info-customer">
		<div class="card-header">
			<div class="card-title">
				<h3 class="title">Thông tin khách hàng</h3>
			</div>
		</div>

		<div class="card-body">
			<form [formGroup]="infoForm" class="form form-label-right">
				<div class="form-group row">
					<div class="col-lg-4 customer-phone">
						<label class="form-label required">Số điện thoại</label>
						<div>
							<input
								disabled
								class="form-control form-control-lg form-control-solid input-phone"
								placeholder="Nhập số điện thoại"
								formControlName="phone"
								autocomplete="off"
							/>
						</div>
					</div>

					<div class="col-lg-4">
						<label class="form-label required">Tên khách hàng</label>
						<input
							disabled
							formControlName="name"
							class="form-control form-control-lg form-control-solid"
						/>
					</div>

					<div class="col-lg-4">
						<label class="form-label">Tên doanh nghiệp</label>
						<input
							disabled
							formControlName="enterpriseName"
							class="form-control form-control-lg form-control-solid"
						/>
					</div>
				</div>

				<div class="form-group row">
					<div class="col-lg-4">
						<label class="form-label">Ngày sinh</label>
						<input
							#birthDate
							disabled
							formControlName="dateOfBirth"
							class="form-control form-control-lg form-control-solid"
						/>
					</div>

					<div class="col-lg-4">
						<label class="form-label required">CMND/CCCD</label>
						<input
							disabled
							formControlName="idCard"
							class="form-control form-control-lg form-control-solid"
						/>
					</div>

					<div class="col-lg-4">
						<label class="form-label">Email</label>
						<input
							disabled
							formControlName="email"
							class="form-control form-control-lg form-control-solid"
						/>
					</div>
				</div>

				<div class="form-group row">
					<div class="col-lg-8">
						<label class="form-label required">Địa chỉ</label>
						<input
							disabled
							formControlName="address"
							class="form-control form-control-lg form-control-solid"
						/>
					</div>
				</div>
			</form>
		</div>
	</div>

	<div class="info-contract">
		<div class="card-header">
			<div class="card-title">
				<h3 class="title">Thông tin hợp đồng</h3>
			</div>
		</div>

		<div class="card-body">
			<form [formGroup]="contractForm" class="form form-label-right">
				<div class="form-group row">
					<div class="col-lg-4">
						<label class="form-label required">Loại hợp đồng</label>
						<select
							class="form-control form-control-lg form-control-solid"
							formControlName="contractTypeCode"
						>
							<option *ngFor="let item of contractTypes" [ngValue]="item.code">
								{{item.name}}
							</option>
						</select>
					</div>

					<div class="col-lg-4" *ngIf="isUpdate">
						<label class="form-label required">Mã hợp đồng</label>
						<input
							disabled
							class="form-control form-control-lg form-control-solid"
							[value]="contractDataUpdate.code"
						/>
					</div>

					<div class="col-lg-4">
						<label class="form-label required">Tên hợp đồng</label>
						<input
							class="form-control form-control-lg form-control-solid"
							placeholder="Nhập tên hợp đồng"
							maxlength="99"
							autocomplete="off"
							formControlName="name"
							trim="blur"
						/>
						<app-validate
							[control]="contractForm.controls['name']"
							[error]="'required'"
							[message]="'Tên hợp đồng không được để trống'"
						></app-validate>
						<app-validate
							[control]="contractForm.controls['name']"
							[error]="'existed'"
							[message]="'Tên hợp đồng đã tồn tại'"
						></app-validate>
					</div>

					<div class="col-lg-4" [class.mt-10]="isUpdate">
						<label class="form-label">Ngày hết hạn</label>
						<div class="input-group">
							<input
								class="form-control form-control-lg form-control-solid"
								placeholder="DD/MM/YYYY"
								ngbDatepicker
								#effectEndDate="ngbDatepicker"
								formControlName="effectEndDate"
								[minDate]="minDate"
							/>
							<div class="input-group-append">
								<button
									class="btn btn-outline-secondary fa fa-calendar-alt"
									(click)="effectEndDate.toggle()"
									type="button"
								></button>
							</div>
						</div>
						<app-validate
							[control]="contractForm.controls['effectEndDate']"
							[error]="'ngbDate'"
							[message]="'Ngày hết hạn không đúng định dạng'"
						></app-validate>
						<app-validate
							[control]="contractForm.controls['effectEndDate']"
							[error]="'afterCurrentDate'"
							[message]="'Ngày hết hạn không được nhỏ hơn ngày tạo'"
						></app-validate>
					</div>

					<div class="col-lg-4 mt-10">
						<label class="form-label">HT giao nhận</label>
						<select
							class="form-control form-control-lg form-control-solid"
							formControlName="transportMethodCode"
						>
							<option disabled [value]="null">Chọn HT giao nhận</option>
							<option *ngFor="let item of transportMethods" [value]="item.code">
								{{ item.name }}
							</option>
						</select>
					</div>

					<div class="col-lg-4 mt-10">
						<label class="form-label required">HT thanh toán</label>
						<select
							class="form-control form-control-lg form-control-solid"
							formControlName="payMethodCode"
						>
							<option disabled [value]="null">Chọn HT thanh toán</option>
							<option *ngFor="let item of paymentMethods" [value]="item.code">
								{{ item.name }}
							</option>
						</select>
						<app-validate
							[control]="contractForm.controls['payMethodCode']"
							[error]="'required'"
							[message]="'HT thanh toán không được để trống'"
						></app-validate>
					</div>

					<div class="col-lg-4 mt-10" *ngIf="contractType === eContractType.PREPAID_CONTRACT">
						<label class="form-label required">Địa chỉ ký hợp đồng</label>
						<select
							class="form-control form-control-lg form-control-solid"
							formControlName="addressContract"
						>
							<option *ngFor="let province of stationAddress" [value]="province.id">
								{{ province.name }}
							</option>
						</select>
						<app-validate
							[control]="contractForm.controls['addressContract']"
							[error]="'required'"
							[message]="'Địa chỉ ký hợp đồng không được để trống'"
						></app-validate>
					</div>

					<div class="col-lg-4 mt-10" *ngIf="contractType === eContractType.PLAN_CONTRACT">
						<label class="form-label required">Hạn mức</label>
						<div class="input-group">
							<input
								class="form-control form-control-lg form-control-solid"
								placeholder="Nhập hạn mức"
								decimal-mask
								maxlength="17"
								formControlName="limit"
							/>
						</div>
						<app-validate
							[control]="contractForm.controls['limit']"
							[error]="'required'"
							[message]="'Hạn mức không được để trống'"
						></app-validate>
						<app-validate
							[control]="contractForm.controls['limit']"
							[error]="'min'"
							[message]="'Hạn mức phải lớn hơn 0'"
						></app-validate>
					</div>

					<div class="col-lg-4 mt-10" *ngIf="contractType === eContractType.PLAN_CONTRACT">
						<label class="form-label">Ngày dự kiến TT lần 1</label>
						<div class="input-group">
							<input
								class="form-control form-control-lg form-control-solid"
								placeholder="DD/MM/YYYY"
								ngbDatepicker
								#payPlanDate1="ngbDatepicker"
								formControlName="payPlanDate1"
								[minDate]="minDate"
							/>
							<div class="input-group-append">
								<button
									class="btn btn-outline-secondary fa fa-calendar-alt"
									(click)="payPlanDate1.toggle()"
									type="button"
								></button>
							</div>
							<button
								*ngIf="payPlanDateCount===1"
								class="btn plus-icon"
								(click)="addPayPlanDate()"
							></button>
						</div>
						<app-validate
							[control]="contractForm.controls['payPlanDate1']"
							[error]="'ngbDate'"
							[message]="'Ngày dự kiến thanh toán không đúng định dạng'"
						></app-validate>
					</div>

					<div
						class="col-lg-4 mt-10"
						*ngIf="contractType === eContractType.PLAN_CONTRACT && payPlanDateCount >= 2"
					>
						<label class="form-label">Ngày dự kiến TT lần 2</label>
						<div class="input-group">
							<input
								class="form-control form-control-lg form-control-solid"
								placeholder="DD/MM/YYYY"
								ngbDatepicker
								#payPlanDate2="ngbDatepicker"
								formControlName="payPlanDate2"
								[minDate]="minDate"
							/>
							<div class="input-group-append">
								<button
									class="btn btn-outline-secondary fa fa-calendar-alt"
									(click)="payPlanDate2.toggle()"
									type="button"
								></button>
							</div>
							<button
								*ngIf="payPlanDateCount===2"
								class="btn plus-icon"
								(click)="addPayPlanDate()"
							></button>
						</div>
						<app-validate
							[control]="contractForm.controls['payPlanDate2']"
							[error]="'ngbDate'"
							[message]="'Ngày dự kiến thanh toán không đúng định dạng'"
						></app-validate>
					</div>

					<div
						class="col-lg-4 mt-10"
						*ngIf="contractType === eContractType.PLAN_CONTRACT && payPlanDateCount >= 3"
					>
						<label class="form-label">Ngày dự kiến TT lần 3</label>
						<div class="input-group">
							<input
								class="form-control form-control-lg form-control-solid"
								placeholder="DD/MM/YYYY"
								ngbDatepicker
								#payPlanDate3="ngbDatepicker"
								formControlName="payPlanDate3"
								[minDate]="minDate"
							/>
							<div class="input-group-append">
								<button
									class="btn btn-outline-secondary fa fa-calendar-alt"
									(click)="payPlanDate3.toggle()"
									type="button"
								></button>
							</div>
							<button
								*ngIf="payPlanDateCount===3"
								class="btn plus-icon"
								(click)="addPayPlanDate()"
							></button>
						</div>
						<app-validate
							[control]="contractForm.controls['payPlanDate3']"
							[error]="'ngbDate'"
							[message]="'Ngày dự kiến thanh toán không đúng định dạng'"
						></app-validate>
					</div>

					<div
						class="col-lg-4 mt-10"
						*ngIf="contractType === eContractType.PLAN_CONTRACT && payPlanDateCount >= 4"
					>
						<label class="form-label">Ngày dự kiến TT lần 4</label>
						<div class="input-group">
							<input
								class="form-control form-control-lg form-control-solid"
								placeholder="DD/MM/YYYY"
								ngbDatepicker
								#payPlanDate4="ngbDatepicker"
								formControlName="payPlanDate4"
								[minDate]="minDate"
							/>
							<div class="input-group-append">
								<button
									class="btn btn-outline-secondary fa fa-calendar-alt"
									(click)="payPlanDate4.toggle()"
									type="button"
								></button>
							</div>
							<button
								*ngIf="payPlanDateCount===4"
								class="btn plus-icon"
								(click)="addPayPlanDate()"
							></button>
						</div>
						<app-validate
							[control]="contractForm.controls['payPlanDate4']"
							[error]="'ngbDate'"
							[message]="'Ngày dự kiến thanh toán không đúng định dạng'"
						></app-validate>
					</div>

					<div
						class="col-lg-4 mt-10"
						*ngIf="contractType === eContractType.PLAN_CONTRACT && payPlanDateCount >= 5"
					>
						<label class="form-label">Ngày dự kiến TT lần 5</label>
						<div class="input-group">
							<input
								class="form-control form-control-lg form-control-solid"
								placeholder="DD/MM/YYYY"
								ngbDatepicker
								#payPlanDate5="ngbDatepicker"
								formControlName="payPlanDate5"
								[minDate]="minDate"
							/>
							<div class="input-group-append">
								<button
									class="btn btn-outline-secondary fa fa-calendar-alt"
									(click)="payPlanDate5.toggle()"
									type="button"
								></button>
							</div>
						</div>
						<app-validate
							[control]="contractForm.controls['payPlanDate5']"
							[error]="'ngbDate'"
							[message]="'Ngày dự kiến thanh toán không đúng định dạng'"
						></app-validate>
					</div>

					<div class="col-lg-8 mt-10" *ngIf="contractType === eContractType.PREPAID_CONTRACT">
						<label class="form-label">Địa chỉ chi tiết</label>
						<input disabled class="form-control" autocomplete="off" formControlName="fullAddress" />
					</div>
				</div>
			</form>
		</div>
	</div>
	<div class="list-product" *ngIf="contractType === eContractType.PREPAID_CONTRACT">
		<div class="card-header">
			<div class="card-title">
				<h3 class="title">danh sách hàng hóa</h3>
			</div>
		</div>

		<div class="card-body">
			<div class="table-responsive angular-bootstrap-table">
				<form [formGroup]="productForm">
					<table class="table table-vertical-center overflow-hidden" aria-label="">
						<thead class="thead-light">
							<tr>
								<th scope="">
									<label class="form-label">STT</label>
								</th>
								<th scope="">
									<label class="form-label required">Loại sản phẩm</label>
								</th>
								<th scope="">
									<label class="form-label required">Tên sản phẩm</label>
								</th>
								<th scope="">
									<label class="form-label">Đơn vị</label>
								</th>
								<th scope="">
									<label class="form-label required">Số lượng</label>
								</th>
								<th scope="">
									<label class="form-label">Đơn giá hiện tại (VND)</label>
								</th>
								<th scope="">
									<label class="form-label">Đơn giá chiết khấu (VND)</label>
								</th>
								<th scope="">
									<label class="form-label">Thành tiền</label>
								</th>
								<th scope="">
									<label class="form-label">Xóa</label>
								</th>
							</tr>
						</thead>

						<tbody>
							<ng-container formArrayName="products">
								<tr *ngFor="let productInfoFromGroup of productFormArray.controls; let i = index">
									<ng-container [formGroup]="productInfoFromGroup">
										<td>{{i + 1}}</td>
										<td>
											<select
												(change)="productTypeChanged($event, i)"
												class="form-control form-control-sm"
												formControlName="categoryProductId"
											>
												<option [value]="null">Chọn loại sản phẩm</option>
												<option *ngFor="let prodType of productTypes" [value]="prodType.id">
													{{prodType.name}}
												</option>
											</select>
											<app-validate
												[control]="productInfoFromGroup.get('categoryProductId')"
												[error]="'required'"
												[message]="'Loại sản phẩm được để trống'"
											></app-validate>
										</td>
										<td class="col2">
											<select
												(change)="productChanged($event, i)"
												class="form-control form-control-sm"
												formControlName="productId"
											>
												<option [value]="null">Chọn sản phẩm</option>
												<option *ngFor="let prod of products[i]" [value]="prod.id">
													{{prod.name}}
												</option>
											</select>
											<app-validate
												[control]="productInfoFromGroup.get('productId')"
												[error]="'required'"
												[message]="'Sản phẩm được để trống'"
											></app-validate>
										</td>
										<td class="col3" [textContent]="productInfoFromGroup.get('unit').value"></td>
										<td class="col4">
											<input
												(input)="updateTotalProduct(i)"
												placeholder="Nhập số lượng"
												class="form-control form-control-sm"
												formControlName="amount"
												maxlength="6"
												numbersOnly
												[numberformControl]="productInfoFromGroup.get('amount')"
											/>
											<app-validate
												[control]="productInfoFromGroup.get('amount')"
												[error]="'required'"
												[message]="'Số lượng được để trống'"
											></app-validate>
											<app-validate
												[control]="productInfoFromGroup.get('amount')"
												[error]="'min'"
												[message]="'Số lượng phải lớn hơn 0'"
											></app-validate>
										</td>
										<td
											class="col5"
											[textContent]="productInfoFromGroup.get('price').value | number | vnCurrency"
										></td>
										<td
											class="col6"
											[textContent]="productInfoFromGroup.get('discount').value | number| vnCurrency"
										></td>
										<td
											class="col7"
											[textContent]="productInfoFromGroup.get('totalMoney').value | number | vnCurrency"
										></td>
										<td class="col8">
											<a
												*ngIf="i > 0 || productFormArray.length >= 2"
												(click)="deleteProduct(i)"
												class="btn btn-icon btn-light btn-hover-danger btn-sm"
											>
												<span
													[inlineSVG]="'./assets/media/svg/icons/General/Trash.svg'"
													cacheSVG="true"
													class="svg-icon svg-icon-md svg-icon-danger"
													[ngbTooltip]="'Xóa'"
												>
												</span>
											</a>
										</td>
									</ng-container></tr
							></ng-container>
						</tbody>

						<tfoot>
							<tr>
								<td>
									<a
										*ngIf="productFormArray.length < 5"
										(click)="addProduct()"
										class="btn btn-icon btn-light btn-hover-primary btn-sm"
									>
										<span
											[inlineSVG]="'./assets/media/svg/icons/Code/Plus.svg'"
											cacheSVG="true"
											class="svg-icon svg-icon-md svg-icon-primary"
											[ngbTooltip]="'Thêm'"
										>
										</span>
									</a>
								</td>
								<td colspan="4"></td>
								<td colspan="2">Tổng tiền thanh toán</td>
								<td [textContent]="getTotal() | number | vnCurrency"></td>
								<td></td>
							</tr>
						</tfoot>
					</table>
				</form>
			</div>
		</div>
	</div>

	<div class="upload-file">
		<div class="card-header">
			<div class="card-title">
				<h3 class="title">Thông tin hồ sơ</h3>
			</div>
		</div>

		<div class="card-body">
			<div class="form-group row">
				<div class="col-lg-2 d-flex align-items-center">File đính kèm</div>
				<div class="col-lg-10 row">
					<div class="col-lg-12">
						<input #fileChoose multiple type="file" (change)="addFiles($event)" hidden />
						<button class="btn btn-outline-primary mr-3" (click)="fileChoose.click()">
							Đính kèm file
						</button>
						<button class="btn btn-outline-primary ml-3" (click)="removeFile('ALL')">
							Xóa tất cả
						</button>
					</div>
					<div class="col-lg-12 mt-2">
						<div
							class="file form-control form-control-lg form-control-solid w-50 mt-2 mb-2"
							*ngFor="let file of filesUploaded; let i = index"
							[ngbTooltip]="file.name"
							[placement]="'right'"
						>
							<div *ngIf="filesUploadProgress[i] < 100">
								<ngb-progressbar type="success" [value]="filesUploadProgress[i]"></ngb-progressbar>
							</div>
							<em class="fa fa-times" (click)="removeFile('ONE',file.id)"></em>
							<span>{{file.name|stringMaxLength: 35}}</span>
						</div>
						<span class="text-warning mt-3">Dung lượng file tối đa 5Mb và tối đa 10 file</span>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="w-100 d-flex justify-content-center pb-10">
		<button
			class="btn btn-outline-secondary font-weight-bold m-2"
			(click)="save(eContractStatus.DRAFT)"
		>
			Lưu nháp
		</button>
		<button
			class="btn btn-primary font-weight-bold m-2"
			(click)="save(eContractStatus.WAITING_ACCEPT)"
		>
			Gửi duyệt
		</button>
	</div>
</div>
