.card-inssuance-request-step-send {
  background-color: white;
  border-top: 1px solid #bdbdbd;
  padding: 0px 10px;
  height: 100%;
  .content-title {
    color: #17589f;
    border-bottom: 2px solid #F47326;
    padding: 8px 0px;
    align-self: center;
    font-size: 16px;
    font-weight: 500;
    place-self: flex-start;
  }
  .form-detail {
    .row-fields {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      .form-search-title {
        span {
          font-weight: 500;
          font-size: 16px;
          color: #17589f;
        }
      }
      .field {
        max-width: 50%;
        width: calc(50% - 16px);
        margin-bottom: 16px;
        .txtLabel {
          font-weight: 500;
          color: #17589f;
        }
      }
      span {
        font-weight: 500;
        color: #17589f;
      }
    }
  }
  .btn-action {
    margin-top: 24px;
    &-send {
      background-color: #F47326;
      border:1px solid #F47326;
    }
    &-back {
      background-color: #6c757d;
      border:1px solid #6c757d;
    }
  }
}
.form-control:focus {
  box-shadow: unset !important;
}
button:focus {
  outline: none !important;
  box-shadow: none !important;

}
