table thead th {
  text-transform: none;
}

table {
  min-width: 1024px;

  td {
    &.code {
      width: 100px;
    }
    &.name {
      width: 200px;
    }
    &.location {
      width: 400px;
    }
    &.status {
      width: 100px;
    }
    &.action {
      width: 100px;
    }
  }

  .location {
    max-width: 350px;
  }

  tr {
    &:hover {
      background-color: #f3f6f9;

      td {
        .btn.btn-light {
          background-color: #ffffff;
        }
      }
    }
  }
}

.card-toolbar {
  gap: 50px;
  .search-form {
    position: relative;
    display: flex;
    align-items: center;

    i {
      position: absolute;
      left: 10px;
      top: 7px;
    }

    input {
      padding-left: 30px;
    }
  }

  button {
    width: 110px;
  }
}
