<div class="card card-custom gutter-b">
  <div class="card-header">
    <div class="card-title">
      <h3 class="card-label">Danh sách trạm</h3>
    </div>
    <div class="card-toolbar">
      <button type="button" class="btn btn-primary" [routerLink]="['/tram-xang/them-tram-xang']">
        Thêm mới
      </button>
    </div>
  </div>
  <div class="card-body">
    <div class="table-responsive angular-bootstrap-table">
      <table class="table table-head-custom table-vertical-center overflow-hidden">
        <thead>
          <th>
            Mã trạm
            <app-sort-icon column="code"></app-sort-icon>
          </th>
          <th>
            Tên trạm
            <app-sort-icon column="name"></app-sort-icon>
          </th>
          <th>
            Địa chỉ
            <app-sort-icon column="location"></app-sort-icon>
          </th>
          <th>
            Trạng thái
            <app-sort-icon column="Status"></app-sort-icon>
          </th>
          <th>Tác động</th>
        </thead>
        <tbody>
          <tr *ngFor="let product of dataSource">
            <td>{{ product.code }}</td>
            <td>{{ product.name }}</td>
            <td>{{ product.location }}</td>
            <td>
              <span
                class="label label-lg label-inline"
                [class.label-light-success]="product.status"
                [class.label-light-danger]="!product.status"
              >
                <ng-container *ngIf="product.status">Hoạt động</ng-container>
                <ng-container *ngIf="!product.status">Không hoạt động</ng-container>
              </span>
            </td>

            <td>
              <a title="Edit product" class="btn btn-icon btn-light btn-hover-primary btn-sm mx-3">
                <span
                  [inlineSVG]="'./assets/media/svg/icons/Communication/Write.svg'"
                  cacheSVG="true"
                  class="svg-icon svg-icon-md svg-icon-primary"
                >
                </span>
              </a>
              <a title="Delete product" class="btn btn-icon btn-light btn-hover-danger btn-sm">
                <span
                  [inlineSVG]="'./assets/media/svg/icons/General/Trash.svg'"
                  cacheSVG="true"
                  class="svg-icon svg-icon-md svg-icon-danger"
                >
                </span>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
