<div class="card card-custom gutter-b mt-1">
  <div class="card-header">
    <div class="card-title">
      <h3 class="card-label">Danh sách nhóm sản phẩm</h3>
    </div>

    <div class="card-toolbar row">
      <div class="search-form">
        <i class="flaticon-search"></i>
        <input
          type="text"
          name="searchText"
          placeholder="Search..."
          class="form-control"
          [formControl]="searchFormControl"
        />
      </div>
      <button type="button" class="btn btn-primary" (click)="createModal()">Thêm mới</button>
    </div>
  </div>
  <div class="card-body">
    <div class="table-responsive angular-bootstrap-table">
      <table class="table table-head-custom table-vertical-center overflow-hidden">
        <thead>
          <th>
            Mã nhóm
            <app-sort-icon
              column="code"
              [activeColumn]="sorting.column"
              [activeDirection]="sorting.direction"
              (sort)="sort($event)"
            ></app-sort-icon>
          </th>
          <th>
            Tên nhóm
            <app-sort-icon
              column="name"
              [activeColumn]="sorting.column"
              [activeDirection]="sorting.direction"
              (sort)="sort($event)"
            ></app-sort-icon>
          </th>
          <th>
            Mô tả
            <app-sort-icon
              column="description"
              [activeColumn]="sorting.column"
              [activeDirection]="sorting.direction"
              (sort)="sort($event)"
            ></app-sort-icon>
          </th>
          <th>
            Trạng thái
            <app-sort-icon
              column="status"
              [activeColumn]="sorting.column"
              [activeDirection]="sorting.direction"
              (sort)="sort($event)"
            ></app-sort-icon>
          </th>
          <th class="text-center">Tác động</th>
        </thead>
        <tbody>
          <tr *ngFor="let item of dataSource" (click)="viewListProduct($event)">
            <td class="code">
              <p class="cursor-pointer text-ellipsis" placement="top" [ngbTooltip]="item.code">
                {{ item.code }}
              </p>
            </td>

            <td class="name">
              <p class="cursor-pointer text-ellipsis" placement="top" [ngbTooltip]="item.name">
                {{ item.name }}
              </p>
            </td>

            <td class="description">
              <p
                class="cursor-pointer text-ellipsis"
                placement="top"
                [ngbTooltip]="item.description"
              >
                {{ item.description }}
              </p>
            </td>

            <td class="status">
              <span
                class="label label-lg label-inline"
                [class.label-light-success]="item.status === listStatus.ACTIVE"
                [class.label-light-danger]="item.status !== listStatus.ACTIVE"
              >
                <ng-container *ngIf="item.status === listStatus.ACTIVE">Hoạt động</ng-container>
                <ng-container *ngIf="item.status !== listStatus.ACTIVE">
                  Không hoạt động
                </ng-container>
              </span>
            </td>

            <td class="text-center action">
              <a
                *ngIf="item.type !== 'OIL'"
                (click)="createModal($event, item)"
                class="btn btn-icon btn-light btn-hover-primary btn-sm mx-3"
              >
                <span
                  [inlineSVG]="'./assets/media/svg/icons/Communication/Write.svg'"
                  cacheSVG="true"
                  class="svg-icon svg-icon-md svg-icon-primary"
                  [ngbTooltip]="'Sửa'"
                >
                </span>
              </a>
              <a
                *ngIf="item.type !== 'OIL'"
                (click)="deleteProductType($event, item)"
                class="btn btn-icon btn-light btn-hover-danger btn-sm"
              >
                <span
                  [inlineSVG]="'./assets/media/svg/icons/General/Trash.svg'"
                  cacheSVG="true"
                  class="svg-icon svg-icon-md svg-icon-danger"
                  [ngbTooltip]="'Xóa'"
                >
                </span>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<!--<p>list-product-type works!</p>-->
<!--<button (click)="createModal()">Create</button>-->
<!--<button (click)="createModal({productType :'duy', productName :'duytd', description: 'data test', status: 'ACTIVE'})">Edit</button>-->
