.card-header {
  border-bottom: 0;
}

.card-body {
  padding-top: 0 !important;
}

.search-result {
  padding: 0 1em;
  line-height: 35px;
  background: #e3f1ff;
  .card-toolbar {
    gap: 50px;
  }
}

.btn-def {
  min-width: 110px;
}

table {
  min-width: 1024px;
  thead {
    tr {
      &:hover {
        background-color: #fff;
      }

      th {
        text-transform: none;
      }
    }
  }

  td {
    &.code,
    &.created-at,
    &.approval-date,
    &.license-plates,
    &.driver-name,
    &.store-import {
      min-width: 140px;
      max-width: 160px;
    }
    &.order-form {
      min-width: 160px;
    }
    &.status {
      min-width: 130px;
      max-width: 150px;
    }
  }
}
