<div class="card card-custom gutter-b mt-1">
	<div class="info-request pb-0 mt-2">
		<div class="card-header">
			<div class="card-title mb-0">
				<h3 class="title">Mã đặt kho: 123456</h3>
			</div>
		</div>
	</div>

	<div class="info-request-in">
		<div class="card-header">
			<div class="card-title">
				<h3 class="title">Thông tin bên nhận hàng</h3>
			</div>
		</div>

		<div class="card-body">
			<div class="form-group row">
				<div class="col-lg-6 row">
					<div class="col-lg-5">
						<label class="form-label">Mã yêu cầu</label>
					</div>

					<div class="col-lg-7">
						<label class="form-label font-weight-bold">654321</label>
					</div>
				</div>

				<div class="col-lg-6 row">
					<div class="col-lg-5">
						<label class="form-label">Người đại diện</label>
					</div>

					<div class="col-lg-7">
						<label class="form-label font-weight-bold">ABC</label>
					</div>
				</div>
			</div>

			<div class="form-group row">
				<div class="col-lg-6 row">
					<div class="col-lg-5">
						<label class="form-label">Kho nhận</label>
					</div>

					<div class="col-lg-7">
						<label class="form-label font-weight-bold">Tổng công ty</label>
					</div>
				</div>

				<div class="col-lg-6 row">
					<div class="col-lg-5">
						<label class="form-label">Địa chỉ</label>
					</div>

					<div class="col-lg-7">
						<label class="form-label font-weight-bold">Tổng công ty</label>
					</div>
				</div>
			</div>
		</div>
	</div>

    <div class="info-request-in">
		<div class="card-header">
			<div class="card-title">
				<h3 class="title">Thông tin đặt kho</h3>
			</div>
		</div>

		<div class="card-body">
			<div class="form-group row">
				<div class="col-lg-6 row">
					<div class="col-lg-5">
						<label class="form-label">Hình thức đặt kho</label>
					</div>

					<div class="col-lg-7">
						<label class="form-label font-weight-bold">Nhà cung cấp</label>
					</div>
				</div>

				<div class="col-lg-6 row">
					<div class="col-lg-5">
						<label class="form-label">Hình thức thanh toán</label>
					</div>

					<div class="col-lg-7">
						<label class="form-label font-weight-bold">Chuyển khoản</label>
					</div>
				</div>
			</div>

			<div class="form-group row">
				<div class="col-lg-6 row">
					<div class="col-lg-5">
						<label class="form-label">Kho xuất</label>
					</div>

					<div class="col-lg-7">
						<label class="form-label font-weight-bold">Tổng công ty</label>
					</div>
				</div>

				<div class="col-lg-6 row">
					<div class="col-lg-5">
						<label class="form-label">Địa chỉ kho xuất</label>
					</div>

					<div class="col-lg-7">
						<label class="form-label font-weight-bold">Tổng công ty</label>
					</div>
				</div>
			</div>
		</div>
	</div>

    <div class="info-request-in">
		<div class="card-header">
			<div class="card-title">
				<h3 class="title">Thông tin vận tải</h3>
			</div>
		</div>

		<div class="card-body">
			<div class="form-group row">
				<div class="col-lg-6 row">
					<div class="col-lg-5">
						<label class="form-label">Sử dụng xe Sunoil</label>
					</div>

					<div class="col-lg-7">
						<label class="form-label font-weight-bold">Có</label>
					</div>
				</div>

				<div class="col-lg-6 row">
					<div class="col-lg-5">
						<label class="form-label">Hình thức thanh toán cước xe</label>
					</div>

					<div class="col-lg-7">
						<label class="form-label font-weight-bold">Tiền mặt</label>
					</div>
				</div>
			</div>

			<div class="form-group row">
				<div class="col-lg-6 row">
					<div class="col-lg-5">
						<label class="form-label">Cước vận tải/lít</label>
					</div>

					<div class="col-lg-7">
						<label class="form-label font-weight-bold">10.000vnđ</label>
					</div>
				</div>

				<div class="col-lg-6 row">
					<div class="col-lg-5">
						<label class="form-label">Thành tiền</label>
					</div>

					<div class="col-lg-7">
						<label class="form-label font-weight-bold">10.100vnđ</label>
					</div>
				</div>
			</div>

            <div class="form-group row">
				<div class="col-lg-6 row">
					<div class="col-lg-5">
						<label class="form-label">Biển số xe sử dụng</label>
					</div>

					<div class="col-lg-7">
						<label class="form-label font-weight-bold">29Z1-53843</label>
					</div>
				</div>

				<div class="col-lg-6 row">
					<div class="col-lg-5">
						<label class="form-label">Dung tích</label>
					</div>

					<div class="col-lg-7">
						<label class="form-label font-weight-bold">4300L</label>
					</div>
				</div>
			</div>

            <div class="form-group row">
				<div class="col-lg-6 row">
					<div class="col-lg-5">
						<label class="form-label">Lái xe</label>
					</div>

					<div class="col-lg-7">
						<label class="form-label font-weight-bold">Hồng Thất Công</label>
					</div>
				</div>
			</div>
		</div>
	</div>

    <div class="info-request-in">
		<div class="card-header">
			<div class="card-title">
				<h3 class="title">Danh sách hàng hoá</h3>
			</div>
		</div>

        <div class="card-body">
            <div class="table-responsive angular-bootstrap-table">
                <table class="table table-vertical-center overflow-hidden" aria-label="">
                    <thead class="thead-light">
                        <tr>
                            <th scope="">
                                <label class="form-label">STT</label>
                            </th>
                            <th scope="">
                                <label class="form-label">Tên sản phẩm</label>
                            </th>
                            <th scope="">
                                <label class="form-label">Đơn vị</label>
                            </th>
                            <th class='text-right' scope="">
                                <label class="form-label">Số lượng</label>
                            </th>
                            <th class="text-right" scope="">
                                <label class="form-label">Bồn xuất</label>
                            </th>
                            <th class="text-right" scope="">
                                <label class="form-label">Ngăn</label>
                            </th>
                            <th class="text-right" scope="">
                                <label class="form-label">Bồn nhập</label>
                            </th>
                            <th class="text-right" scope="">
                                <label class="form-label">Đơn giá(VNĐ)</label>
                            </th>
                            <th class="text-right" scope="">
                                <label class="form-label">Nguồn hàng</label>
                            </th>
                            <th class="text-right" scope="">
                                <label class="form-label">Thành tiền</label>
                            </th>
                        </tr>
                    </thead>
    
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Dầu đốt</td>
                            <td>Lít</td>
                            <td class='text-right'>160</td>
                            <td class="text-right">N2</td>
                            <td class="text-right">N2</td>
                            <td class="text-right">
                                160
                            </td>
                            <td class="text-right">
                                100
                            </td>
                            <td class="text-right">
                                Nhà cung cấp
                            </td>
                            <td class="text-right">
                                160000
                            </td>
                        </tr>
                    </tbody>
    
                    <tfoot>
                        <tr>
                            <td colspan="6"></td>
                            <td colspan="3" class="text-right"><strong>Tổng tiền thanh toán</strong></td>
                            <td colspan="1" class="text-right"><strong>700000</strong></td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
	</div>

	<div class="reason-refusal">
		<div class="card-header">
			<div class="card-title">
				<span class="title-reason">Lý do từ chối:</span>
				<span class="title-reason pl-5">Thích chối bỏ</span>
			</div>
		</div>
	</div>

	<div class="w-100 d-flex justify-content-center pb-10">
		<button type="button" class="btn btn-outline-danger mr-3">Từ chối</button>
		<button type="button" class="btn btn-primary mr-3">Phê duyệt</button>
        <button type="button" class="btn btn-outline-primary mr-3">Yêu cầu điều chỉnh</button>
	</div>
</div>
