.titleSearch {
    padding-top: 15px;
    border-bottom: 1px solid #BDBDBD;
    padding-bottom: 15px;
    font-weight: 500;
    font-size: 18px;
}


/* .colLeft{
    float: left;
    padding-bottom: 50px;
}
.colRight{
    float: left;
} */

.txt {
    padding-top: calc(.375rem + 1px);
}

.table tr th {
    background: #EFF4FF;
    border: 1px solid #DFD9D9;
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    font-style: normal;
}

.table tr td {
    border: 1px solid #DFD9D9;
}

.ft {
    clear: both;
    height: 57px;
    background: #23388F;
}


/* menu trêe */

.example-tree-invisible {
    display: none;
}

.footer-row {
    padding: 0px;
    background: #23388F;
    position: fixed;
    bottom: 0px;
    width: 100%;
    left: 0px;
    margin: 0px;
}

.footer {
    padding: 6px;
}

.example-tree ul,
.example-tree li {
    margin-top: 0;
    margin-bottom: 0;
    list-style-type: none;
}

.example-tree-progress-bar {
    margin-left: 30px;
}

.example-tree-nested-node {
    padding-left: 30px;
}


