<div class='modal-content'>
  <div class='modal-header'>
    <h4 class='modal-title' id='modal-title'>{{ data.title }}</h4>
    <div class='close-icon' (click)='modal.close()'></div>
  </div>
  <div class='modal-body' style='padding-top: 0 !important'>
    <div class='overlay overlay-block cursor-default modal-body' style='min-height: 250px'>
      <strong>
        Bạn có chắc chắn muốn chốt ca và mở ca làm việc tiếp theo?
      </strong>

      <form [formGroup]="confirmForm" class="form form-label-right">
        <div class="form-group row pt-5">
          <div class="col-lg-4">
            <label class="form-label required">Ca làm việc</label>
          </div>

          <div class='col-lg-8'>
            <select class="form-control form-control-solid" formControlName="shiftId">
              <option [value]="''">Chọn ca làm việc</option>
              <option *ngFor='let item of listShifts' [value]='item.id'>{{item.name}}</option>
            </select>

            <app-validate
              [control]="confirmForm.controls['shiftId']"
              [error]="'required'"
              [message]="'Ca làm việc không được để trống'"
            ></app-validate>
          </div>
        </div>
      </form>

      <div class="table-responsive angular-bootstrap-table">
        <table class="table table-head-custom table-vertical-center overflow-hidden" aria-label="">
          <thead>
          <th scope="">STT</th>
          <th scope="" class=''>Nhân viên</th>
          <th scope="" class=''>Cột</th>
          <th scope="" class=''>Thời gian</th>
          <th scope="" class='text-center'>Trưởng ca</th>
          </thead>

          <tbody>
          <tr *ngFor="let item of dataSource.controls; let i = index" [formGroup]="item">
            <td class="stt">
              <p
                class="cursor-pointer text-ellipsis"
                placement="top"
                [ngbTooltip]="i+1"
              >
                {{ i+1 }}
              </p>
            </td>
            <td class="employee-name">
              <p
                class="cursor-pointer text-ellipsis"
                placement="top"
                [ngbTooltip]="item.get('employeeName').value"
              >
                {{ item.get('employeeName').value}}
              </p>
            </td>
            <td class="pump-pole text-color-custom">
              <p
                class="cursor-pointer text-ellipsis"
                placement="top"
                [ngbTooltip]="item.get('pumpPole').value"
              >
                {{ item.get('pumpPole').value }}
              </p>
            </td>
            <td class="time text-color-custom">
              <p
                class="cursor-pointer text-ellipsis"
                placement="top"
                [ngbTooltip]="item.get('offTimes').value"
              >
                {{ item.get('offTimes').value }}
              </p>
            </td>
            <td class='text-center'>
              <input type="radio" [value]='item.get("shiftLead")' name='shiftLead' formControlName='shiftLead'>
            </td>
          </tr>
          </tbody>

          <tfoot>
          <tr *ngIf="dataSource?.length === 0">
            <td colspan="5" class="text-center" style="color: #ccc">Không có nhân viên nào</td>
          </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </div>
  <div class='modal-footer'>
    <button type='button' class='btn btn-outline-secondary btn-confirm-dialog' (click)='onClose()'>
      Hủy
    </button>
    <button type='button' class='btn btn-primary btn-confirm-dialog' #btnSave>Xác nhận</button>
  </div>
</div>
