stages:
  - install
  - build
  - deploy

install_dependencies_master:
  image: node:14
  stage: install
  cache:
    key:
      files:
        - yarn.lock
    paths:
      - node_modules
  script:
    - yarn install
    - yarn ngcc --properties es2015 --create-ivy-entry-points
  only:
    refs:
      - master
    changes:
      - yarn.lock

build_master:
  only:
    - master
  stage: build
  environment:
    name: master
    url: https://sun-oil.web.app
  image: node:14
  cache:
    key:
      files:
        - yarn.lock
    paths:
      - node_modules
    policy: pull
  before_script:
    - node -v
    - npm -v
    - yarn
  script:
    - yarn build-prod
  artifacts:
    expire_in: 1 day
    paths:
      - dist/

deploy_master:
  only:
    - master
  stage: deploy
  environment:
    name: master
    url: https://sun-oil.web.app
  image: andreysenov/firebase-tools:9.13.1-node12
  script:
    - firebase deploy --only hosting:production -m "Pipeline $CI_PIPELINE_ID, build $CI_BUILD_ID" --token $FIREBASE_TOKEN

install_dependencies_develop:
  image: node:14
  stage: install
  cache:
    key:
      files:
        - yarn.lock
    paths:
      - node_modules
  script:
    - yarn install
    - yarn ngcc --properties es2015 --create-ivy-entry-points
  only:
    refs:
      - develop
    changes:
      - yarn.lock

build_develop:
  only:
    - develop
  stage: build
  image: node:14
  cache:
    key:
      files:
        - yarn.lock
    paths:
      - node_modules
    policy: pull
  before_script:
    - node -v
    - npm -v
    - yarn
  script:
    - yarn build-staging
  artifacts:
    expire_in: 1 day
    paths:
      - dist/

deploy_develop:
  only:
    - develop
  stage: deploy
  environment:
    name: develop
    url: https://sun-oil-staging.web.app
  image: andreysenov/firebase-tools:9.13.1-node12
  script:
    - firebase deploy --only hosting:staging -m "Pipeline $CI_PIPELINE_ID, build $CI_BUILD_ID" --token $FIREBASE_TOKEN
