@import "/src/app/shared/styles/palette.style.scss";

.sender-form-container {
  padding: 5px 15px 70px 15px;
}

table {
  width: 100%;

  td {
    border: none;
    vertical-align: top;
  }

  th,
  td:first-child:nth-last-child(5),
  th,
  td:first-child:nth-last-child(5) ~ th,
  td {
    width: 1/4 * 96%;
    padding: 5px 15px;
  }

  th,
  td:first-child:nth-last-child(6),
  th,
  td:first-child:nth-last-child(6) ~ th,
  td {
    width: 1/5 * 96%;
    padding: 5px 15px;
  }

  th,
  td:last-child {
    width: 4%;
  }

  th {
    padding-bottom: 10px;
  }
}

.delete-btn {
  all: unset;
  cursor: pointer;
  margin-top: 5px;
  color: #000000;
  i {
    font-size: 20px;
  }
  :hover {
    color: $error-main;
  }
}

.delete-btn:disabled, .delete-btn[disabled] {
  pointer-events: none;
}

.haveError{
  border-color: $error-light !important;
}
