<div class="px-4 py-2">
    <div class="border border-radius-panel p-2 bg-info-customer">
        <div class="text-high-light fw-bolder"> <i class="fa fa-credit-card-alt text-high-light mr-2"></i> Thông tin nhà
            cung cấp
        </div>
        <div class="d-flex mt-3">
            <div class="col-4">
                <label for="">Nhà cung cấp</label>
                <div class="fw-bolder">
                    <span> {{rootData?.supplierName}} </span>
                </div>
            </div>
            <div class="col-8">
                <label for="">Mã khách hàng</label>
                <div class="fw-bolder text-uppercase">
                    <span>{{rootData?.custId}}</span>
                </div>
            </div>
        </div>
    </div>

    <div class="mt-4">
        <div class="border border-radius-panel p-2 bg-info-customer">
            <div class="text-high-light fw-bolder"> <i class="fa fa-credit-card-alt text-high-light mr-2"></i> Thông tin
                khách hàng
            </div>
            <div class="d-flex flex-wrap mt-3">
                <div class="col-4">
                    <label for="">Họ và tên</label>
                    <div class="fw-bolder text-uppercase">
                        {{rootData?.custName}}
                    </div>
                </div>
                <div class="col-4">
                    <label for="">SĐT</label>
                    <div class="fw-bolder">
                        {{rootData?.custMobile}}
                    </div>
                </div>
                <div class="col-4">
                    <label for="">Email</label>
                    <div class="fw-bolder">
                        {{rootData?.custEmail}}
                    </div>
                </div>
                <div class="col-12 mt-2">
                    <label for="">Địa chỉ</label>
                    <div class="fw-bolder">
                        {{rootData?.custDesc}}
                    </div>
                </div>
            </div>
        </div>
        <div class="border border-radius-panel p-2 bg-info-customer mt-4">
            <div class="text-high-light fw-bolder"><i class="fa fa-credit-card-alt text-high-light mr-2"></i> Thông tin
                tài khoản ghi nợ
            </div>
            <div class="d-flex mt-3">
                <div class="col-4">
                    <label for="">Số CIF</label>
                    <div class="fw-bolder">
                        <span>{{rootData?.cif}}</span>
                    </div>
                </div>
                <div class="col-4">
                    <label for="">Số TKTT</label>
                    <div class="fw-bolder">
                        <span>{{rootData?.acNumber}}</span>
                    </div>
                </div>
                <div class="col-4">
                    <label for="">Chủ tài khoản</label>
                    <div class="fw-bolder text-uppercase">
                        <span>{{rootData?.acName}}</span>
                    </div>
                </div>
            </div>
            <div class="d-flex mt-3">
                <div class="col-4">
                    <label for="">Ngày thanh toán định kỳ</label>
                    <div class="fw-bolder">
                        <span>Ngày {{rootData?.settleDate}} hàng tháng</span>
                    </div>
                </div>
                <div class="col-4">
                    <label for="">Loại thanh toán</label>
                    <div class="fw-bolder">
                        <span>{{rootData?.paymentRuleName}}</span>
                    </div>
                </div>
                <div class="col-4">
                    <label for="">Email</label>
                    <div class="fw-bolder">                        
                        <span class="text-break">{{rootData?.email}}</span>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>