<div class="card card-custom gutter-b mt-1">
  <div class="card-header">
    <div class="card-title">
      <h3 class="title">Thông tin yêu cầu</h3>
    </div>
  </div>
  <div class="card-body">
    <form class="form form-label-right">
      <div class="form-group row">
        <div class="col-lg-6">
          <label>Trạm</label>
          <select class="form-control form-control-solid w-75">
            <option [value]="''">Tất cả</option>
            <option [value]="''">Tất cả</option>
            <option [value]="''">Tất cả</option>
          </select>
        </div>

        <div class="col-lg-6">
          <label>Địa chỉ</label>
          <input
            type="text"
            class="form-control form-control-solid w-75"
            placeholder="Chọn trạm"
          />
        </div>
      </div>

      <div class="form-group row">
        <div class="col-lg-6">
          <label>Ngày dự kiến nhập hàng</label>

          <div class="input-group w-75">
            <input
              class="form-control form-control-solid"
              placeholder="DD/MM/YYYY"
              ngbDatepicker
              readonly
              #startAt="ngbDatepicker"
            />
            <div class="input-group-append">
              <button
                class="btn btn-outline-secondary fa fa-calendar-alt"
                (click)="startAt.toggle()"
                type="button"
              ></button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>


  <div class="card-header pt-5">
    <div class="card-title">
      <h3 class="title">Danh sách hàng hóa</h3>
    </div>
  </div>

  <div class="card-body">
    <div class="table-responsive angular-bootstrap-table">
      <table class="table table-head-custom table-vertical-center overflow-hidden" aria-label="">
        <thead>
        <tr>
          <th scope=''>STT</th>
          <th scope=''>Tên sản phẩm</th>
          <th scope=''>Đơn vị</th>
          <th scope=''>Bồn</th>
          <th scope=''>Lượng đề xuất</th>
          <th scope=''>Xóa</th>
        </tr>
        </thead>
      </table>
    </div>
  </div>
</div>
