.card-toolbar {
  gap: 50px;

  button {
    width: 110px;
  }

  .option-type {
    padding-top: 6px;

    select {
      width: 170px;
    }
  }
}

.card.card-custom {
  box-shadow: none !important;

  .card-body,
  .card-header {
    border: 0;
  }
}


table {
  min-width: 1024px;

  thead {
    th {
      text-transform: none;
      &.price {
        padding-right: 47px;
      }
    }
  }

  td {
    &.id {
      min-width: 60px;
    }
    &.category-name,
    &.product-name {
      min-width: 170px;
      max-width: 220px;
    }
    &.price,
    &.unit {
      min-width: 80px;
      max-width: 130px;
      padding-right: 70px;
    }
    &.vat {
      min-width: 80px;
      max-width: 130px;
      padding-right: 35px;
    }
    &.qr-code {
      min-width: 100px;
      max-width: 150px;
    }
  }

}

