<div class="card card-custom gutter-b mt-1">
  <div class="card-header">
    <div class="card-title">
      <h3 class="card-label">Danh sách QR code sản phẩm</h3>
    </div>

    <div class="card-toolbar row">
      <div class="search-form">
        <em class="flaticon-search"></em>
        <input
          type="text"
          name="searchText"
          placeholder="Search..."
          class="form-control"
        />
      </div>
    </div>
  </div>

  <div class="card-body">
    <div class="table-responsive angular-bootstrap-table">
      <table class="table table-head-custom table-vertical-center overflow-hidden">
        <thead>
        <th class="id text-right" scope="">ID</th>
        <th class="category" scope="">Nhóm sản phẩm</th>
        <th class="name" scope="">Tên sản phẩm</th>
        <th class="number text-right" scope="">Giá bán</th>
        <th class="unit" scope="">Đơn vị</th>
        <th class="vat text-right" scope="">VAT (%)</th>
        <th class="qr-code text-center" scope="">QR Code</th>
        <th class="status" scope="">Trạng thái</th>
        <th class="action text-center" scope="">Tác động</th>
        </thead>

        <tbody>
        <tr *ngFor='let item of dataRes'>
          <td class="id text-right">
            <p class="cursor-pointer text-ellipsis" placement="top" [ngbTooltip]="item.id">
              {{ item.id }}
            </p>
          </td>
          <td class="product-type">
            <p class="cursor-pointer text-ellipsis" placement="top" [ngbTooltip]="item.productType">
              {{ item.productType }}
            </p>
          </td>
          <td class="product-name">
            <p class="cursor-pointer text-ellipsis" placement="top" [ngbTooltip]="item.productName">
              {{ item.productName }}
            </p>
          </td>

          <td class="price text-right">
            <p
              class="cursor-pointer text-ellipsis"
              placement="top"
              [ngbTooltip]="item.price.toLocaleString('en-US')"
            >
              {{ item.price.toLocaleString('en-US') }}
            </p>
          </td>
          <td class="unit">
            <p class="cursor-pointer text-ellipsis" placement="top" [ngbTooltip]="item.unit">
              {{ item.unit }}
            </p>
          </td>
          <td class="vat text-right">
            <p class="cursor-pointer text-ellipsis" placement="top" [ngbTooltip]="item.vat">
              {{ item.vat }}
            </p>
          </td>
          <td class="qr-code">
            <p class="cursor-pointer text-center" placement="top" ngbTooltip="Mã qr code">
              <em class="fas fa-qrcode" (click)='viewQrCode(content, item)'></em>
            </p>
          </td>
          <td class="status">
							<span
                class="label label-lg label-inline"
                [class.label-light-success]="item.status === listStatus.ACTIVE"
                [class.label-light-danger]="item.status !== listStatus.ACTIVE"
              >
								<ng-container *ngIf="item.status === listStatus.ACTIVE">Hoạt động</ng-container>
								<ng-container *ngIf="item.status === listStatus.INACTIVE">
									Không hoạt động
								</ng-container>
							</span>
          </td>
          <td class="action text-center">
            <a
              class="btn btn-icon btn-light btn-hover-primary btn-sm mx-3"
            >
								<span
                  [inlineSVG]="'./assets/media/svg/icons/Files/Download.svg'"
                  cacheSVG="true"
                  class="svg-icon svg-icon-md svg-icon-primary"
                  [ngbTooltip]="'Tải QR Code'"
                >
								</span>
            </a>
          </td>

          <ng-template #content let-c='close' let-d='dismiss'>
            <div class='modal-header'>
              <h4 class='modal-title'>QR Code: {{item.productName}}</h4>
              <div class="close-icon" (click)="d('Cross click')"></div>
            </div>
            <div class='modal-body'>
              <div class='row'>
                <div class='col-12 text-center'>
                  <img src='{{image}}' class='img-fluid' alt=''>
                </div>
              </div>
            </div>
          </ng-template>
        </tr>
        </tbody>

        <tfoot *ngIf="dataRes?.length === 0">
        <tr>
          <td colspan="10" class="text-center" style="color: #ccc">Không có bản ghi nào</td>
        </tr>
        </tfoot>
      </table>
    </div>

    <!-- <app-paginator [paginator]="paginatorState" (paginate)="pagingChange($event)"></app-paginator> -->
  </div>
</div>
