.navi .navi-item .navi-link .navi-text {
  flex-grow: unset;
}

.btn-hover-primary:hover {
  .text-muted {
    color: #fff !important;
  }
}

.switch.switch-primary:not(.switch-outline) input:empty ~ span:before {
  background-color: #ccc !important;
}

.switch.switch-primary:not(.switch-outline) input:checked ~ span:before {
  background-color: #3699FF !important;
}

.password-wrapper {
  form {
    input {
      padding-right: 50px !important;
    }
    em {
      color: #b5b5c3;
      position: absolute;
      top: 24%;
      right: 14px;
      cursor: pointer;
      &:hover {
        color: #3f4254;
      }
    }
  }
}
