<div class="udf-cif">
  <div class="w-100 d-flex">
    <div class="udf-cif-left">
      <div class="envelope">
        <div class="row-item">
          <div class="label-center">
            N1. THÔNG TIN CHUNG
          </div>
        </div>
        <div class="row-item-info">
          <div class="label-field">CIF_DINHDANH</div>
          <div class="label-action d-flex align-items-center">
            <app-lpb-select [selectedItem]="selectedCifDinhDanh" class="w-100" [txtPlaceholder]="'Chọn CIF_DINHDANH'"
                            [lstOptions]="lstCIFDINHDANH" (selectedChangeOption)="onChangeCifDinhDanh($event)">
            </app-lpb-select>
            <mat-icon *ngIf="objCustomerUdfCore" class="ic-info-core" #tooltip="matTooltip"
                      [matTooltip]="'Dữ liệu Core: ' + (objCustomerUdfCore ? (objCustomerUdfCore.cifDinhdanhCode + ' - ' + objCustomerUdfCore.cifDinhdanhName) : 'Không xác định')"
                      matTooltipPosition="below">error_outline
            </mat-icon>
          </div>
        </div>

        <div class="row-item-info">
          <div class="label-field">MA CBNV LPB:</div>
          <div class="label-action d-flex align-items-center">
            <app-lpb-select [selectedItem]="selectedMaCBNVLPB" [ngClass]="isMaCbnvLpb ? 'disable-select' : ''" class="w-100" [txtPlaceholder]="'Chọn MA CBNV LPB'"
                            [lstOptions]="lstMACBNVLPB" (selectedChangeOption)="onChangeMaCbnvLpbCode($event)">
            </app-lpb-select>
            <mat-icon *ngIf="objCustomerUdfCore" class="ic-info-core" #tooltip="matTooltip"
                      [matTooltip]="'Dữ liệu Core: ' + (objCustomerUdfCore ? (objCustomerUdfCore.maCbnvLpbCode + ' - ' + objCustomerUdfCore.maCbnvLpbName) : 'Không xác định')"
                      matTooltipPosition="below">error_outline
            </mat-icon>
          </div>
        </div>

        <div class="row-item-info">
          <div class="label-field">CAN_BO_GIOI_THIEU:</div>
          <div class="label-action">
            <div class="d-flex align-items-center">
              <input type="text" maxlength="10"  [ngClass]="isCanBoGioiThieu ? 'disable-select' : ''" [(ngModel)]="canBoGioiThieu" class="input-field form-control w-100"
                     (blur)="validateCanBoGioiThieu()" placeholder="Nhập CAN_BO_GIOI_THIEU"
                     [class.error-invalid]="errMsgCanBoGioiThieu !== ''">
              <mat-icon *ngIf="objCustomerUdfCore" class="ic-info-core" #tooltip="matTooltip"
                        [matTooltip]="'Dữ liệu Core: ' + (objCustomerUdfCore ? objCustomerUdfCore.canBoGioiThieu : 'Không xác định')"
                        matTooltipPosition="below">error_outline
              </mat-icon>
            </div>
            <div class="error-msg" *ngIf="errMsgCanBoGioiThieu !== ''">{{errMsgCanBoGioiThieu}}</div>
          </div>
        </div>

        <div class="row-item-info" >
          <div class="label-field">KHUT:</div>
          <div class="label-action d-flex align-items-center" >
            <app-lpb-select [selectedItem]="selectedKHUT" [ngClass]="isKhut ? 'disable-select' : ''"  class="w-100" [txtPlaceholder]="'Chọn KHUT'"
                            [lstOptions]="lstKHUT" [isShowListItem]="false" (selectedChangeOption)="onChangeKhut($event)">
            </app-lpb-select>
            <mat-icon *ngIf="objCustomerUdfCore" class="ic-info-core" #tooltip="matTooltip"
                      [matTooltip]="'Dữ liệu Core: ' + (objCustomerUdfCore ? (objCustomerUdfCore.khutCode + ' - ' + objCustomerUdfCore.khutName) : 'Không xác định')"
                      matTooltipPosition="below">error_outline
            </mat-icon>
          </div>
        </div>

        <div class="row-item-info">
          <div class="label-field">CIF_PNKH: <span class="item-require">(*)</span></div>
          <div class="label-action">
            <div class="d-flex align-items-center">
              <app-lpb-select [selectedItem]="selectedCifPNKH"  [ngClass]="isCifPnkh ? 'disable-select' : ''" class="w-100" [txtPlaceholder]="'Chọn CIF_PNKH'"
                              [lstOptions]="lstCIFPNKH" (selectedChangeOption)="onChangeCifPNKH($event)"></app-lpb-select>
              <mat-icon *ngIf="objCustomerUdfCore" class="ic-info-core" #tooltip="matTooltip"
                        [matTooltip]="'Dữ liệu Core: ' + (objCustomerUdfCore ? (objCustomerUdfCore.cifPnkhCode + ' - ' + objCustomerUdfCore.cifPnkhName) : 'Không xác định')"
                        matTooltipPosition="below">error_outline
              </mat-icon>
            </div>
            <div class="error-msg">
              {{errMsgCIFPHKH}}
            </div>
          </div>
        </div>

        <div class="row-item-info">
          <div class="label-field">KHACH HANG:</div>
          <div class="label-action d-flex align-items-center">
            <app-lpb-select [selectedItem]="selectedKhachHang" class="w-100" [txtPlaceholder]="'Chọn KHACH HANG'"
                            [lstOptions]="lstKHACHHANG" (selectedChangeOption)="onChangeKhachHangCode($event)">
            </app-lpb-select>
            <mat-icon *ngIf="objCustomerUdfCore" class="ic-info-core" #tooltip="matTooltip"
                      [matTooltip]="'Dữ liệu Core: ' + (objCustomerUdfCore ? (objCustomerUdfCore.khachHangCode + ' - ' + objCustomerUdfCore.khachHangName) : 'Không xác định')"
                      matTooltipPosition="below">error_outline
            </mat-icon>
          </div>
        </div>

        <div class="row-item-info">
          <div class="label-field">PNKH_KHDK:</div>
          <div class="label-action d-flex align-items-center">
            <input type="text" class="input-field form-control w-100" [(ngModel)]="pnkhKhdk"
                   placeholder="Nhập PNKH_KHDK">
            <mat-icon *ngIf="objCustomerUdfCore" class="ic-info-core" #tooltip="matTooltip"
                      [matTooltip]="'Dữ liệu Core: ' + (objCustomerUdfCore ? objCustomerUdfCore.pnkhKhdk : 'Không xác định')"
                      matTooltipPosition="below">error_outline
            </mat-icon>
          </div>
        </div>

        <div class="row-item-info">
          <div class="label-field">SO SO BAO HIEM XA HOI:</div>
          <div class="label-action d-flex align-items-center">
            <input type="text" class="input-field form-control w-100" [(ngModel)]="soSoBaoHiemXaHoi"
                   placeholder="Nhập SO SO BAO HIEM XA HOI">
            <mat-icon *ngIf="objCustomerUdfCore" class="ic-info-core" #tooltip="matTooltip"
                      [matTooltip]="'Dữ liệu Core: ' + (objCustomerUdfCore ? objCustomerUdfCore.soSoBaoHiemXaHoi : 'Không xác định')"
                      matTooltipPosition="below">error_outline
            </mat-icon>
          </div>
        </div>

        <div class="row-item-info">
          <div class="label-field">THUONG TAT:</div>
          <div class="label-action d-flex align-items-center">
            <app-lpb-select [selectedItem]="selectedThuongTat" [txtPlaceholder]="'Chọn THUONG TAT'" class="w-100"
                            [lstOptions]="lstTHUONGTAT" (selectedChangeOption)="onChangeThuongTat($event)">
            </app-lpb-select>
            <mat-icon *ngIf="objCustomerUdfCore" class="ic-info-core" #tooltip="matTooltip"
                      [matTooltip]="'Dữ liệu Core: ' + (objCustomerUdfCore ? (objCustomerUdfCore.thuongTatCode + ' - ' + objCustomerUdfCore.thuongTatName) : 'Không xác định')"
                      matTooltipPosition="below">error_outline
            </mat-icon>
          </div>
        </div>

        <div class="row-item-info">
          <div class="label-field">KHOI DON VI GIOI THIEU:</div>
          <div class="label-action d-flex align-items-center">
            <app-lpb-select [selectedItem]="selectedKhoiDonViGioiThieu" class="w-100"
                            (selectedChangeOption)="onChangeKhoiDonViGioiThieu($event)"
                            [txtPlaceholder]="'Chọn KHOI DON VI GIOI THIEU'" [lstOptions]="lstKHOIDONVIGIOITHIEU">
            </app-lpb-select>
            <mat-icon *ngIf="objCustomerUdfCore" class="ic-info-core" #tooltip="matTooltip"
                      [matTooltip]="'Dữ liệu Core: ' + (objCustomerUdfCore ? (objCustomerUdfCore.khoiDonViGioiThieuCode + ' - ' + objCustomerUdfCore.khoiDonViGioiThieuName) : 'Không xác định')"
                      matTooltipPosition="below">error_outline
            </mat-icon>
          </div>
        </div>
      </div>

      <div class="envelope">
        <div class="row-item">
          <div class="label-center">
            N2. THÔNG TIN DỊCH VỤ
          </div>
        </div>
        <div class="row-item-info">
          <div class="label-field">TRA CUU TT STK WEBSITE-VI VIET: <span class="item-require">(*)</span></div>
          <div class="label-action d-flex align-items-center">
            <app-lpb-select [selectedItem]="selectedTraCuuTTSTKWebViViet" class="w-100"
                            (selectedChangeOption)="onChangeTraCuuTT($event)"
                            [txtPlaceholder]="'Chọn TRA CUU TT STK WEBSITE-VI VIET'" [lstOptions]="lstTRACUUTTSTK">
            </app-lpb-select>
            <mat-icon *ngIf="objCustomerUdfCore" class="ic-info-core" #tooltip="matTooltip"
                      [matTooltip]="'Dữ liệu Core: ' + (objCustomerUdfCore ? (objCustomerUdfCore.tracuuTtstkwebVivietCode + ' - ' + objCustomerUdfCore.tracuuTtstkwebVivietName) : 'Không xác định')"
                      matTooltipPosition="below">error_outline
            </mat-icon>
          </div>
        </div>
        <div class="row-item-info">
          <div class="label-field">SDT NHAN SMS GD TIET KIEM:
            <ng-template [ngIf]="isExistCore">
              <span class="item-require">(*)</span>
            </ng-template>
          </div>
          <div class="label-action d-flex flex-column">
            <div class="d-flex align-items-center">
              <input type="text" maxlength="10" [(ngModel)]="sdtNhanSmsGdtetkiem" numbersOnly
                     [class.error-invalid]="errMsgSdtNhanGdTK !== ''" class="input-field form-control w-100"
                     placeholder="Nhập SDT NHAN SMS GD TIET KIEM" (blur)="validateSdtNhanGdTK()">
              <mat-icon *ngIf="objCustomerUdfCore" class="ic-info-core" #tooltip="matTooltip"
                        [matTooltip]="'Dữ liệu Core: ' + (objCustomerUdfCore ? objCustomerUdfCore.sdtNhanSmsGdtetkiem : 'Không xác định')"
                        matTooltipPosition="below">error_outline
              </mat-icon>
            </div>
            <div class="error-msg" *ngIf="errMsgSdtNhanGdTK !== ''">{{errMsgSdtNhanGdTK}}</div>
          </div>
        </div>
      </div>
    </div>

    <div class="udf-cif-right">
      <div class="envelope">
        <div class="row-item">
          <div class="label-center">
            N3. THÔNG TIN VAY
          </div>
        </div>
        <div class="row-item-info">
          <div class="label-field">NO PHAI THU:</div>
          <div class="label-action d-flex align-items-center">
            <input type="text" [(ngModel)]="noPhaiThu" class="input-field form-control w-100"
                   placeholder="Nhập NO PHAI THU">
            <mat-icon *ngIf="objCustomerUdfCore" class="ic-info-core" #tooltip="matTooltip"
                      [matTooltip]="'Dữ liệu Core: ' + (objCustomerUdfCore ? objCustomerUdfCore.noPhaiThu : 'Không xác định')"
                      matTooltipPosition="below">error_outline
            </mat-icon>
          </div>
        </div>
        <div class="row-item-info">
          <div class="label-field">NO PHAI TRA:</div>
          <div class="label-action d-flex align-items-center">
            <input type="text" [(ngModel)]="noPhaiTra" class="input-field form-control w-100"
                   placeholder="Nhập NO PHAI TRA">
            <mat-icon *ngIf="objCustomerUdfCore" class="ic-info-core" #tooltip="matTooltip"
                      [matTooltip]="'Dữ liệu Core: ' + (objCustomerUdfCore ? objCustomerUdfCore.noPhaiTra : 'Không xác định')"
                      matTooltipPosition="below">error_outline
            </mat-icon>
          </div>
        </div>
        <div class="row-item-info">
          <div class="label-field">DB_KH VAY:</div>
          <div class="label-action d-flex align-items-center">
            <app-lpb-select [selectedItem]="selectedDBKHVay" [txtPlaceholder]="'Chọn DB_KH VAY'" class="w-100"
                            [lstOptions]="lstDBKHVAY" (selectedChangeOption)="onChangeDbKH($event)">
            </app-lpb-select>
            <mat-icon *ngIf="objCustomerUdfCore" class="ic-info-core" #tooltip="matTooltip"
                      [matTooltip]="'Dữ liệu Core: ' + (objCustomerUdfCore ? (objCustomerUdfCore.dbKhVayCode + ' - ' + objCustomerUdfCore.dbKhVayName) : 'Không xác định')"
                      matTooltipPosition="below">error_outline
            </mat-icon>
          </div>
        </div>
        <div class="row-item-info">
          <div class="label-field">MA HUYEN THI XA:</div>
          <div class="label-action d-flex align-items-center">
            <app-lpb-select [selectedItem]="selectedMaHuyenThiXa" [txtPlaceholder]="'Chọn MA HUYEN THI XA'" class="w-100"
                            [lstOptions]="lstMAHUYENTHIXA" (selectedChangeOption)="onChangeMaHuyenThiXa($event)">
            </app-lpb-select>
            <mat-icon *ngIf="objCustomerUdfCore" class="ic-info-core" #tooltip="matTooltip"
                      [matTooltip]="'Dữ liệu Core: ' + (objCustomerUdfCore ? (objCustomerUdfCore.maHuyenThiXaCode + ' - ' + objCustomerUdfCore.maHuyenThiXaName) : 'Không xác định')"
                      matTooltipPosition="below">error_outline
            </mat-icon>
          </div>
        </div>
        <div class="row-item-info">
          <div class="label-field">DIA BAN NONG THON:</div>
          <div class="label-action d-flex align-items-center">
            <app-lpb-select [selectedItem]="selectedDiaBanNongThon" class="w-100"
                            [txtPlaceholder]="'Chọn DIA BAN NONG THON'" [lstOptions]="lstDIABANNONGTHON"
                            (selectedChangeOption)="onChangeDiaBanNongThon($event)">
            </app-lpb-select>
            <mat-icon *ngIf="objCustomerUdfCore" class="ic-info-core" #tooltip="matTooltip"
                      [matTooltip]="'Dữ liệu Core: ' + (objCustomerUdfCore ? (objCustomerUdfCore.diaBanNongThonCode + ' - ' + objCustomerUdfCore.diaBanNongThonName) : 'Không xác định')"
                      matTooltipPosition="below">error_outline
            </mat-icon>
          </div>
        </div>
        <div class="row-item-info">
          <div class="label-field">VI TRI TO_LKET VAY VON:</div>
          <div class="label-action d-flex align-items-center">
            <app-lpb-select [selectedItem]="selectedViTriToLKetVayVon" class="w-100"
                            (selectedChangeOption)="onChangeViTriLK($event)"
                            [txtPlaceholder]="'Chọn VI TRI TO_LKET VAY VON'" [lstOptions]="lstVITRITOLKETVAYVON">
            </app-lpb-select>
            <mat-icon *ngIf="objCustomerUdfCore" class="ic-info-core" #tooltip="matTooltip"
                      [matTooltip]="'Dữ liệu Core: ' + (objCustomerUdfCore ? (objCustomerUdfCore.viTriToLketVayvonCode + ' - ' + objCustomerUdfCore.viTriToLketVayvonName) : 'Không xác định')"
                      matTooltipPosition="below">error_outline
            </mat-icon>
          </div>
        </div>
        <div class="row-item-info">
          <div class="label-field">LV UD CN CAO CIF:</div>
          <div class="label-action d-flex align-items-center">
            <app-lpb-select [selectedItem]="selectedLVUDCNCao" [txtPlaceholder]="'Chọn LV UD CN CAO CIF'" class="w-100"
                            [lstOptions]="lstLVUDCNCAOCIF" (selectedChangeOption)="onChangeLvUdCnCaoCap($event)">
            </app-lpb-select>
            <mat-icon *ngIf="objCustomerUdfCore" class="ic-info-core" #tooltip="matTooltip"
                      [matTooltip]="'Dữ liệu Core: ' + (objCustomerUdfCore ? (objCustomerUdfCore.lvUdCnCaoCifCode + ' - ' + objCustomerUdfCore.lvUdCnCaoCifName) : 'Không xác định')"
                      matTooltipPosition="below">error_outline
            </mat-icon>
          </div>
        </div>
        <div class="row-item-info">
          <div class="label-field">CN UTPT 1483 CIF:</div>
          <div class="label-action d-flex align-items-center">
            <app-lpb-select [selectedItem]="selectedCNUTPT1483Cif" class="w-100"
                            [txtPlaceholder]="'Chọn CN UTPT 1483 CIF'" [lstOptions]="lstCNUTPT1483CIF"
                            (selectedChangeOption)="onChangeCnUtpt1483($event)">
            </app-lpb-select>
            <mat-icon *ngIf="objCustomerUdfCore" class="ic-info-core" #tooltip="matTooltip"
                      [matTooltip]="'Dữ liệu Core: ' + (objCustomerUdfCore ? (objCustomerUdfCore.cnUtpt1483CifCode + ' - ' + objCustomerUdfCore.cnUtpt1483CifName) : 'Không xác định')"
                      matTooltipPosition="below">error_outline
            </mat-icon>
          </div>
        </div>
        <div class="row-item-info">
          <div class="label-field">KY DANH GIA TNV:</div>
          <div class="value-field">
            <div class="control-item">
              <div class="grRadio w-100 pt-1">
                <div class="rd-item">
                  <input type="radio" [(ngModel)]="kyDanhGiaTnv" class="mr-1" name="kyDanhGiaTnv" id="kydanhgia-y"
                         value="Y" (ngModelChange)="typeChange($event)">
                  <label for="kydanhgia-y">
                    Có
                  </label>
                </div>
                <div class="rd-item">
                  <input type="radio" [(ngModel)]="kyDanhGiaTnv" class="mr-1" name="kyDanhGiaTnv" id="kydanhgia-n"
                         value="N" (ngModelChange)="typeChange($event)">
                  <label for="kydanhgia-n">
                    Không
                  </label>
                </div>
              </div>
              {{kyDanhGiaTnv === 'Y' ? dateKydanhgiaTnv : null}}
            </div>
          </div>
        </div>
        <div class="row-item-info">
          <div class="label-field">HO TEN VO CHONG:</div>
          <div class="label-action d-flex align-items-center">
            <input type="text" class="input-field form-control w-100" [(ngModel)]="hoTenVoChong"
                   placeholder="Nhập HO TEN VO CHONG">
            <mat-icon *ngIf="objCustomerUdfCore" class="ic-info-core" #tooltip="matTooltip"
                      [matTooltip]="'Dữ liệu Core: ' + (objCustomerUdfCore ? objCustomerUdfCore.hoTenVoChong : 'Không xác định')"
                      matTooltipPosition="below">error_outline
            </mat-icon>
          </div>
        </div>
        <div class="row-item-info">
          <div class="label-field">SO CMND HC:</div>
          <div class="label-action d-flex align-items-center">
            <input type="text" class="input-field w-100" placeholder="Nhập SO CMND HC"
                   [(ngModel)]="coCmndHc">
            <mat-icon *ngIf="objCustomerUdfCore" class="ic-info-core" #tooltip="matTooltip"
                      [matTooltip]="'Dữ liệu Core: ' + (objCustomerUdfCore ? objCustomerUdfCore.coCmndHc : 'Không xác định')"
                      matTooltipPosition="below">error_outline
            </mat-icon>
          </div>
        </div>
        <div class="row-item-info">
          <div class="label-field">NGAY CAP CMND HC:</div>
          <div class="label-action d-flex" [ngClass]="ngayCapCmndHc.errorMsg === '' ? 'align-items-center' : 'align-items-baseline'">
            <app-lpb-date-picker #ngayCapCmndHc class="w-100" (blurInput)="blurCMNDHCChange()" (dateChanged)="validateCMNDHC()">
            </app-lpb-date-picker>
            <mat-icon *ngIf="objCustomerUdfCore" class="ic-info-core" #tooltip="matTooltip"
                      [matTooltip]="'Dữ liệu Core: ' + (objCustomerUdfCore ? objCustomerUdfCore.ngayCapCmndHc : 'Không xác định')"
                      matTooltipPosition="below">error_outline
            </mat-icon>
          </div>
        </div>
        <div class="row-item-info">
          <div class="label-field">NOI CAP CMND HC:</div>
          <div class="label-action d-flex align-items-center">
            <input type="text" class="input-field form-control w-100" placeholder="Nhập NOI CAP CMND HC"
                   [(ngModel)]="noiCapCmndHc">
            <mat-icon *ngIf="objCustomerUdfCore" class="ic-info-core" #tooltip="matTooltip"
                      [matTooltip]="'Dữ liệu Core: ' + (objCustomerUdfCore ? objCustomerUdfCore.noiCapCmndHc : 'Không xác định')"
                      matTooltipPosition="below">error_outline
            </mat-icon>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="udf-cif-button mt-36 w-100">
    <button class="btn-save mr-2" (click)="getUDF()">Lưu</button>
    <button class="btn-close" (click)="close()">Đóng</button>
  </div>
</div>
