<div class="card card-custom gutter-b">
  <div class="card-body">
    <div class="wizard wizard-3" id="kt_wizard_v3">
      <div class="kt-grid__item">
        <div class="wizard-nav border-bottom mb-1 mb-lg-5">
          <div class="wizard-steps px-8 py-8 px-lg-15 py-lg-3">
            <a
              class="wizard-step"
              href="javascript:;"
              data-wizard-type="step"
              data-wizard-state="current"
            >
              <div class="wizard-label">
                <div class="wizard-title"><span>1</span> Trạm</div>
                <div class="wizard-bar"></div>
              </div>
            </a>
            <a class="wizard-step" href="javascript:;" data-wizard-type="step">
              <div class="wizard-label">
                <div class="wizard-title"><span>2</span> Bồn</div>
                <div class="wizard-bar"></div>
              </div>
            </a>
            <a class="wizard-step" href="javascript:;" data-wizard-type="step">
              <div class="wizard-label">
                <div class="wizard-title"><span>3</span> Cột bơm</div>
                <div class="wizard-bar"></div>
              </div>
            </a>
            <a class="wizard-step" href="javascript:;" data-wizard-type="step">
              <div class="wizard-label">
                <div class="wizard-title"><span>4</span> Vòi bơm</div>
                <div class="wizard-bar"></div>
              </div>
            </a>
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-xl-12">
          <app-step1 hidden></app-step1>
          <app-step2></app-step2>
          <app-step3></app-step3>
          <app-step4></app-step4>
        </div>
      </div>
    </div>
  </div>
</div>
