@import '../../../../assets/sass/pages/wizard/wizard-3';

.create-station-wrapper {
  a {
    &.can-active:hover {
      .wizard-title {
        color: #3699ff;
      }

      .wizard-bar {
        background-color: #3699ff !important;
      }
    }
    &.active {
      .wizard-title {
        color: #3699ff;
      }

      .wizard-bar {
        background-color: #3699ff !important;
      }
    }
  }
}
