<div class="modal-content">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-title">{{ data.title }}</h4>
    <div class="close-icon" (click)="modal.close()"></div>
  </div>
  <div class="modal-body">
    <div class="overlay overlay-block cursor-default modal-body" style="min-height: 300px">
      <ng-container *ngIf='!data.dataDetail'>
        <form class="form form-label-right" [formGroup]='minTankForm'>
          <div class="form-group px-5 row">
            <div class="col-lg-6 row">
              <div class='col-lg-4'>
                <label class="form-label required">Tên kỳ tịnh kho</label>
              </div>
              <div class='col-lg-8'>
                <input
                  type="text"
                  class="form-control form-control-solid w-75"
                  placeholder="Nhập tên kỳ tịnh kho"
                  autocomplete="off"
                  maxlength="50"
                  formControlName='name'
                  trim='blur'
                />
                <app-validate
                  [control]="minTankForm.controls['name']"
                  [error]="'required'"
                  [message]="'Tên kỳ tịnh kho không được để trống'"
                ></app-validate>
              </div>
            </div>

            <div class="col-lg-6 row custom-pl-100">
              <div class='col-lg-5'>
                <label class="form-label">Dung tích</label>
              </div>
              <div class='col-lg-7'>
                <label class="form-label font-weight-bold">{{minTankForm.get('capacity').value || 0}}</label>
              </div>
            </div>
          </div>

          <div class="form-group px-5 row">
            <div class="col-lg-6 row">
              <div class='col-lg-4'>
                <label class="form-label required">Chọn trạm</label>
              </div>
              <div class='col-lg-8'>
                <select class="form-control form-control-solid w-75" formControlName='stationId'>
                  <option [value]="''">Chọn trạm</option>
                  <option *ngFor="let item of stationEmployee" [value]="item.id">{{item.name}}</option>
                </select>
                <app-validate
                  [control]="minTankForm.controls['stationId']"
                  [error]="'required'"
                  [message]="'Trạm không được để trống'"
                ></app-validate>
              </div>
            </div>

            <div class="col-lg-6 row custom-pl-100">
              <div class='col-lg-5'>
                <label class="form-label">Chiều cao</label>
              </div>
              <div class='col-lg-7'>
                <label class="form-label font-weight-bold">{{minTankForm.get('height').value || 0}}</label>
              </div>
            </div>
          </div>

          <div class="form-group px-5 row">
            <div class="col-lg-6 row">
              <div class='col-lg-4'>
                <label class="form-label required">Chọn bồn</label>
              </div>
              <div class='col-lg-8'>
                <select class="form-control form-control-solid w-75" formControlName="gasFieldId">
                  <option [value]="''">Chọn bồn</option>
                  <option *ngFor="let item of listGasField" [value]="item.id">
                    {{ item.code }} - {{item.name}}
                  </option>
                </select>
                <app-validate
                  [control]="minTankForm.controls['gasFieldId']"
                  [error]="'required'"
                  [message]="'Bồn không được để trống'"
                ></app-validate>
              </div>
            </div>

            <div class="col-lg-6 row custom-pl-100">
              <div class='col-lg-5'>
                <label class="form-label">Chiều dài</label>
              </div>
              <div class='col-lg-7'>
                <label class="form-label font-weight-bold">{{minTankForm.get('length').value || 0 }}</label>
              </div>
            </div>
          </div>

          <div class="form-group px-5 row">
            <div class="col-lg-6 row">
              <div class='col-lg-4'>
                <label class="form-label">Mã bồn</label>
              </div>
              <div class='col-lg-8'>
                <label class="form-label font-weight-bold">{{minTankForm.get('gasFieldCode').value || '--'}}</label>
              </div>
            </div>

            <div class="col-lg-6 row custom-pl-100">
              <div class='col-lg-5'>
                <label class="form-label">Nhiên liệu đang chứa</label>
              </div>
              <div class='col-lg-7'>
                <label class="form-label font-weight-bold">{{minTankForm.get('productName').value || '--'}}</label>
              </div>
            </div>
          </div>

          <div class="table-responsive angular-bootstrap-table pt-5">
            <table class="table table-head-custom table-vertical-center overflow-hidden" aria-label="">
              <thead>
              <tr>
                <th scope='' class='import-quantity text-right'>Nhập trong kỳ</th>
                <th scope='' class='head-meter text-right'>Số công tơ đầu</th>
                <th scope='' class='final-meter form-label required'>Số công tơ cuối</th>
                <th scope='' class='with-meter text-right'>Lượng xuất theo công tơ</th>
                <th scope='' class='difference text-right'>Âm dương</th>
                <th scope='' class='note'>Ghi chú</th>
              </tr>
              </thead>

              <tbody>
              <tr>
                <td class='import-quantity text-right'>
                  <p
                    class="cursor-pointer text-ellipsis"
                    placement="top"
                    [ngbTooltip]="minTankForm.get('importQuantity').value || 0 | number | vnCurrency"
                  >
                    {{ minTankForm.get('importQuantity').value || 0 | number | vnCurrency }}
                  </p>
                </td>
                <td class='head-meter text-right'>
                  <p
                    class="cursor-pointer text-ellipsis"
                    placement="top"
                    [ngbTooltip]="minTankForm.get('headMeter').value || 0 | number | vnCurrency"
                  >
                    {{ minTankForm.get('headMeter').value || 0 | number | vnCurrency }}
                  </p>
                </td>
                <td class='final-meter'>
                  <input
                    class="form-control"
                    placeholder="Nhập số công tơ cuối"
                    formControlName='finalMeter'
                    maxlength="13"
                    decimal-mask
                  />
                  <app-validate
                    [control]="minTankForm.controls['finalMeter']"
                    [error]="'required'"
                    [message]="'Số công tơ cuối không được để trống'"
                  ></app-validate>
                  <app-validate
                    [control]="minTankForm.controls['finalMeter']"
                    [error]="'gasFieldNull'"
                    [message]="'Vui lòng chọn bồn'"
                  ></app-validate>
                </td>
                <td class='with-meter text-right'>
                  <p
                    class="cursor-pointer text-ellipsis"
                    placement="top"
                    [ngbTooltip]="minTankForm.get('withMeter').value || 0 | number | vnCurrency"
                  >
                    {{ minTankForm.get('withMeter').value || 0 | number | vnCurrency }}
                  </p>
                </td>
                <td class='difference text-right'>
                  <p
                    class="cursor-pointer text-ellipsis"
                    placement="top"
                    [class.text-primary]='minTankForm.get("difference").value > 0'
                    [class.text-danger]='minTankForm.get("difference").value < 0'
                    [ngbTooltip]="minTankForm.get('difference').value || 0| number | vnCurrency"
                  >
                    {{minTankForm.get("difference").value > 0 ? ("+ " + minTankForm.get("difference").value) : minTankForm.get("difference").value || 0 | number | vnCurrency}}
                  </p>
                </td>
                <td class='note'>
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Nhập ghi chú"
                    autocomplete="off"
                    maxlength="200"
                    formControlName='note'
                    trim='blur'
                  />
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </form>
      </ng-container>

      <ng-container *ngIf='data.dataDetail'>
        <form class="form form-label-right">
          <div class="form-group px-5 row">
            <div class="col-lg-6 row">
              <div class='col-lg-4'>
                <label class="form-label">Tên kỳ tịnh kho</label>
              </div>
              <div class='col-lg-8'>
                <label class="form-label font-weight-bold">{{data.dataDetail?.name}}</label>
              </div>
            </div>

            <div class="col-lg-6 row custom-pl-100">
              <div class='col-lg-4'>
                <label class="form-label">Dung tích</label>
              </div>
              <div class='col-lg-8'>
                <label class="form-label font-weight-bold">{{data.dataDetail?.capacity}}</label>
              </div>
            </div>
          </div>

          <div class="form-group px-5 row">
            <div class="col-lg-6 row">
              <div class='col-lg-4'>
                <label class="form-label">Tên trạm</label>
              </div>
              <div class='col-lg-8'>
                <label class="form-label font-weight-bold">{{data.dataDetail?.stationName}}</label>
              </div>
            </div>

            <div class="col-lg-6 row custom-pl-100">
              <div class='col-lg-4'>
                <label class="form-label">Chiều cao</label>
              </div>
              <div class='col-lg-8'>
                <label class="form-label font-weight-bold">{{data.dataDetail?.height}}</label>
              </div>
            </div>
          </div>

          <div class="form-group px-5 row">
            <div class="col-lg-6 row">
              <div class='col-lg-4'>
                <label class="form-label">Tên bồn</label>
              </div>
              <div class='col-lg-8'>
                <label class="form-label font-weight-bold">{{data.dataDetail?.gasFieldName}}</label>
              </div>
            </div>

            <div class="col-lg-6 row custom-pl-100">
              <div class='col-lg-4'>
                <label class="form-label">Chiều dài</label>
              </div>
              <div class='col-lg-8'>
                <label class="form-label font-weight-bold">{{data.dataDetail?.length}}</label>
              </div>
            </div>
          </div>

          <div class="form-group px-5 row">
            <div class="col-lg-6 row">
              <div class='col-lg-4'>
                <label class="form-label">Mã bồn</label>
              </div>
              <div class='col-lg-8'>
                <label class="form-label font-weight-bold">{{data.dataDetail?.gasFieldCode}}</label>
              </div>
            </div>

            <div class="col-lg-6 row custom-pl-100">
              <div class='col-lg-4'>
                <label class="form-label">Nhiên liệu đang chứa</label>
              </div>
              <div class='col-lg-8'>
                <label class="form-label font-weight-bold">{{data.dataDetail?.productName}}</label>
              </div>
            </div>
          </div>
        </form>

        <div class="table-responsive angular-bootstrap-table pt-5">
          <table class="table table-head-custom table-vertical-center overflow-hidden" aria-label="">
            <thead>
            <tr>
              <th scope='' class='import-quantity text-right'>Nhập trong kỳ</th>
              <th scope='' class='head-meter text-right'>Số công tơ đầu</th>
              <th scope='' class='final-meter text-right'>Số công tơ cuối</th>
              <th scope='' class='with-meter text-right'>Lượng xuất theo công tơ</th>
              <th scope='' class='difference text-right'>Âm dương</th>
              <th scope='' class='note'>Ghi chú</th>
            </tr>
            </thead>

            <tbody>
            <tr>
              <td class='import-quantity text-right'>
                <p
                  class="cursor-pointer text-ellipsis"
                  placement="top"
                  [ngbTooltip]="data.dataDetail?.importQuantity | number | vnCurrency"
                >
                  {{ data.dataDetail?.importQuantity | number | vnCurrency }}
                </p>
              </td>
              <td class='head-meter text-right'>
                <p
                  class="cursor-pointer text-ellipsis"
                  placement="top"
                  [ngbTooltip]="data.dataDetail?.headMeter | number | vnCurrency"
                >
                  {{ data.dataDetail?.headMeter | number | vnCurrency }}
                </p>
              </td>
              <td class='final-meter text-right'>
                <p
                  class="cursor-pointer text-ellipsis"
                  placement="top"
                  [ngbTooltip]="data.dataDetail?.finalMeter | number | vnCurrency"
                >
                  {{ data.dataDetail?.finalMeter | number | vnCurrency }}
                </p>
              </td>
              <td class='with-meter text-right'>
                <p
                  class="cursor-pointer text-ellipsis"
                  placement="top"
                  [ngbTooltip]="data.dataDetail?.withMeter | number | vnCurrency"
                >
                  {{ data.dataDetail?.withMeter | number | vnCurrency }}
                </p>
              </td>
              <td class='difference text-right'>
                <p
                  class="cursor-pointer text-ellipsis"
                  placement="top"
                  [class.text-primary]='data.dataDetail?.difference > 0'
                  [class.text-danger]='data.dataDetail?.difference < 0'
                  [ngbTooltip]="data.dataDetail?.difference | number | vnCurrency"
                >
                  {{data.dataDetail?.difference > 0 ? ("+ " + data.dataDetail?.difference) : data.dataDetail?.difference | number | vnCurrency}}
                </p>
              </td>
              <td class='note'>
                <p
                  class="cursor-pointer text-ellipsis"
                  placement="top"
                  [ngbTooltip]="data.dataDetail?.note"
                >
                  {{ data.dataDetail?.note }}
                </p>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </ng-container>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary btn-dialog" (click)="onClose()">
      Hủy
    </button>
    <ng-container *ngIf='!data.dataDetail'>
      <button type="button" class="btn btn-primary btn-dialog" (click)='onSubmit()'>Lưu</button>
    </ng-container>
    <ng-container *ngIf='data.dataDetail'>
      <button type="button" class="btn btn-primary btn-dialog" (click)='downloadFile()'>Xuất phiếu tịnh kho</button>
    </ng-container>
  </div>
</div>
