.card-header {
  padding: 0 2.25rem !important;
  border-bottom: none;
  .title {
    text-transform: uppercase;
    color: #4674eb;
    font-weight: 500;
    font-size: 14px;
  }
}

.card-body {
  padding: 0 2.25rem !important;

  .table {
    min-width: 1024px;

    th {
      text-transform: none;
    }
    td {
      &.connect {
        min-width: 110px;
      }
      &.status {
        min-width: 130px;
        i {
          font-size: 14px;
        }
      }
      &.value-pump,
      &.unit-price,
      &.money-pump {
        min-width: 130px;
        max-width: 150px;
      }
      &.total-amount-accumulated,
      &.total-cumulative-liters {
        min-width: 160px;
        max-width: 170px;
      }
    }
  }
}
