<div class="card card-custom gutter-b mt-1">
  <div class="card-header">
    <div class="card-title">
      <h3 class="card-label">Tìm kiếm yêu cầu đặt hàng</h3>
    </div>
  </div>
  <div class="card-body">
    <form [formGroup]="searchForm" class="form form-label-right">
      <div class="form-group row">
        <div class="col-lg-6">
          <label>Tên trạm</label>
          <select class="form-control form-control-solid w-75" formControlName='stationName'>
            <option [value]="''">Tất cả</option>
            <option [value]="''">Tất cả</option>
            <option [value]="''">Tất cả</option>
            <option [value]="''">Tất cả</option>
          </select>
        </div>

        <div class="col-lg-6">
          <label>Người yêu cầu</label>
          <select class="form-control form-control-solid w-75" formControlName='nguoiYeuCau'>
            <option [value]="''">Tất cả</option>
            <option [value]="''">Tất cả</option>
            <option [value]="''">Tất cả</option>
          </select>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-lg-6">
          <label>Ngày yêu cầu từ</label>

          <div class="input-group w-75">
            <input
              class="form-control form-control-solid"
              placeholder="DD/MM/YYYY"
              ngbDatepicker
              readonly
              #startAt="ngbDatepicker"
              formControlName='startAt'
            />
            <div class="input-group-append">
              <button
                class="btn btn-outline-secondary fa fa-calendar-alt"
                (click)="startAt.toggle()"
                type="button"
              ></button>
            </div>
          </div>
        </div>

        <div class="col-lg-6">
          <label>Ngày yêu cầu đến</label>

          <div class="input-group w-75">
            <input
              class="form-control form-control-solid"
              placeholder="DD/MM/YYYY"
              ngbDatepicker
              readonly
              #endAt="ngbDatepicker"
              formControlName='endAt'
            />
            <div class="input-group-append">
              <button
                class="btn btn-outline-secondary fa fa-calendar-alt"
                (click)="endAt.toggle()"
                type="button"
              ></button>
            </div>
          </div>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-lg-6">
          <label>Trạng thái</label>
          <select class="form-control form-control-solid w-75" formControlName='status'>
            <option [value]="''">Tất cả</option>
            <option [value]="''">Tất cả</option>
            <option [value]="''">Tất cả</option>
          </select>
        </div>
      </div>
    </form>

    <div class="form-group row py-3">
      <button type="button" class="btn btn-primary btn-def mr-3" (click)="onSearch()">
        <em class="fas fa-search"></em> Tìm kiếm
      </button>
      <button type="button" class="btn btn-secondary btn-def" (click)="onReset()">Nhập lại</button>
    </div>
  </div>
</div>

<div class="card card-custom gutter-b mt-1">
  <div class="card-header">
    <div class="card-title">
      <h3 class="card-label">Danh sách yêu cầu đặt hàng</h3>
    </div>

    <div class="card-toolbar row">
      <a (click)="createOrder()">
        <button type="button" class="btn btn-primary btn-def">Tạo yêu cầu</button>
      </a>
    </div>
  </div>

  <div class="card-body">
    <div class="table-responsive angular-bootstrap-table">
      <table class="table table-head-custom table-vertical-center overflow-hidden" aria-label="">
        <thead>
        <tr>
          <th scope=''>Mã yêu cầu</th>
          <th scope=''>Trạm</th>
          <th scope=''>Người yêu cầu</th>
          <th scope=''>Ngày yêu cầu</th>
          <th scope=''>Người duyệt</th>
          <th scope=''>Ngày duyệt</th>
          <th scope=''>Trạng thái</th>
          <th scope=''>Tác động</th>
        </tr>
        </thead>

        <tfoot *ngIf="dataSource?.length === 0">
        <tr>
          <td colspan="8" class="text-center" style="color: #ccc">Không có bản ghi nào</td>
        </tr>
        </tfoot>
      </table>
    </div>

    <app-paginator [paginator]="paginatorState" (paginate)="pagingChange($event)"></app-paginator>
  </div>
</div>
