<div class="modal-content">
  <div class="modal-header">
    <div class="modal-title h4" id="example-modal-sizes-title-lg">
      <ng-container *ngIf="true">
        <ng-container>Edit</ng-container>
        <ng-container>Create</ng-container>
        Pump hole
      </ng-container>
    </div>
    <div class="close-icon" (click)="modal.dismiss()"></div>
  </div>
  <div class="overlay overlay-block cursor-default modal-body" style="min-height: 404px">
    <ng-container *ngIf="isLoading$ | async">
      <div class="overlay-layer bg-transparent">
        <div class="spinner spinner-lg spinner-success"></div>
      </div>
    </ng-container>

    <form action="#" class="form form-label-right">
      <div class="form-group row">
        <div class="col-lg-4">
          <label class="form-label">Enter First name</label>
          <input
            type="text"
            class="form-control form-control-lg form-control-solid"
            name="firstName"
            placeholder="First Name"
            autocomplete="off"
          />
          <div class="valid-feedback">First name was entered correct</div>
          <div class="invalid-feedback">First name is required</div>
          <div class="invalid-feedback">First name should have at least 3 symbols</div>
          <div class="invalid-feedback">First name should have maximum 100 symbols</div>
        </div>
        <div class="col-lg-4">
          <label class="form-label">Enter Last name</label>
          <input
            type="text"
            class="form-control form-control-lg form-control-solid is-invalid"
            name="lastName"
            placeholder="Last Name"
            autocomplete="off"
          />
        </div>
        <div class="col-lg-4">
          <label class="form-label">Enter Login</label>
          <input
            type="text"
            class="form-control form-control-lg form-control-solid"
            name="userName"
            placeholder="Login"
            autocomplete="off"
          />
          <div class="valid-feedback">Login was entered correct</div>
          <div class="invalid-feedback">Login is required</div>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-lg-4">
          <label class="form-label">Enter Email</label>
          <input
            type="email"
            class="form-control form-control-lg form-control-solid"
            name="email"
            placeholder="Email"
            autocomplete="off"
          />
          <div class="valid-feedback">Email was entered correct</div>
          <div class="invalid-feedback">Email is required</div>
          <div class="invalid-feedback">Email format is incorrect</div>
        </div>
        <div class="col-lg-4">
          <label>Date of Birth</label>
          <div class="input-group input-group-solid">
            <input
              type="text"
              name="dob"
              class="form-control form-control-lg form-control-solid"
              autocomplete="off"
              placeholder="dd/mm/yyyy"
              ngbDatepicker
              readonly="true"
            />
            <div class="input-group-append">
              <span class="input-group-text">
                <i class="text-dark-50 flaticon-calendar"></i>
              </span>
            </div>
          </div>
          <div class="valid-feedback">Date of Birth was entered correct</div>
          <div class="invalid-feedback">
            Please enter <b>Date of Birth</b> in 'mm/dd/yyyy' format
          </div>
        </div>
        <div class="col-lg-4">
          <label class="form-label">Enter IP Address</label>
          <input
            type="text"
            class="form-control form-control-lg form-control-solid"
            name="ipAddress"
            placeholder="255.255.255.0"
            autocomplete="off"
          />
          <div class="valid-feedback">Login was entered correct</div>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-lg-4">
          <label>Select Gender</label>
          <select class="form-control form-control-lg form-control-solid" name="gender">
            <option value="Female">Female</option>
            <option value="Male">Male</option>
          </select>
          <div class="feedback">Please select <b>Gender</b></div>
        </div>
        <div class="col-lg-4">
          <label>Select Type</label>
          <select class="form-control form-control-lg form-control-solid" name="type">
            <option value="1">Business</option>
            <option value="2">Individual</option>
          </select>
          <div class="feedback">Please select <b>Type</b></div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light btn-elevate mr-2" (click)="modal.dismiss()">
      Cancel
    </button>

    <button type="submit" class="btn btn-primary btn-elevate">Save</button>
  </div>
</div>
