<div class="container-fuild">
    <div class="row cust-row">
        <div class="col-12 line-base" style="border-bottom: 1px solid #c8ced3;padding: 10px 0; ">
            <div class="title-head" style="font-weight: 500;">
                <mat-icon style="font-size: 30px; height: 30px; width: 38px; text-indent: 5px">account_balance_wallet
                </mat-icon>
                <span class="text">THÔNG TIN TÀI KHOẢN</span>
            </div>
        </div>
        <div class="col-12 information-section">
            <div class="col-6 colLeft">
                <div class="row">
                    <label class="col-sm-5 col-form-label textLabel ">Tên tài khoản
          </label>
                    <div class="col-sm-7 txt">
                        <label>{{detailAccount.accountName}}</label>
                    </div>
                </div>
                <div class="row">
                    <label class="col-sm-5 col-form-label textLabel ">Số tài khoản
          </label>
                    <div class="col-sm-7 txt">
                        <label>{{detailAccount.accountNumber}}</label>
                    </div>
                </div>
            </div>
            <div class="col-6 colRight">
                <div class="row">
                    <label class="col-sm-5 col-form-label textLabel ">Loại tiền tệ
          </label>
                    <div class="col-sm-7 txt">
                        <label>{{detailAccount.currencyCode}}</label>
                    </div>
                </div>
                <div class="row">
                    <label class="col-sm-5 col-form-label textLabel ">Trạng Thái
          </label>
                    <div class="col-sm-7 txt">
                        <label>{{detailAccount.currentStatusName}}</label>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="col-12" style="margin-top: 10px; margin-bottom: 5px;">
        <ul>
            <li><i class="fa fa-user" aria-hidden="true" style="margin-right: 5px;"></i>THAONT8 tạo mới lúc
                04/11/2020 14:00:00 CH</li>
            <li><i class="fa fa-user" aria-hidden="true" style="margin-right: 5px;"></i>THAONT8 cập nhật lúc
                05/11/2020 14:00:00 SA</li>
        </ul>
    </div> -->
    </div>
</div>