<div class="row cust-row" style="margin-top: 5px; margin-left: 5px; margin-right: 3px;">
    <div class="col-12 line-base">
        <div class="title-head">
            <mat-icon style="font-size: 30px; height: 30px; width: 38px;">account_balance_wallet</mat-icon>
            <span class="text" style="padding: 5px 0;">DANH SÁCH SMS BANKING</span>
        </div>
    </div>

    <div class="col-12 col-table">
        <table class="table table-bordered table-responsive table-hover">
            <thead>
                <tr>
                    <th>STT</th>
                    <th>Ngày tạo</th>
                    <th>Số tài khoản</th>
                    <th class="phoneNumber">Số điện thoại</th>
                    <th>Chi nhánh</th>
                    <th>Trạng thái</th>
                    <th>Trạng thái Mobile</th>
                    <th>Thao tác</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>123456</td>
                    <td class="accountNumber">42710000459949</td>
                    <td>11234</td>
                    <td>22/01/2000 16:30:00</td>
                    <td>22/01/2000 16:30:00</td>
                    <td>VNĐ</td>
                    <td>1.000.000.000</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>