.label-title {
    font-size: 18px;
    line-height: 21px;
    text-align: right;
    color: #384961;
}

.information {
    text-align: left;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    text-align: right;
    color: #252834;
}

.label-infor {
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    color: #384961;
}

.label-under {
    font-size: 18px;
    line-height: 21px;
    text-align: right;
    color: #252834;
}

.label-under-first {
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #252834;
}

.label-under-nd {
    font-size: 16px;
    line-height: 19px;
    color: #333333;
}

input[type=radio] {
    width: 20px;
    height: 20px;
}

.material-icons {
    color: #fff;
}

.mat-icon {
    font-size: 20px;
    display: block;
    float: left;
    color: #1F69BC;
}

a:hover {
    text-decoration: none;
}

.footer-row {
    padding: 0px;
    background: #23388F;
    position: fixed;
    bottom: 0px;
    width: 100%;
    left: 0px;
    margin: 0px;
}

.footer {
    padding: 6px !important;
}

.text {
    font-weight: 20px;
    color: #17589f;
    display: block;
    float: left;
}

.col-12 {
    margin: 0;
}

.error-message {
    font-size: 16px;
}

@media (max-width: 1400px) {
    mat-icon {
        font-size: 25px !important;
        margin-top: 3px;
    }
    .line-base {
        padding: 0 !important;
    }
    .font-weight-bold {
        font-size: 12px;
    }
    input[type=radio] {
        width: 15px;
        height: 15px;
    }
    .error-message {
        font-size: 13px;
    }
}