<div class="card card-custom gutter-b mt-1" *ngIf="eAuthorize.VIEW_DRIVER_CHILDREN_BUTTON|canUseFeature">
	<div class="card-header">
		<div class="card-title">
			<h3 class="title">Danh sách tài khoản con</h3>
		</div>

		<div class="card-toolbar">
			<div class="search-form">
				<em class="flaticon-search"></em>
				<input
					type="text"
					name="searchText"
					placeholder="Search..."
					class="form-control"
					[formControl]="searchFormControl"
				/>
			</div>
		</div>
	</div>

	<div class="card-body">
		<div class="table-responsive angular-bootstrap-table">
			<table
				class="table table-head-custom table-vertical-center overflow-hidden"
				aria-describedby="list-customer"
			>
				<thead id="thead">
					<th id="phone">
						Số điện thoại
						<app-sort-icon
							column="phone"
							[activeColumn]="sortData?.fieldSort"
							[activeDirection]="sortData?.directionSort"
							(sort)="sort($event)"
						></app-sort-icon>
					</th>
					<th id="number-variable">Biển kiểm soát</th>
					<th id="money-limit" class="text-right " style="padding-right: 70px;">
						Hạn mức tiền
						<app-sort-icon
							column="cash_limit_money"
							[activeColumn]="sortData?.fieldSort"
							[activeDirection]="sortData?.directionSort"
							(sort)="sort($event)"
						></app-sort-icon>
					</th>
					<th id="license">Hạn mức nhiên liệu</th>
					<th id="licens">
						Trạng thái
						<app-sort-icon
							column="status"
							[activeColumn]="sortData?.fieldSort"
							[activeDirection]="sortData?.directionSort"
							(sort)="sort($event)"
						></app-sort-icon>
					</th>
				</thead>

				<tbody>
					<tr *ngFor="let item of dataSource">
						<td class="name">
							<p class="cursor-pointer text-ellipsis" placement="top" [ngbTooltip]="item.phone">
								{{ item.phone }}
							</p>
						</td>

						<td class="type-vehicle">
							<p
								class="cursor-pointer text-ellipsis"
								placement="top"
								[ngbTooltip]='item.numberVariable?.join(", ")'
							>
								{{ item.numberVariable?.join(', ') }}
							</p>
						</td>

						<td class="money-limit text-right">
							<p
								class="cursor-pointer text-ellipsis"
								placement="top"
								[ngbTooltip]='item.cashLimitMoney.toLocaleString("en-US")'
							>
								{{ item.cashLimitMoney.toLocaleString('en-US') }}
							</p>
						</td>

						<td class="oil-limit">
							<div *ngFor="let x of item.cashLimitOilResponses">
								<p
									class="cursor-pointer text-ellipsis"
									placement="top"
									[ngbTooltip]='x.productName + " - " + x.cashLimitOil.toLocaleString("en-US") + " " + x.unitCashLimitOil'
								>
									{{x.productName}} - {{x.cashLimitOil.toLocaleString('en-US')}}
									{{x.unitCashLimitOil}}
								</p>
							</div>
						</td>

						<td class="status">
							<span
								class="label label-lg label-inline"
								[class.label-light-success]="item.status === 'ACTIVE'"
								[class.label-light-danger]="item.status === 'LOCK'"
							>
								<ng-container *ngIf="item.status === 'ACTIVE'">Hoạt động</ng-container>
								<ng-container *ngIf="item.status === 'LOCK'">Không hoạt động</ng-container>
							</span>
						</td>
					</tr>
				</tbody>

				<tfoot *ngIf="dataSource.length === 0">
					<tr>
						<td colspan="5" class="text-center" style="color: #ccc">Không có bản ghi nào</td>
					</tr>
				</tfoot>
			</table>
		</div>
		<app-paginator [paginator]="paginatorState" (paginate)="pagingChange($event)"></app-paginator>
	</div>
</div>
