<div class='card card-custom gutter-b mt-1'>
  <div class='card-header'>
    <div class='card-title'>
      <h3 class='title'>Danh sách tài khoản con</h3>
    </div>

    <div class='card-toolbar'>
      <div class='search-form'>
        <em class='flaticon-search'></em>
        <input
          type='text'
          name='searchText'
          placeholder='Search...'
          class='form-control'
          [formControl]='searchFormControl'
        />
      </div>
    </div>
  </div>

  <div class='card-body'>
    <div class='table-responsive angular-bootstrap-table'>
      <table class='table table-head-custom table-vertical-center overflow-hidden' aria-describedby='list-customer'>
        <thead id='thead'>
        <th id='name'>
          Số điện thoại
          <app-sort-icon
            column='name'
            [activeColumn]='sortData?.fieldSort'
            [activeDirection]='sortData?.directionSort'
            (sort)='sort($event)'
          ></app-sort-icon>
        </th>
        <th id='type-vehicle'>
          Biển kiểm soát
          <app-sort-icon
            column='typeVehicle'
            [activeColumn]='sortData?.fieldSort'
            [activeDirection]='sortData?.directionSort'
            (sort)='sort($event)'
          ></app-sort-icon>
        </th>
        <th id='money-limit' class='text-right'>
          Hạn mức tiền
          <app-sort-icon
            column='licensePlates'
            [activeColumn]='sortData?.fieldSort'
            [activeDirection]='sortData?.directionSort'
            (sort)='sort($event)'
          ></app-sort-icon>
        </th>
        <th id='license'>
          Hạn mức nhiên liệu
          <app-sort-icon
            column='licensePlates'
            [activeColumn]='sortData?.fieldSort'
            [activeDirection]='sortData?.directionSort'
            (sort)='sort($event)'
          ></app-sort-icon>
        </th>
        <th id='licens'>
          Trạng thái
          <app-sort-icon
            column='licensePlates'
            [activeColumn]='sortData?.fieldSort'
            [activeDirection]='sortData?.directionSort'
            (sort)='sort($event)'
          ></app-sort-icon>
        </th>
        </thead>

        <tbody>
        <tr *ngFor='let item of dataSource'>
          <td class='name'>
            <p class='cursor-pointer text-ellipsis' placement='top' [ngbTooltip]='item.phone'>
              {{ item.phone }}
            </p>
          </td>

          <td class='type-vehicle'>
            <p class='cursor-pointer text-ellipsis' placement='top' [ngbTooltip]='item.seaOfControl'>
              {{ item.seaOfControl }}
            </p>
          </td>

          <td class='money-limit text-right'>
            <p
              class='cursor-pointer text-ellipsis'
              placement='top'
              [ngbTooltip]='item.moneyLimit.toLocaleString("en-US")'
            >
              {{ item.moneyLimit.toLocaleString('en-US') }}
            </p>
          </td>

          <td class='license-plates'>
            <p
              class='cursor-pointer text-ellipsis'
              placement='top'
              [ngbTooltip]='item.fuelLimit'
            >
              {{ item.fuelLimit }}
            </p>
          </td>

          <td class='status'>
            <span
              class='label label-lg label-inline'
              [class.label-light-success]="item.status === 'ACCEPTED'"
              [class.label-light-danger]="item.status === 'REJECT'"
              [class.label-light-warning]="item.status === 'WAITING_ACCEPT'"
              [class.label-light-primary]="item.status === 'DRAFT'"
            >
              <ng-container *ngIf="item.status === 'ACCEPTED'"
              >Đã duyệt</ng-container
              >
              <ng-container *ngIf="item.status === 'REJECT'"
              >Đã từ chối</ng-container
              >
              <ng-container *ngIf="item.status === 'WAITING_ACCEPT'"
              >Chờ phê duyệt</ng-container
              >
              <ng-container *ngIf="item.status === 'DRAFT'">Lưu nháp</ng-container>
            </span>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <app-paginator [paginator]='paginatorState' (paginate)='pagingChange($event)'></app-paginator>
  </div>
</div>
