<div class="container-fuild">

    <div class="row cust-row">
        <div class="col-12 line-base">
            <div class="title-head">
                <mat-icon>add</mat-icon>
                <span class="text">CHI TIẾT DỊCH VỤ BIẾN ĐỘNG SỐ DƯ</span>
            </div>
        </div>
        <div class="table-responsive mb-5">
            <table class="table table-bordered">
                <tr>
                    <th class="text-center" rowspan="2" class="account-no">Account No</th>
                    <th rowspan="2" class="regis-fee">
                        Fee Charge
                    </th>
                    <th>
                        <div class="row">
                            <div class="col-10">
                                aaaaa
                            </div>
                            <div class="col-2">
                                <span class="material-icons delete-action">delete</span>
                            </div>
                        </div>
                    </th>
                    <th>
                        <div class="row">
                            <div class="col-10">
                                aaaaa
                            </div>
                            <div class="col-2">
                                <span class="material-icons delete-action">delete</span>
                            </div>
                        </div>
                    </th>
                    <th>
                        <div class="row">
                            <div class="col-10">
                                aaaaa
                            </div>
                            <div class="col-2">
                                <span class="material-icons delete-action">delete</span>
                            </div>
                        </div>
                    </th>
                    <tr>
                        <th>
                            <div class="row">
                                <div class="col-9">
                                    <input type="text" class="form-control form-control-sm">
                                </div>
                            </div>
                        </th>
                        <th>
                            <div class="row">
                                <div class="col-9">
                                    <input type="text" class="form-control form-control-sm">
                                </div>
                            </div>
                        </th>
                        <th>
                            <div class="row">
                                <div class="col-9">
                                    <input type="text" class="form-control form-control-sm">
                                </div>
                            </div>
                        </th>
                    </tr>
                    <tr>
                        <td>aaaaaaaaaaaa</td>
                        <td><input type="radio"> </td>
                        <ng-container>
                            <td><input type="checkbox" class="checkbox"></td>
                        </ng-container>
                        <ng-container>
                            <td><input type="checkbox" class="checkbox"></td>
                        </ng-container>
                        <ng-container>
                            <td><input type="checkbox" class="checkbox"></td>
                        </ng-container>
                    </tr>
                    <tr>
                        <td colspan="2" class="text-right">Chi nhánh đăng ký thông báo
                        </td>
                        <ng-container>
                            <td>CN Hà Nội</td>
                        </ng-container>
                        <ng-container>
                            <td>CN Hà Nội</td>
                        </ng-container>
                        <ng-container>
                            <td>CN Hà Nội</td>
                        </ng-container>
                    </tr>
            </table>
        </div>
    </div>
</div>