.label-title {
    font-size: 18px;
    line-height: 21px;
    text-align: right;
    color: #384961;
}

.label-under {
    font-size: 18px;
    line-height: 21px;
    text-align: right;
    color: #252834;
}

.message {
    color: #17589f
}

.label-under-first {
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    color: #252834;
}

.label-under-nd {
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    color: #333333;
}

select {
    width: 280px;
    height: 36px;
    border: 1px solid #BDBDBD;
    box-sizing: border-box;
}

.label-infor {
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    color: #384961;
}

.material-icons {
    color: #fff;
}

.mat-icon {
    font-size: 20px;
    display: block;
    float: left;
    color: #1F69BC;
}

a:hover {
    text-decoration: none;
}

.footer-row {
    padding: 0px;
    background: #23388F;
    position: fixed;
    bottom: 0px;
    width: 100%;
    left: 0px;
    margin: 0px;
}

.action {
    width: 100px;
}

.cardNumber {
    width: 160px;
}

.footer {
    padding: 6px !important;
}

.text {
    font-weight: 20px;
    color: #17589f;
    display: block;
    float: left;
}

.table th {
    background: #EFF4FF;
    border: 1px solid #BDBDBD;
    box-sizing: border-box;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    align-items: center;
    color: #384961;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #384961;
    height: 45px;
    vertical-align: middle;
}

.cardTypeName {
    font-size: 14px;
    line-height: 16px;
    color: #384961;
    cursor: pointer;
    margin: 0;
    padding: 0;
}

.cardTypeNameCol {
    width: 210px;
}

.col-12 {
    margin-bottom: 0;
}

.col-sm-7 {
    padding-left: 0;
}

.fa-trash-o {
    font-size: 14px;
}

.id-table {
    width: 70px;
}

@media (max-width:1400px) {
    .label-under {
        font-size: 12px;
        line-height: 21px;
        text-align: right;
        color: #252834;
    }

    mat-icon {
        height: 20px;
        width: 20px;
        font-size: 25px;
    }

    .line-base {
        padding: 0 !important;
    }

    .table th {
        height: 18px;
        padding: 7px;
    }

    .table td {
        height: 18px;
        padding: 7px;
    }

    .fa-trash-o {
        font-size: 18px;
    }

    .id-table {
        width: 50px;
    }

    .detail {
        text-align: center;
        color: #1F69BC;
        cursor: pointer;
    }
}