<div class="modal-content">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-title">
      {{ isUpdate ? 'Sửa tài khoản' : 'Thêm mới tài khoản' }}
    </h4>
    <div class="close-icon" (click)="modal.close()"></div>
  </div>
  <div class="modal-body">
    <div class="overlay overlay-block cursor-default modal-body" style="min-height: 300px">
      <form [formGroup]="userForm" class="form form-label-right" *ngIf="!isUpdate">
        <div class="form-group row">
          <div class="col-lg-6">
            <label class="form-label required">Tên đăng nhập</label>
            <input
              type="text"
              class="form-control form-control-lg form-control-solid"
              formControlName="username"
              placeholder="Nhập tên đăng nhập"
              autocomplete="off"
              maxlength="100"
              (keydown.space)="$event.preventDefault()"
            />
            <app-validate
              [control]="userForm.controls['username']"
              [error]="'required'"
              [message]="'Tên đăng nhập không được để trống'"
            ></app-validate>
          </div>

          <div class="col-lg-6">
            <label class="form-label required">Mật khẩu</label>
            <input
              type="text"
              class="form-control form-control-lg form-control-solid"
              formControlName="password"
              placeholder="Nhập mật khẩu"
              maxlength="100"
              autocomplete="off"
              trim="blur"
            />
            <app-validate
              [control]="userForm.controls['password']"
              [error]="'required'"
              [message]="'Mật khẩu không được để trống'"
            ></app-validate>
          </div>
        </div>
      </form>
      <form [formGroup]="userForm" class="form form-label-right" *ngIf="isUpdate">
        <div class="form-group row">
          <div class="col-lg-6">
            <label class="form-label required">Tên đăng nhập</label>
            <input
              type="text"
              class="form-control form-control-lg form-control-solid"
              formControlName="username"
              placeholder="Nhập tên đăng nhập"
              autocomplete="off"
              maxlength="100"
              (keydown.space)="$event.preventDefault()"
            />
            <app-validate
              [control]="userForm.controls['username']"
              [error]="'required'"
              [message]="'Tên đăng nhập không được để trống'"
            ></app-validate>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary btn-dialog" (click)="onClose()">
      Hủy
    </button>
    <button type="button" ngbAutofocus class="btn btn-primary btn-dialog" #btnSave>Lưu</button>
  </div>
</div>
