.titleSearch {
    padding-top: 15px;
    border-bottom: 1px solid #BDBDBD;
    padding-bottom: 15px;
    font-weight: 500;
    font-size: 18px;
}

.inforLabel {
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
}

.information-field {
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
}


/* .colLeft{
    float: left;
    padding-bottom: 50px;
}
.colRight{
    float: left;
} */

.container-custom {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.txt {
    padding-top: calc(.375rem + 1px);
}

.table tr th {
    background: #EFF4FF;
    border: 1px solid #DFD9D9;
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    font-style: normal;
}

.table tr td {
    border: 1px solid #DFD9D9;
}

.ft {
    clear: both;
    height: 57px;
    background: #23388F;
}


/* menu trêe */

.example-tree-invisible {
    display: none;
}

.footer-row {
    padding: 0px;
    background: #23388F;
    position: fixed;
    bottom: 0px;
    width: 100%;
    left: 0px;
    margin: 0px;
}

.footer {
    padding: 6px;
}

.example-tree ul,
.example-tree li {
    margin-top: 0;
    margin-bottom: 0;
    list-style-type: none;
}

.example-tree-progress-bar {
    margin-left: 30px;
}

.example-tree-nested-node {
    padding-left: 30px;
}

.text {
    font-weight: 20px;
    color: #17589f;
    display: block;
    float: left;
    padding: 5px 0;
}

.mat-icon {
    font-size: 20px;
    display: block;
    float: left;
}

@media (max-width:1400px) {
    .line-base {
        padding: 0 !important;
    }
}

@media (min-width: 1200px) {
    .container-custom {
        max-width: 1240px;
    }
}

@media (max-width: 992px) {
    .container-custom {
        max-width: 960px;
    }
}

@media (max-width: 768px) {
    .container-custom {
        max-width: 720px;
    }
}

@media (max-width: 576px) {
    .container-custom {
        max-width: 540px;
    }
}