<div class="card card-custom">
  <div class="card-header">
    <div class="card-title">
      <h3 class="card-label">Danh sách cột</h3>
    </div>

    <div class="card-toolbar row">
      <div class="search-form">
        <i class="flaticon-search"></i>
        <input
          type="text"
          name="searchText"
          placeholder="Search..."
          class="form-control"
          [formControl]="searchFormControl"
        />
      </div>
      <button type="button" class="btn btn-primary" (click)="create()">Thêm mới</button>
    </div>
  </div>
  <div class="card-body">
    <div class="table-responsive angular-bootstrap-table">
      <table class="table table-head-custom table-vertical-center overflow-hidden">
        <thead>
          <th>
            Mã cột
            <app-sort-icon
              column="code"
              [activeColumn]="sorting.column"
              [activeDirection]="sorting.direction"
              (sort)="sort($event)"
            ></app-sort-icon>
          </th>
          <th>
            Tên cột
            <app-sort-icon
              column="name"
              [activeColumn]="sorting.column"
              [activeDirection]="sorting.direction"
              (sort)="sort($event)"
            ></app-sort-icon>
          </th>
          <th>
            Mô tả
            <app-sort-icon
              column="description"
              [activeColumn]="sorting.column"
              [activeDirection]="sorting.direction"
              (sort)="sort($event)"
            ></app-sort-icon>
          </th>
          <th>
            Trạng thái
            <app-sort-icon
              column="status"
              [activeColumn]="sorting.column"
              [activeDirection]="sorting.direction"
              (sort)="sort($event)"
            ></app-sort-icon>
          </th>
          <th class="text-center">Tác động</th>
        </thead>
        <tbody>
          <tr *ngFor="let pumpPole of dataSource">
            <td class="code">
              <p class="cursor-pointer text-ellipsis" placement="top" [ngbTooltip]="pumpPole.code">
                {{ pumpPole.code }}
              </p>
            </td>
            <td class="name">
              <p class="cursor-pointer text-ellipsis" placement="top" [ngbTooltip]="pumpPole.name">
                {{ pumpPole.name }}
              </p>
            </td>
            <td class="description">
              <p
                class="cursor-pointer text-ellipsis"
                placement="top"
                [ngbTooltip]="pumpPole.description"
              >
                {{ pumpPole.description }}
              </p>
            </td>
            <td class="status">
              <span
                class="label label-lg label-inline"
                [class.label-light-success]="pumpPole.status"
                [class.label-light-danger]="!pumpPole.status"
              >
                <ng-container *ngIf="pumpPole.status">Hoạt động</ng-container>
                <ng-container *ngIf="!pumpPole.status">Không hoạt động</ng-container>
              </span>
            </td>

            <td class="text-center task">
              <a
                (click)="update(pumpPole)"
                title="Edit product"
                class="btn btn-icon btn-light btn-hover-primary btn-sm mx-3"
              >
                <span
                  [inlineSVG]="'./assets/media/svg/icons/Communication/Write.svg'"
                  cacheSVG="true"
                  class="svg-icon svg-icon-md svg-icon-primary"
                >
                </span>
              </a>
              <a
                (click)="delete(pumpPole)"
                title="Delete product"
                class="btn btn-icon btn-light btn-hover-danger btn-sm"
              >
                <span
                  [inlineSVG]="'./assets/media/svg/icons/General/Trash.svg'"
                  cacheSVG="true"
                  class="svg-icon svg-icon-md svg-icon-danger"
                >
                </span>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="w-100 d-flex justify-content-center pb-10">
    <button class="btn btn-outline-secondary font-weight-bold m-2" (click)="back()">
      Quay lại
    </button>
    <button class="btn btn-primary font-weight-bold m-2" (click)="submit()">Tiếp tục</button>
  </div>
</div>
