<div class="login-container d-flex">
  <div class="login-form-wrapper d-flex justify-content-center">
    <!--begin::Signin-->
    <div class="login-form login-signin">
      <div class="logo">
        <img src="./assets/media/logos/logo-sunoil.png" alt="" />
      </div>

      <!--begin::Form-->
      <form
        class="form"
        [formGroup]="loginForm"
        novalidate="novalidate"
        id="kt_login_signin_form"
        (ngSubmit)="submit()"
      >
        <!--begin::Title-->
        <div class="pb-5 pt-lg-0 pt-5">
          <h3 class="font-weight-bolder text-center text-dark font-size-h4 font-size-h1-lg">
            Đăng nhập
          </h3>
        </div>
        <!--end::Title-->

        <!-- begin::Alert error-->
        <ng-container *ngIf="hasError">
          <div class="mb-10 alert alert-custom alert-light-danger alert-dismissible">
            <div class="alert-text">
              Số điện thoại hoặc mật khẩu không đúng <br />
              Vui lòng nhập lại.
            </div>
          </div>
        </ng-container>
        <!-- end::Alert error-->

        <!-- begin::Alert error-->
        <ng-container *ngIf="hasError">
          <div class="mb-10 alert alert-custom alert-light-danger alert-dismissible">
            <div class="alert-text">Thông tin tài khoản không chính xác</div>
          </div>
        </ng-container>
        <!-- end::Alert error-->

        <!--begin::Form group-->
        <div class="form-group">
          <label class="font-size-h6 font-weight-bolder text-dark">Số điện thoại</label>
          <input
            class="form-control form-control-solid h-auto py-7 px-6 rounded-lg"
            type="text"
            name="phone"
            formControlName="phone"
            placeholder="Nhập số điện thoại"
            autocomplete="off"
          />

          <ng-container
            [ngTemplateOutlet]="formError"
            [ngTemplateOutletContext]="{
              validation: 'required',
              message: 'Số điện thoại không được để trống',
              control: loginForm.controls['phone']
            }"
          ></ng-container>
          <ng-container
            [ngTemplateOutlet]="formError"
            [ngTemplateOutletContext]="{
              validation: 'minLength',
              message: 'Số điện thoại không đúng định dạng',
              control: loginForm.controls['phone']
            }"
          ></ng-container>
          <ng-container
            [ngTemplateOutlet]="formError"
            [ngTemplateOutletContext]="{
              validation: 'maxLength',
              message: 'Số điện thoại không đúng định dạng',
              control: loginForm.controls['phone']
            }"
          ></ng-container>
        </div>
        <!--end::Form group-->

        <!--begin::Form group-->
        <div class="form-group">
          <div class="d-flex justify-content-between mt-n5">
            <label class="font-size-h6 font-weight-bolder text-dark pt-5">Mật khẩu</label>
            <a
              routerLink="/auth/forgot-password"
              class="text-primary font-size-h6 font-weight-bolder text-hover-primary pt-5"
              id="kt_login_forgot"
            >
              Quên mật khẩu
            </a>
          </div>
          <div class="position-relative">
            <input
              class="form-control form-control-solid h-auto py-7 px-6 rounded-lg"
              type="password"
              name="password"
              autocomplete="off"
              placeholder="Nhập mật khẩu"
              formControlName="password"
            />
            <span class="navi-icon position-absolute eye-icon"><i class="fa fa-eye"></i></span>
          </div>
          <ng-container
            [ngTemplateOutlet]="formError"
            [ngTemplateOutletContext]="{
              validation: 'required',
              message: 'Mật khẩu không được để trống',
              control: loginForm.controls['password']
            }"
          ></ng-container>
        </div>
        <!--end::Form group-->

        <!--begin::Action-->
        <div class="pb-lg-0 pb-5 d-flex justify-content-center">
          <button
            type="submit"
            id="kt_login_signin_submit"
            class="btn btn-dark font-weight-bolder font-size-h6 px-8 py-4 my-3 mr-3"
            [disabled]="loginForm.invalid && loginForm.touched"
          >
            Đăng nhập
          </button>

          <ng-container *ngIf="isLoading$ | async">
            <span class="spinner spinner-primary ml-5"></span>
          </ng-container>
        </div>
        <!--end::Action-->
      </form>
      <!--end::Form-->
    </div>
    <!--end::Signin-->
  </div>

  <ng-template #formError let-control="control" let-message="message" let-validation="validation">
    <ng-container *ngIf="control.hasError(validation) && (control.dirty || control.touched)">
      <div class="fv-plugins-message-container">
        <div class="fv-help-block">
          {{ message }}
        </div>
      </div>
    </ng-container>
  </ng-template>

  <div class="cover-image">
    <img src="./assets/media/svg/login/cover-svg.svg" alt="" />
  </div>
</div>
