.col-12 {
    padding: 0;
    .mobile {
        min-width: 33.33%;
        height: 270px;
        border: 1px solid #BDBDBD;
        .mobile-no-col {
            min-width: 33.33%;
            height: 100px;
            display: block;
            background-color: #EFF4FF;
            .mobile-no-title {
                width: 100%;
                height: 50px;
                border-bottom: 1px solid #BDBDBD;
                border-top: 1px solid #BDBDBD;
                display: flex;
                .input-mobile-title {
                    width: 85%;
                    padding: 6px 15px;
                    display: table;
                    text-align: center;
                    border-right: 1px solid #BDBDBD;
                    span {
                        display: table-cell;
                        vertical-align: middle;
                    }
                }
                .delete-action {
                    width: 15%;
                    padding: 10px;
                }
            }
            .mobile-no {
                width: 100%;
                height: 49px;
                border-bottom: 1px solid #BDBDBD;
                border-top: 1px solid #BDBDBD;
                padding: 5px 10px;
                input {
                    width: 100%;
                }
            }
            .service-checker {
                min-width: 33.33%;
                height: 50px;
                border-bottom: 1px solid #BDBDBD;
                border-top: 1px solid #BDBDBD;
                text-align: center;
                padding: 14px;
                input[type=checkbox] {
                    width: 20px;
                    height: 20px;
                }
            }
            .branch-ntf {
                width: 100%;
                height: 70px;
                border-bottom: 1px solid #BDBDBD;
                border-top: 1px solid #BDBDBD;
                display: table;
                span {
                    display: table-cell;
                    vertical-align: middle;
                }
            }
        }
    }
}