<div class="card card-custom gutter-b mt-1">
  <div class="card-header">
    <div class="card-title">
      <h3 class="card-label">Danh sách tin tức</h3>
    </div>

    <div class="card-toolbar">
      <a
        [routerLink]='"them-moi"'
        type="button"
        class="btn btn-primary"
        *ngIf='eAuthorize.CREATE_NEWS_BUTTON | canUseFeature'
      >
        Thêm mới
      </a>
    </div>
  </div>
  <div class="card-body">
    <div class="table-responsive angular-bootstrap-table">
      <table class="table table-head-custom table-vertical-center overflow-hidden" aria-label="">
        <thead>
        <th class="banner-name" scope="">Tin tức</th>
        <th class="action text-center" scope="">Tác động</th>
        </thead>

        <tbody>
        <tr *ngFor='let item of listNews'>
          <td class='title' [routerLink]='["chi-tiet", item.id]'>
            <p
              class="cursor-pointer text-ellipsis"
              placement="top"
              [ngbTooltip]="item.title"
            >
              {{ item.title }}
            </p>
          </td>

          <td class="text-center action">
            <a class="btn btn-icon btn-light btn-hover-primary btn-sm mx-3"
               *ngIf='eAuthorize.UPDATE_NEWS_BUTTON | canUseFeature'
               [routerLink]='["cap-nhat", item.id]'
            >
								<span
                  [inlineSVG]="'./assets/media/svg/icons/Communication/Write.svg'"
                  cacheSVG="true"
                  class="svg-icon svg-icon-md svg-icon-primary"
                  [ngbTooltip]="'Sửa'"
                >
								</span>
            </a>
            <a class="btn btn-icon btn-light btn-hover-danger btn-sm"
               (click)='openConfirmDeleteDialog(item)'
               *ngIf='eAuthorize.DELETE_NEWS_BUTTON | canUseFeature'
            >
								<span
                  [inlineSVG]="'./assets/media/svg/icons/General/Trash.svg'"
                  cacheSVG="true"
                  class="svg-icon svg-icon-md svg-icon-danger"
                  [ngbTooltip]="'Xóa'"
                >
								</span>
            </a>
          </td>
        </tr>
        </tbody>

        <tfoot *ngIf="listNews?.length === 0">
        <tr>
          <td colspan="10" class="text-center" style="color: #ccc">Không có bản ghi nào</td>
        </tr>
        </tfoot>
      </table>
    </div>

    <app-paginator [paginator]="paginatorState" (paginate)="pagingChange($event)"></app-paginator>
  </div>
</div>
