.card-header {
	border-bottom: 0;
}

.card-body {
  padding-top: 0 !important;
}

.search-result {
	padding: 0 1em;
	line-height: 35px;
	background: #e3f1ff;
	.card-toolbar {
		gap: 50px;
	}
}

.item {
	padding-right: 35px;
	line-height: 35px;
}

.input-group-text {
	border: 0;
}

.fa-circle {
	color: #ff0000;
	padding-right: 12px;
	font-size: 8px;
}

.btn-def {
	min-width: 110px;
}

table {
	min-width: 1024px;

	th,
	td {
		padding-left: 20px;
		padding-right: 20px;
	}

	thead {
		tr {
			&:hover {
				background-color: #fff;
			}

			th {
				text-transform: none;
			}
		}
	}

	tbody {
		td {
			&.a-1,
			&.a-2,
			&.a-3,
			&.a-4,
			&.a-6,
			&.a-7 {
				min-width: 170px;
			}

			&.a-5 {
				min-width: 130px;
			}

			&.a-8 {
				min-width: 200px;
			}

			&.a-9 {
				min-width: 120px;
			}

			&.a-10,
			&.a-11,
			&.a-12,
			&.a-13 {
				min-width: 150px;
			}
		}

		td {
			&.a-3,
			&.a-4,
			&.a-6,
			&.a-7 {
				max-width: 220px;
			}

			&.a-9,
			&.a-10,
			&.a-11,
			&.a-12,
			&.a-13 {
				max-width: 180px;
			}
		}
	}
}
