.ebanking-create {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #BDBDBD;
    &-header {
        padding: 9px;
        border-bottom: 1px solid #BDBDBD;
        span {
            vertical-align: sub;
            color: #23388F;
            font-weight: 500;
            font-size: 18px;
            margin-left: 5px;
        }
        img {
            width: 30px;
            height: 30px;
        }
    }
    &-content {
        padding: 24px 0px;
        display: flex;
        justify-content: space-between;
        .col-content {
            width: 50%;
            display: flex;
            flex-direction: column;
            padding-right: 24px;
            &-row {
                display: flex;
                justify-content: space-between;
                .txt-label {
                    width: calc(50% - 16px);
                    max-width: 50%;
                    font-weight: 700;
                    font-size: 14px;
                    color: #252834;
                    text-align: right;
                    align-self: center;
                }
                .inp-group {
                    width: calc(50% - 16px);
                    max-width: 50%;
                    display: flex;
                    input {
                        height: 36px;
                        border: 1px solid #C4CDD5;
                        outline: none;
                    }
                }
                .ckb-group {
                    width: calc(50% - 16px);
                    max-width: 50%;
                    display: flex;
                    justify-content: flex-start;
                    input {
                        height: 36px;
                        border: 1px solid #C4CDD5;
                        outline: none;
                    }
                    .ckb-item {
                        display: flex;
                        align-items: flex-end;
                        cursor: pointer;
                        -moz-user-select: none;
                        -webkit-user-select: none;
                        -ms-user-select: none;
                        user-select: none;
                    }
                }
                .gr-select {
                    width: calc(50% - 16px);
                    max-width: 50%;
                    display: flex;
                    select {
                        height: 36px;
                        border: 1px solid #C4CDD5;
                        outline: none;
                    }
                }
                .rb-group {
                    width: calc(50% - 16px);
                    max-width: 50%;
                    display: flex;
                    justify-content: space-between;
                    input {
                        height: 36px;
                        border: 1px solid #C4CDD5;
                        outline: none;
                    }
                    .rb-item {
                        width: 50%;
                        display: flex;
                        align-items: flex-end;
                        cursor: pointer;
                        -moz-user-select: none;
                        -webkit-user-select: none;
                        -ms-user-select: none;
                        user-select: none;
                    }
                }
                .txt-require {
                    color: red;
                }
            }
        }
    }
    .line-base {
        border-bottom: 1px solid #c8ced3;
        border-top: 1px solid #c8ced3;
        padding: 10px 0;
        .title-head {
            font-weight: 500;
            .icon-title-head {
                font-size: 30px;
                height: 30px;
                width: 38px;
                text-indent: 5px
            }
            .text {
                padding: 5px 0;
                color: #17589f;
                display: block;
                float: left;
            }
        }
    }
}