<!-- <div class="topnav" id="myTopnav">
  <div id="css-menu">
    <img src="assets/img/lienviet.png" >
    <a class="menu-nav"><i class="fa fa-bell" aria-hidden="true" style="margin-right: 3px;"></i>
      Thông báo
    </a>
    <a class="dropdown menu-nav">
      <i class="fa fa-star" aria-hidden="true" style="margin-right: 5px;"></i>Đăng ký dịch vụ
      <div class="dropdown-content">
        <a href="#">Khách hàng cá nhân</a>
        <div class="dropdown-divider"></div>
        <a href="#">Khách hàng doanh nghiệp</a>
        <div class="dropdown-divider"></div>
        <a href="#">Mở ví việt</a>
      </div>
    </a>
    <a class="dropdown menu-nav">
      <i class="fa fa-folder-open" aria-hidden="true" style="margin-right: 3px;"></i> Quản lý hồ sơ
      <div class="dropdown-content">
        <a href="#">Danh sách hồ sơ</a>
        <div class="dropdown-divider"></div>
        <a href="#">Quản lý tài liệu đính kèm</a>
        <div class="dropdown-divider"></div>
        <a href="#">Quản lý chữ ký</a>
      </div>
    </a>
    <a class="dropdown menu-nav">
      <i class="fa fa-cog" aria-hidden="true" style="margin-right: 5px;"></i>Quản trị hệ thống
      <div class="dropdown-content">
        <a href="#">Danh sách chức năng</a>
        <div class="dropdown-divider"></div>
        <a href="#">Danh sách tài khoản</a>
        <div class="dropdown-divider"></div>
        <a href="#">Danh sách phân quyền</a>
        <div class="dropdown-divider"></div>
        <a href="#">Chi nhánh/PGD</a>
        <div class="dropdown-divider"></div>
        <a href="#">Danh sách tỉnh thành</a>
        <div class="dropdown-divider"></div>
        <a href="#">Danh sách quận huyện</a>
        <div class="dropdown-divider"></div>
        <a href="#">Danh sách phường xã</a>
      </div>
    </a>
    <a class="dropdown menu-nav">
      <i class="fa fa-pie-chart" aria-hidden="true" style="margin-right: 5px;"></i>Báo cáo
      <div class="dropdown-content">
        <a href="#">Báo cáo tổng hợp</a>
        <div class="dropdown-divider"></div>
        <a href="#">Báo cáo chi tiết</a>
        <div class="dropdown-divider"></div>
        <a href="#">Báo cáo SLA</a>
      </div>
    </a>
    <a class="admin-right dropdown menu-nav" style="float: right;">
      <i class="fa fa-user" aria-hidden="true" style="margin-right: 5px;"></i>admin
      <div class="dropdown-content" (click)="logout()">
        <a >Logout</a>
      </div>
    </a>
  </div>
  <div style="height: 68px"></div>
</div> -->

<!-- <div style="clear: both;"> -->
  <!-- <div class="sidebar">
    <ul>
      <li class="active">
        <a>
          <i class="fa fa-cog" aria-hidden="true" style="margin-right: 5px;"></i>
          Quản trị hệ thống
        </a>
      </li>
    </ul>
  </div> -->
  <div class="main">
    <router-outlet></router-outlet>
  </div>
<!-- </div> -->
