<div class="card card-custom gutter-b mt-1">
  <div class="card-header">
    <div class="card-title justify-content-between w-100">
      <h3 class="card-label">Chi tiết đánh giá {{listDetailEmployeeAssessment?.codeEmployee}} {{listDetailEmployeeAssessment?.nameEmployee}}</h3>
    </div>
  </div>
  <div class="card-body list-vote">
    <div *ngFor='let vote of votes; let i = index'>
      <div class='vote'>
        <input type="checkbox" [(ngModel)]='vote.checked' (ngModelChange)='filterByVote(vote)' />
        <div class='star-wrapper'>
          <ng-container *ngIf='i === 0' [ngTemplateOutlet]='start1' [ngTemplateOutletContext]='{ fiveStar: numOfStar?.fiveStar }'>
          </ng-container>
          <ng-container *ngIf='i === 1' [ngTemplateOutlet]='start2' [ngTemplateOutletContext]='{ fourStar: numOfStar?.fourStar }'>
          </ng-container>
          <ng-container *ngIf='i === 2' [ngTemplateOutlet]='start3' [ngTemplateOutletContext]='{ threeStar: numOfStar?.threeStar }'>
          </ng-container>
          <ng-container *ngIf='i === 3' [ngTemplateOutlet]='start4' [ngTemplateOutletContext]='{ twoStar: numOfStar?.twoStar }'>
          </ng-container>
          <ng-container *ngIf='i === 4' [ngTemplateOutlet]='start5' [ngTemplateOutletContext]='{ oneStar: numOfStar?.oneStar }'>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="card card-custom gutter-b mt-1">
  <div class="card-header">
    <div class="card-title justify-content-between w-100">
      <h3 class="card-label">Danh sách đánh giá</h3>

      <button *ngIf="listDetailEmployeeAssessment?.evaluationDetails.length !== 0" class='btn btn-primary' (click)='exportFileExcel()'>Xuất file</button>
    </div>
  </div>
  <div class="card-body">
    <div class="table-responsive angular-bootstrap-table">
      <table class="table table-head-custom table-vertical-center overflow-hidden" aria-label="">
        <thead>
        <th class="code-employee" scope="">Mã đơn hàng</th>
        <th class="date-employee" scope="">Thời gian</th>
        <th class="station-employee" scope="">Trạm</th>
        <th class="assessment-employee text-center" scope="">Đánh giá</th>
        <th scope="">Ý kiến bình luận</th>
        </thead>

        <tbody>
        <tr *ngFor="let item of listDetailEmployeeAssessment?.evaluationDetails">
          <td class="code-employee">
            <p class="cursor-pointer text-ellipsis" placement="top" [ngbTooltip]="item?.code">
              {{ item?.code }}
            </p>
          </td>
          <td class="date-employee">
            <p
              class="cursor-pointer text-ellipsis"
              placement="top"
              [ngbTooltip]="item?.date | date: 'dd/MM/yyyy'"
            >
              {{ item?.date | date: 'dd/MM/yyyy' }}
            </p>
          </td>
          <td class="station-employee">
            <p class="cursor-pointer text-ellipsis" placement="top" [ngbTooltip]="item?.stationName">
              {{ item?.stationName }}
            </p>
          </td>
          <td class="assessment-employee text-right">
            <p class="cursor-pointer text-center" placement="top" [ngbTooltip]="item?.vote + ' sao'">
              {{ item?.vote }}<sup>*</sup>
            </p>
          </td>
          <td>
            <p
              class="cursor-pointer text-ellipsis"
              placement="top"
              [ngbTooltip]="item?.content"
            >
              {{ item?.content }}
            </p>
          </td>
        </tr>
        </tbody>

        <tfoot *ngIf="listDetailEmployeeAssessment?.evaluationDetails.length === 0">
        <tr>
          <td colspan="10" class="text-center" style="color: #ccc">Không có bản ghi nào</td>
        </tr>
        </tfoot>
      </table>
    </div>

    <app-paginator [paginator]="paginatorState" (paginate)="pagingChange($event)"></app-paginator>
  </div>
</div>

<ng-template #start5 let-oneStar=oneStar>
  <p>
    <span class='selected-star'><em class='fas fa-star'></em></span>
    <span class='unselected-star'><em class='far fa-star'></em></span>
    <span class='unselected-star'><em class='far fa-star'></em></span>
    <span class='unselected-star'><em class='far fa-star'></em></span>
    <span class='unselected-star'><em class='far fa-star'></em></span>
  </p>
  <p class='text-center'>( {{oneStar}} )</p>
</ng-template>

<ng-template #start4 let-twoStar=twoStar>
  <p>
    <span class='selected-star'><em class='fas fa-star'></em></span>
    <span class='selected-star'><em class='fas fa-star'></em></span>
    <span class='unselected-star'><em class='far fa-star'></em></span>
    <span class='unselected-star'><em class='far fa-star'></em></span>
    <span class='unselected-star'><em class='far fa-star'></em></span>
  </p>
  <p class='text-center'>( {{twoStar || 0}} )</p>
</ng-template>

<ng-template #start3 let-threeStar=threeStar>
  <p>
    <span class='selected-star'><em class='fas fa-star'></em></span>
    <span class='selected-star'><em class='fas fa-star'></em></span>
    <span class='selected-star'><em class='fas fa-star'></em></span>
    <span class='unselected-star'><em class='far fa-star'></em></span>
    <span class='unselected-star'><em class='far fa-star'></em></span>
  </p>
  <p class='text-center'>( {{threeStar || 0}} )</p>
</ng-template>

<ng-template #start2 let-fourStar=fourStar>
  <p>
    <span class='selected-star'><em class='fas fa-star'></em></span>
    <span class='selected-star'><em class='fas fa-star'></em></span>
    <span class='selected-star'><em class='fas fa-star'></em></span>
    <span class='selected-star'><em class='fas fa-star'></em></span>
    <span class='unselected-star'><em class='far fa-star'></em></span>
  </p>
  <p class='text-center'>( {{fourStar || 0}} )</p>
</ng-template>

<ng-template #start1 let-fiveStar=fiveStar>
  <p>
    <span class='selected-star'><em class='fas fa-star'></em></span>
    <span class='selected-star'><em class='fas fa-star'></em></span>
    <span class='selected-star'><em class='fas fa-star'></em></span>
    <span class='selected-star'><em class='fas fa-star'></em></span>
    <span class='selected-star'><em class='fas fa-star'></em></span>
  </p>
  <p class='text-center'>( {{fiveStar || 0}} )</p>
</ng-template>
