<div class="container-fuild">
  <div class="row cust-row" *ngIf="card">
    <div class="col-12 line-base" style="border-bottom: 1px solid #c8ced3;padding: 10px 0; ">
      <div class="title-head">
        <mat-icon style="font-size: 30px; height: 30px; width: 38px; text-indent: 5px ;color: #1F69BC;">add_circle
        </mat-icon>
        <span class="text" style="padding: 5px 0;">THÔNG TIN THẺ CHÍNH</span>
      </div>
    </div>
    <div class="col-12">
      <div class="col-6 colLeft pt-3">
        <div class="row m-4">
          <label class="col-5 text-right"> Số hợp đồng </label>
          <div class="col-7 textLabel">
            <label>{{card.contractNumber}}</label>
          </div>
        </div>
        <div class="row m-4">
          <label class="col-5 text-right"> Loại thẻ </label>
          <div class="col-7 textLabel">
            <label>{{card.cardTypeName}}</label>
          </div>
        </div>
        <div class="row m-4">
          <label class="col-5 text-right"> Mã thẻ </label>
          <div class="col-7 textLabel">
            <label>{{card.cardProductCode}}-{{card.cardProductName}}</label>
          </div>
        </div>
        <div class="row m-4">
          <label class="col-5 text-right"> Hạng thẻ </label>
          <div class="col-7 textLabel">
            <label>{{card.cardRateName}}</label>
          </div>
        </div>
        <div class="row m-4">
          <label class="col-5 text-right"> Tài khoản mặc định</label>
          <div class="col-7 textLabel">
            <ng-container *ngIf="card.account == null ">
              Không có tài khoản mặc định
            </ng-container>
            <ng-container *ngIf="card.account != null ">
              <label>{{card.account.accountNumber}}</label>
              <label *ngIf="card.account.accountNumber==null">Tài khoản mới - {{card.account.accountIndex}}</label>
            </ng-container>
          </div>
        </div>
        <div class="row m-4">
          <label class="col-5 text-right"> Số dư tài khoản</label>
          <div class="col-7 textLabel">
            <ng-container *ngIf="card.account == null ">
              Không có tài khoản mặc định
            </ng-container>
            <ng-container *ngIf="card.account != null ">
              <label>{{card.account.currentBalance}}</label>
              <label *ngIf="card.account.currentBalance=== null">Không có giá trị</label>
            </ng-container>
          </div>
        </div>
        <div class="row m-4">
          <label class="col-5 text-right"> Lãi suất </label>
          <div class="col-7 textLabel">
            <label>{{card.interestRate}}</label>
          </div>
        </div>
        <div class="row m-4">
          <label class="col-5 text-right"> Tài khoản liên kết thẻ </label>
          <div class="col-7 textLabel">
            <div *ngFor="let c of card.accountLinkList">
              <ng-container *ngIf="c.account==null">
                Không có thông tin tài khoản liên kết
              </ng-container>
              <ng-container *ngIf="c.account!=null">
                <label>{{c.account.accountNumber}}</label>
                <label *ngIf="c.account.accountNumber=== null">Tài khoản mới - {{c.account.accountIndex}}</label>
              </ng-container>
            </div>
          </div>
        </div>

        <div class="row m-4">
          <label class="col-5 text-right"> Diễn giải </label>
          <div class="col-7 textLabel">
            <p><label> {{card.explain}} </label></p>
          </div>
        </div>
      </div>
      <div class="col-6 colRight pt-3">
        <div class="row m-4">
          <label class="col-5 text-right"> Tên dập nổi trên thẻ
          </label>
          <div class="col-7 textLabel">
            <label>{{card.cardHolderName}} </label>
          </div>
        </div>
        <div class="row m-4">
          <label class="col-5 text-right"> Hình thức phát hành
          </label>
          <div class="col-7 textLabel">
            <label>{{card.deliveryTypeName}}</label>
          </div>
        </div>
        <div class="row m-4" *ngIf="card.deliveryTypeCode=='TRAO_NGAY'">
          <label class="col-5 text-right"> Số thẻ
          </label>
          <div class="col-7 textLabel">
            <label>{{card.cardNumber}}</label>
          </div>
        </div>
        <div class="row m-4" *ngIf="card.deliveryTypeCode=='DEFAULT'">
          <label class="col-5 text-right"> Địa chỉ nhận thẻ
          </label>
          <div class="col-7 textLabel" *ngIf="card.deliveryChanelCode=='TAI_CHI_NHANH'">
            <label>{{card.deliveryBranch.code}} -- {{card.deliveryBranch.address}} </label>
          </div>
          <div class="col-7 textLabel" *ngIf="card.deliveryChanelCode=='GUI_NHAN'">
            <label>{{card.deliveryAddress}}</label>
          </div>
        </div>
        <div class="row m-4">
          <label class="col-5 text-right"> Tổng phí + VAT
          </label>
          <div class="col-7 textLabel">
            <label *ngIf="card.feeAmount===null">Không có giá trị</label>
            <label *ngIf="card.feeAmount!==null">{{card.feeAmount | number }} VNĐ</label>

          </div>
        </div>
        <div class="row m-4">
          <label class="col-5 text-right"> Ngày phát hành </label>
          <div class="col-7 textLabel">
            <label>{{card.issueDate}}</label>
          </div>
        </div>
        <div class="row m-4">
          <label class="col-5 text-right"> Ngày hết hạn </label>
          <div class="col-7 textLabel">
            <label>{{card.expirationDate}}</label>
          </div>
        </div>
        <div class="row m-4">
          <label class="col-5 text-right"> Mã nhân viên
          </label>
          <div class="col-7 textLabel">
            <label>{{card.employeeId}}</label>
          </div>
        </div>
        <div class="row m-4">
          <label class="col-5 text-right"> Mã người giới thiệu
          </label>
          <div class="col-7 textLabel">
            <label>{{card.referrerCode}}</label>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row footer-row" style="margin:0px;position: fixed;width: 100%;bottom: 0px;background: #23388F;">
    <div class="col-12" *ngIf="isGDV && isFullRole" style="text-align: right;padding: 0px;margin: 0px">

      <div class="footer" (click)="addSubCard()" style="padding-right: 20px;"
           *ngIf="authenticationService.isPermission(PermissionConst.THE_PHU.CREATE)
           && (process.item.customer.statusCif !== 'Y' && process.item.customer.statusCif !== 'C')
           && process.item.statusCode !== PROCESS_STATUS.DONG_HO_SO && !isView">
        <span class="material-icons"> add </span>
        <label>Thêm mới thẻ phụ</label>
      </div>
      <div class="footer" style="padding-right: 20px;" (click)="update(card)"
           *ngIf="authenticationService.isPermission(PermissionConst.THE_CHINH.UPDATE)
           && (process.item.customer.statusCif !== 'Y' && process.item.customer.statusCif !== 'C')
           && !card.cardStatusCode
           && !isView">
        <span class="material-icons"> edit </span>
        <label style=" margin-right: 15px;">Cập nhật thông tin</label>
      </div>
      <div
        *ngIf="authenticationService.isPermission(PermissionConst.THE_CHINH.DELETE)
        && (process.item.customer.statusCif !== 'Y' && process.item.customer.statusCif !== 'C')
        && (card.processIntegrated?.statusCode=='W' || card.processIntegrated?.statusCode=='E')
        && (process.item.statusCode !== PROCESS_STATUS.DONG_HO_SO)
        && !isView"
        class="footer" (click)="deleteCard(card.id)" style="padding-right: 20px;">
        <span class="material-icons"> delete </span>
        <label>Xóa</label>
      </div>
      <div class="footer" style="padding-right: 20px;" (click)="sendApprove()"
           *ngIf="authenticationService.isPermission(PermissionConst.HO_SO_GIAO_DICH.SEND_APPROVE_CREATE_CARD)
           && (process.item.customer.statusCif !== 'Y' && process.item.customer.statusCif !== 'C')
           && (card.processIntegrated?.statusCode ==='E')
           && !isView">
        <span class="material-icons"> check </span>
        <label style=" margin-right: 15px;">Gửi duyệt</label>
      </div>
      <div class="footer" (click)="backPage()">
        <span class="material-icons"> keyboard_backspace</span>
        <label>Quay lại</label>
      </div>
    </div>
    <div class="col-12" *ngIf="isKSV && !isFullRole ">
      <div class="footer"
           *ngIf="authenticationService.isPermission(PermissionConst.HO_SO_GIAO_DICH.SEND_MODIFY_CREATE_CARD)
           && (process.item.customer.statusCif !== 'Y' && process.item.customer.statusCif !== 'C')
           && isBtnKsv"
           (click)="showPopup(btnButton.REQUEST_ADD)">
        <span class="material-icons"> edit </span>
        <label>Yêu cầu bổ sung</label>
      </div>
      <div class="footer"
           *ngIf="authenticationService.isPermission(PermissionConst.HO_SO_GIAO_DICH.SEND_REJECT_CREATE_CARD)
           && (process.item.customer.statusCif !== 'Y' && process.item.customer.statusCif !== 'C')
           && isBtnKsv"
           (click)="showPopup(btnButton.REJECT)">
        <span class="material-icons"> close </span>
        <label>Từ chối</label>
      </div>
      <div class="footer"
           *ngIf="authenticationService.isPermission(PermissionConst.HO_SO_GIAO_DICH.APPROVE_CREATE_CARD)
           && (process.item.customer.statusCif !== 'Y' && process.item.customer.statusCif !== 'C')
           && isBtnKsv"
           (click)="showPopup(btnButton.APPROVE)">
        <span class="material-icons"> check </span>
        <label>Duyệt </label>
      </div>
      <div class="footer mr-1" (click)="backPage()">
        <span class="material-icons"> keyboard_backspace </span>
        <label>Quay lại</label>
      </div>
    </div>
    <app-lpb-modal headerText="Xác nhận" [show]="isShowPopupRequestAdd" [unit]="'%'" [widthContent]="50"
                   [heightContent]="50" (hideModal)="isShowPopupRequestAdd = false">
      <div class="detail-cif-content">
        <div class="mb-2">
          Bạn có muốn yêu cầu bổ sung dịch vụ này không?
        </div>
        <div class="block-note">
          <label>Ghi chú:&nbsp;&nbsp;</label>
          <textarea [(ngModel)]='note' class="form-control" cols="80" rows="7"></textarea>
        </div>
        <div class="text-right pt-2">
          <button class="btn-cancel" (click)="confimSendRequestAdd('CANCEL')">
            Hủy
          </button>
          <button class="btn-save ml-2" (click)="confimSendRequestAdd('CONFIRM')">
            Đồng ý
          </button>
        </div>
      </div>
    </app-lpb-modal>
    <app-lpb-modal headerText="Xác nhận" [show]="isShowPopupApprove" [unit]="'%'" [widthContent]="50"
                   [heightContent]="50" (hideModal)="isShowPopupApprove = false">
      <div class="detail-cif-content">
        <div class="mb-2">
          Bạn có muốn duyệt dịch vụ này không?
        </div>
        <div class="block-note">
          <label>Ghi chú:&nbsp;&nbsp;</label>
          <textarea [(ngModel)]='note' class="form-control" cols="80" rows="7"></textarea>
        </div>
        <div class="text-right pt-2">
          <button class="btn-cancel" (click)="confimApproveProcess('CANCEL')">
            Hủy
          </button>
          <button class="btn-save ml-2" (click)="confimApproveProcess('CONFIRM')">
            Đồng ý
          </button>
        </div>
      </div>
    </app-lpb-modal>
    <app-lpb-modal headerText="Xác nhận" [show]="isShowPopupDelete" [unit]="'%'" [widthContent]="50"
                   [heightContent]="50" (hideModal)="isShowPopupDelete = false">

      <div class="detail-cif-content">
        <div class="text-center">
          Bạn có muốn từ chối hồ sơ?
        </div>
        <div class="block-note">
          <label>Ghi chú:&nbsp;&nbsp;</label>
          <textarea [(ngModel)]='note' class="form-control" cols="80" rows="7"></textarea>
        </div>
        <div class="div-center">
          <button class="btn-cancel btn-space-confim mr-2" (click)="confirmDeteteProcess('NO')">
            Hủy
          </button>
          <button class="btn-save" (click)="confirmDeteteProcess('YES')">
            Đồng ý
          </button>
        </div>
      </div>
    </app-lpb-modal>
    <app-popup-detail-warring [show]="isShowMessage" (hideModal)="isShowMessage = false">
      <div class="text-center">
        Hồ sơ <span class="message">{{process?.item?.code}}</span> đang được thao tác bởi
        <span class="message">{{ process?.item?.createdByUser?.userName}}</span> chi nhánh
        <span class="message">{{process?.item?.branchCode}} </span>
      </div>
    </app-popup-detail-warring>
  </div>
</div>
