<div class="main">
  <app-progress-spinner [color]="color" [mode]="mode" [value]="value" *ngIf="isLoading"
                        class="sq-global-backdrop center-aligned">
  </app-progress-spinner>
  <div class="container-fluid">
    <div class="row cust-row">
      <div class="col-12 ">
          <span class="text content-title">KIỂM TRA VÀ PHÊ DUYỆT CÁC GIAO DỊCH SAI LỆCH</span>
      </div>
      <div class="col-12 information-section">
        <form [formGroup]="approveForm">
          <div style="width:100%">
            <div class="col-6 colLeft" style=" z-index: 1;">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label textLabel">Từ ngày </label>
                <div class="col-sm-8 ">
                  <app-lpb-date-picker #dpCreatedDateFrom (blurInput)="dateFromChanged()" (dateChanged)="getFromDate()"
                                       [maxDate]="getToday()"></app-lpb-date-picker>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-4 col-form-label textLabel">Đơn vị kinh doanh </label>
                <div class="col-sm-8" >
                  <ng-select [multiple]="false" bindLabel="name" bindValue="code" formControlName="dvkd"
                             placeholder="Đơn vị kinh doanh">
                    <ng-option *ngFor="let branch of branchesData" [value]="branch.code">{{branch.code + ' - ' + branch.name}}</ng-option>
                  </ng-select>
                </div>
                <div class="errMsg" *ngIf="isSubmitted && branchCode.errors?.required">
                  <span>Đơn vị kinh doanh không được để trống.</span>
                </div>
              </div>
            </div>
            <div class="col-6 colRight" style=" z-index: 1;">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label textLabel">Đến ngày </label>
                <div class="col-sm-8 ">
                  <app-lpb-date-picker #dpCreatedDateTo (blurInput)="dateToChanged()" (dateChanged)="getToDate()"
                                       [maxDate]="getToday()"></app-lpb-date-picker>
                </div>
              </div>

              <div class="form-group row">
                <label class="col-sm-4 col-form-label textLabel">Loại thẻ </label>
                <div class="col-sm-8 ">
                  <ng-select [multiple]="false" bindLabel="name" bindValue="code" placeholder="-- Chọn loại thẻ --"
                             formControlName="cardType">
                    <ng-option value="ALL">Tất cả</ng-option>
                    <ng-option value="459900026">Thẻ Master - GL 459900026</ng-option>
                    <ng-option value="459900029">Thẻ Prepaid - GL 459900029</ng-option>
                    <ng-option value="459900033">Thẻ JCB - GL 459900033</ng-option>
                    <ng-option value="459900035">Thẻ Visa - GL 459900035</ng-option>
                  </ng-select>
                </div>
                <div class="errMsg" *ngIf="isSubmitted && cardType.errors?.required">
                  <span>Loại thẻ không được để trống.</span>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-4 col-form-label textLabel">Trạng thái </label>
                <div class="col-sm-8 ">
                  <ng-select [multiple]="false" bindLabel="name" bindValue="code" placeholder="-- Trạng thái --"
                             formControlName="status">
                    <ng-option value="ALL" >Tất cả</ng-option>
                    <ng-option value="CHUA_XU_LY">Chưa xử lý</ng-option>
                    <ng-option value="CHO_DUYET">Chờ duyệt</ng-option>
                    <ng-option value="DUYET_THANH_CONG">Duyệt Thành công</ng-option>
                    <ng-option value="DUYET_THAT_BAI">Duyệt thất bại</ng-option>
                    <ng-option value="TU_CHOI_DUYET">Từ chối duyệt</ng-option>
                  </ng-select>
                </div>
                <div class="errMsg" *ngIf="isSubmitted && status.errors?.required">
                  <span>Loại thẻ không được để trống.</span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 text-center">
            <button type="submit" class="btn btn-color" style="width: 150px;color: white;" (click)="searchDetails()" >
              <i class="fa fa-search" style="color: white"></i>
              Tìm kiếm
            </button>
          </div>
        </form>

      </div>
      <div class="mat-elevation-z8">
        <table class="table table-responsive table-fixed">
          <thead>
          <tr class="titleTD">
            <th style="width: 3%">STT</th>
            <th style="width: 6%">TRN_DT</th>
            <th>TRN_REF_NO</th>
            <th style="width: 5%">BRANCH</th>
            <th style="width: 5%">CARD TYPE</th>
            <th style="width: 7%">GL_CODE</th>
            <th>GL_DESC</th>
            <th style="width: 5%">AC_CCY</th>
            <th>CR_LCYAMOUNT</th>
            <th style="width: 17%">EVENT_DESCR</th>
            <th>CARD_ID</th>
            <th style="width: 6%">Trạng thái</th>
            <th style="width: 5.3%">Thao tác</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let info of listCards ; let i = index" tabindex="0">
            <td style="width: 3%">{{pagination.pager.startIndex + i + 1}}</td>
            <td class="wrap" style="width: 6%">{{info.trnDT}}</td>
            <td class="wrap">{{info.trnReffNo}}</td>
            <td class="wrap" style="width: 5%">{{info.branch}}</td>
            <td class="wrap" style="width: 5%">{{info.cardType}}</td>
            <td class="wrap" style="width: 7%">{{info.glCode}}</td>
            <td class="wrap">{{info.glDesc}}</td>
            <td class="wrap" style="width: 5%">{{info.acCcy}}</td>
            <td class="wrap">{{info.crLcyAmount}}</td>
            <td class="wrap" style="width: 17%">{{info.eventDescr}}</td>
            <td class="wrap">{{info.cardId}}</td>
            <td class="wrap" style="width: 6%">{{info.statusName}}</td>
            <td class="wrap" style="width: 5.3%">
              <button class="btn btn-orange sBtn mt-2" title="Đồng ý" (click)="approve(info)">Đồng ý&nbsp;</button>
              <button class="btn btn-blue sBtn mt-2" title="Từ chối" (click)="refuse(info)">Từ chối</button>
            </td>
          </tr>

          <tr aria-colspan="9" style="text-align: center; margin-top: 15px"
              *ngIf=" isSubmitted && ((listCards == null || listCards.length == 0))">
            Không tìm thấy dữ liệu
          </tr>
          </tbody>
        </table>
        <nav aria-label="Page navigation for action list"
             style="padding-bottom: 10px;margin-left: 10px;margin-right: 5px;padding-top: 10px;"
             *ngIf="pagination.pager && pagination.pager.pages && pagination.pager.pages.length">
          <div style="float: left; padding-top: 10px;">
            <span>{{pagination.pager.getStatus()}}</span>
          </div>
          <ul class="pagination justify-content-end">
            <div class="amout-show">
              <span>Số lượng bản ghi/trang</span> &nbsp;
              <select class="form-control numberPage" (change)="changePageSize($event.target.value)">
                <option selected value="10">10</option>
                <option value="20">20</option>
                <option value="50">50</option>
              </select> &nbsp;&nbsp;
            </div>

            <li class="page-item" (click)="setPage(pagination.pager.currentPage - 1)">
              <a class="page-link" href="javascript: void(0)" tabindex="-1">&lt;</a>
            </li>
            <li class="page-item" *ngFor="let page of pagination.pager.pages"
                [ngClass]="{active:pagination.pager.currentPage === page}" (click)="setPage(page)">
              <a class="page-link" href="javascript: void(0)">{{page}}</a>
            </li>
            <li class="page-item" (click)="setPage(pagination.pager.currentPage + 1)">
              <a class="page-link" href="javascript: void(0)">&gt;</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>
