<div class="card card-custom gutter-b mt-1">
  <div class="info-request pb-0 mt-2">
    <div class="card-header">
      <div class="card-title my-5">
        <h3 class="title">Mã đặt kho: {{dataDetail?.code}}</h3>
      </div>
    </div>
  </div>

  <div class="info-request-in pb-5">
    <div class="card-header">
      <div class="card-title">
        <h3 class="title">Thông tin bên nhận hàng</h3>
      </div>
    </div>

    <div class="card-body">
      <div class="form-group row">
        <div class="col-lg-6 row">
          <div class="col-lg-5">
            <label class="form-label">Mã yêu cầu</label>
          </div>

          <div class="col-lg-7">
            <label class="form-label font-weight-bold">{{dataDetail?.requestCode}}</label>
          </div>
        </div>

        <div class="col-lg-6 row">
          <div class="col-lg-5">
            <label class="form-label">Người đại diện</label>
          </div>

          <div class="col-lg-7">
            <label class="form-label font-weight-bold">{{dataDetail?.representativeName}}</label>
          </div>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-lg-6 row">
          <div class="col-lg-5">
            <label class="form-label">Kho nhận</label>
          </div>

          <div class="col-lg-7">
            <label class="form-label font-weight-bold">{{dataDetail?.importedWarehouseName}}</label>
          </div>
        </div>

        <div class="col-lg-6 row">
          <div class="col-lg-5">
            <label class="form-label">Địa chỉ</label>
          </div>

          <div class="col-lg-7">
            <label class="form-label font-weight-bold">{{dataDetail?.importedWarehouseAddress}}</label>
          </div>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-lg-6 row">
          <div class="col-lg-5">
            <label class="form-label">Ngày dự kiến nhập hàng</label>
          </div>

          <div class="col-lg-7">
            <label class="form-label font-weight-bold">{{dataDetail?.expectedDate |date: 'dd/MM/yyyy'}}</label>
          </div>
        </div>

        <div class="col-lg-6 row">
          <div class="col-lg-5">
            <label class="form-label">Trạng thái</label>
          </div>

          <div class="col-lg-7">
            <label class="form-label font-weight-bold">
              <ng-container *ngIf="dataDetail?.status === eWarehouseStatus.NEW">Mới</ng-container>
              <ng-container *ngIf="dataDetail?.status === eWarehouseStatus.WAITING"
              >Chờ phê duyệt</ng-container
              >
              <ng-container *ngIf="dataDetail?.status === eWarehouseStatus.CONFIRMED"
              >Đã phê duyệt</ng-container
              >
              <ng-container *ngIf="dataDetail?.status === eWarehouseStatus.REFUSED"
              >Đã từ chối</ng-container
              >
              <ng-container *ngIf="dataDetail?.status === eWarehouseStatus.ADJUST"
              >Yêu cầu điều chỉnh</ng-container
              >
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="order-info pb-5">
    <div class="card-header">
      <div class="card-title">
        <h3 class="title">Thông tin đặt kho</h3>
      </div>
    </div>

    <div class="card-body">
      <form class="form form-label-right" [formGroup]='orderInfoForm'>
        <div class="form-group row">
          <div class="col-lg-6">
            <label class="form-label">Hình thức đặt kho</label>
            <select class="form-control form-control-solid w-75" formControlName='oderForm'>
              <option [value]="''">Chọn hình thức đặt kho</option>
              <option *ngFor="let item of listWarehouseOrderForm" [value]="item.key">{{item.value}}</option>
            </select>
            <app-validate
              [control]="orderInfoForm.controls['oderForm']"
              [error]="'required'"
              [message]="'Hình thức đặt kho không được để trống'"
            ></app-validate>
          </div>

          <div class="col-lg-6">
            <label class="form-label">Hình thức thanh toán</label>
            <select class="form-control form-control-solid w-75" formControlName='paymentMethod'>
              <option [value]="''">Chọn hình thức thanh toán</option>
              <option *ngFor="let item of paymentMethod" [value]="item.key">{{item.value}}</option>
            </select>
            <app-validate
              [control]="orderInfoForm.controls['paymentMethod']"
              [error]="'required'"
              [message]="'Hình thức thanh toán không được để trống'"
            ></app-validate>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-lg-6">
            <label class="form-label">Kho xuất</label>
            <select class="form-control form-control-solid w-75" formControlName='exportedWarehouseName'>
              <option [value]="''">Chọn kho xuất</option>
              <option *ngFor="let item of dataSupplier" [value]="item.id">{{item.name}}</option>
            </select>
            <app-validate
              [control]="orderInfoForm.controls['exportedWarehouseName']"
              [error]="'required'"
              [message]="'Kho xuất không được để trống'"
            ></app-validate>
          </div>

          <div class="col-lg-6">
            <label>Địa chỉ kho xuất</label>
            <input
              type="text"
              class="form-control form-control-solid w-75"
              placeholder="Địa chỉ kho xuất"
              formControlName='fullAddress'
            />
          </div>
        </div>
      </form>
    </div>
  </div>

  <div class="list-product py-5">
    <div class="card-header">
      <div class="card-title">
        <h3 class="title">Danh sách hàng hóa</h3>
      </div>
    </div>

    <div class="card-body">
      <div class="table-responsive angular-bootstrap-table">
        <table class="table table-head-custom table-vertical-center overflow-hidden" aria-label="">
          <thead>
          <tr>
            <th scope=''>STT</th>
            <th scope='' class=''>Tên sản phẩm</th>
            <th scope='' class=''>Đơn vị</th>
            <th scope='' class=''>Lượng đề xuất</th>
            <th scope='' class=''>Bồn xuất</th>
            <th scope='' class=''>Ngăn</th>
            <th scope='' class=''>Bồn nhập</th>
            <th scope='' class=''>Đơn giá (VNĐ)</th>
            <th scope='' class=''>Nguồn hàng</th>
            <th scope='' class=''>Thành tiền</th>
          </tr>
          </thead>

          <tbody>
          <tr>
            <td>456789876</td>
            <td>456789876</td>
            <td>456789876</td>
            <td>456789876</td>
            <td>456789876</td>
            <td>456789876</td>
            <td>456789876</td>
            <td>456789876</td>
            <td>456789876</td>
            <td>456789876</td>
          </tr>
          </tbody>

          <tfoot>
          <tr>
            <td colspan='8' class='text-right'>
              <p>Tổng tiền thanh toán</p>
            </td>

            <td colspan='2' class='text-right'>x2345678a45678990dấd</td>
          </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </div>

  <div class="transport-info pb-5">
    <div class="card-header">
      <div class="card-title">
        <h3 class="title">Thông tin vận tải</h3>
      </div>
    </div>

    <div class="card-body">
      <form class="form form-label-right" [formGroup]='transportInfoForm'>
        <div class="form-group row">
          <div class="col-lg-6">
            <label class="form-label">Sử dụng xe Sunoil</label>
            <select class="form-control form-control-solid w-75" formControlName='internalCar' (input)='changeInternalCar()'>
              <option [value]="'true'">Có</option>
              <option [value]="'false'">Không</option>
            </select>
          </div>

          <div class="col-lg-6">
            <label class="form-label">Hình thức thanh toán cước xe</label>
            <select class="form-control form-control-solid w-75">
              <option [value]="''">Chọn hình thức thanh toán</option>
              <option *ngFor="let item of paymentMethod" [value]="item.key">{{item.value}}</option>
            </select>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-lg-6">
            <label class="form-label">Cước vận tải/Lít</label>
            <input
              type="text"
              class="form-control form-control-solid w-75"
              placeholder="Nhập cước vận tải/Lít"
            />
          </div>

          <div class="col-lg-6">
            <label>Thành tiền</label>
            <input
              type="text"
              class="form-control form-control-solid w-75"
              placeholder="Thành tiền"
            />
          </div>
        </div>

        <div class="form-group row">
          <div class="col-lg-6">
            <label class="form-label">Biển số xe sử dụng</label>
            <select class="form-control form-control-solid w-75" formControlName='licensePlates' (input)='changeLicensePlates()'>
              <option [value]="''">Chọn biển số xe</option>
              <option *ngFor='let item of dataTransitCars' [value]="item.id">{{item.licensePlates}}</option>
            </select>
          </div>

          <div class="col-lg-6">
            <label>Dung tích</label>
            <input
              type="text"
              class="form-control form-control-solid w-75"
              placeholder="Dung tích"
              formControlName='capacity'
            />
          </div>
        </div>

        <div class="form-group row">
          <div class="col-lg-6">
            <label class="form-label">Lái xe</label>
            <select class="form-control form-control-solid w-75">
              <option [value]="''">Chọn lái xe</option>
              <option *ngFor='let item of dataShippingTeam' [value]="item.id">{{item.name}}</option>
            </select>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div class="py-10 w-100 d-flex justify-content-center">
    <button
      class="btn btn-primary mr-3 button"
      (click)='onSubmit()'
    >
      Gửi duyệt
    </button>
  </div>
</div>
