table thead th {
	text-transform: none;
}

table {
	min-width: 1024px;

	td {
		&.rank {
			width: 25%;
		}
		&.name-product {
			width: 30%;
			max-width: 900px;
		}
		&.action {
			max-width: 200px;
		}
	}

	tr {
		&:hover {
			background-color: #f3f6f9;

			td {
				.btn.btn-light {
					background-color: #ffffff;
				}
			}
		}
	}
}

button {
	width: 110px;
}

.card.card-custom {
	box-shadow: none !important;

	.card-body,
	.card-header {
		border: 0;
	}

	.card-body {
		padding-top: 1rem;
	}

	.card-header {
		margin-top: 2rem;
	}
}
