<div class="account-owner-mis">
  <div class="w-100 d-flex">
    <div class="account-owner-mis-left">
      <div class="envelope">
        <div class="row-item">
          <div class="label-center">
            THÔNG TIN CHUNG
          </div>
        </div>
        <div class="row-item-info">
          <div class="label-field">CIF_KH78 <span class="item-require">(*)</span></div>
          <div class="label-action">
            <app-lpb-select [selectedItem]="selectedCifKH78" [txtPlaceholder]="'Chọn CIF_KH78'"
              [lstOptions]="lstCIFKH78" (selectedChangeOption)="getSelectedCifKH78($event)"></app-lpb-select>
          </div>
        </div>
        <div class="row-item-info">
          <div class="label-field">CIF_MANKT</div>
          <div class="label-action">
            <app-lpb-select [selectedItem]="selectedCifMankt" [txtPlaceholder]="'Chọn CIF_MANKT'"
              [lstOptions]="lstCIFMANKT" (selectedChangeOption)="getSelectedCifMankt($event)"></app-lpb-select>
          </div>
        </div>
        <div class="row-item-info">
          <div class="label-field">CIF_TPKT<span class="item-require">(*)</span></div>
          <div class="label-action">
            <app-lpb-select [selectedItem]="selectedCifTPKT" [txtPlaceholder]="'Chọn CIF_TPKT'"
              [lstOptions]="lstCIFTPKT" (selectedChangeOption)="getSelectedCifTPKT($event)"></app-lpb-select>
          </div>
        </div>
        <div class="row-item-info">
          <div class="label-field">CIF_KBHTG</div>
          <div class="label-action">
            <app-lpb-select [selectedItem]="selectedCifKBHTG" [txtPlaceholder]="'Chọn CIF_KBHTG'"
              [lstOptions]="lstCIFKBHTG" (selectedChangeOption)="getSelectedCifKBHTG($event)"></app-lpb-select>
          </div>
        </div>
      </div>
    </div>

    <div class="account-owner-mis-right">
      <div class="envelope">
        <div class="row-item">
          <div class="label-center">
            THÔNG TIN VAY
          </div>
        </div>
        <div class="row-item-info">
          <div class="label-field">CIF_PNKH</div>
          <div class="label-action">
            <app-lpb-select [selectedItem]="selectedCifPNKH" [txtPlaceholder]="'Chọn CIF_PNKH'"
              [lstOptions]="lstCIFPNKH" (selectedChangeOption)="getSelectedCifPNKH($event)"></app-lpb-select>
          </div>
        </div>
        <div class="row-item-info">
          <div class="label-field">CIF_LOAI</div>
          <div class="label-action">
            <app-lpb-select [selectedItem]="selectedCifLoai" [txtPlaceholder]="'Chọn CIF_LOAI'"
              [lstOptions]="lstCIFLOAI" (selectedChangeOption)="getSelectedCifLoai($event)"></app-lpb-select>
          </div>
        </div>
        <div class="row-item-info">
          <div class="label-field">LHNNNTVAY</div>
          <div class="label-action">
            <app-lpb-select [selectedItem]="selectedLHNNNTVAY" [txtPlaceholder]="'Chọn LHNNNTVAY'"
              [lstOptions]="lstLHNNNTVAY" (selectedChangeOption)="getSelectedLHNNNTVAY($event)"></app-lpb-select>
          </div>
        </div>
        <div class="row-item-info">
          <div class="label-field">TD_MANKT</div>
          <div class="label-action">
            <app-lpb-select [selectedItem]="selectedTdMANKT" [txtPlaceholder]="'Chọn TD_MANKT'"
              [lstOptions]="lstTDMANKT" (selectedChangeOption)="getSelectedTdMANKT($event)"></app-lpb-select>
          </div>
        </div>
        <div class="row-item-info">
          <div class="label-field">CIF_NGANH</div>
          <div class="label-action">
            <app-lpb-select [selectedItem]="selectedCifNganh" [txtPlaceholder]="'Chọn CIF_NGANH'"
              [lstOptions]="lstCIFNGANH" (selectedChangeOption)="getSelectedCifNganh($event)"></app-lpb-select>
          </div>
        </div>
        <div class="row-item-info">
          <div class="label-field">COM_TSCT</div>
          <div class="label-action">
            <app-lpb-select [selectedItem]="selectedComTSCT" [txtPlaceholder]="'Chọn COM_TSCT'"
              [lstOptions]="lstCOMTSCT" (selectedChangeOption)="getSelectedComTSCT($event)"></app-lpb-select>
          </div>
        </div>
        <div class="row-item-info">
          <div class="label-field">DC_GH</div>
          <div class="label-action">
            <app-lpb-select [selectedItem]="selectedDCGH" [txtPlaceholder]="'Chọn DC_GH'" [lstOptions]="lstDCGH"
              (selectedChangeOption)="getSelectedDCGH($event)"> </app-lpb-select>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="account-owner-mis-button mt-36 w-100">
    <button (click)="getDataMIS()" class="btn-save mr-2">Lưu</button>
    <button (click)="close()" class="btn-close">Đóng</button>
  </div>
</div>