@import "../../css/update-cif.scss";

.uc-fatca {
  border: 1px solid #828282;
  height: 39px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #0C258A;
  padding: 10px;
  margin: 30px 0 10px 0;
  display: flex;

  &-left {
    max-width: 33.3333%;
    flex: 0 0 33.3333%;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #0C258A;
    .error-invalid {
      color: #E83C19;
     }
  }

  &-right {
    max-width: 66.6666%;
    flex: 0 0 66.6666%;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #0C258A;
    input, label {
      cursor: pointer;
    }
  }

}

.uc-fatca-form {
  display: flex;
  justify-content: space-between;
  // padding: 0px 5%;

  &-left,
  &-right {
    max-width: 50%;
    flex: 0 0 50%;
    padding: 0 24px;
    display: flex;
    flex-direction: column;
    margin: 0 -15px 0 -24px;

    .row-item-info {
      display: flex;
      margin-bottom: 12px;
      width: 100%;

      .label-field {
        max-width: 33.3333%;
        flex: 0 0 33.3333%;
        font-weight: 500;
        text-align: left;
        margin-right: 10px;
        padding: 13px 0px;
        font-size: 14px;
        color: #0C258A;

        .item-require {
          color: #E83C19;
          font-weight: 500;
        }
      }

      .value-field {
        max-width: 66.6666%;
        flex: 0 0 66.6666%;
        padding-top: 5px;

        .control-item {
          .grRadio {
            height: 35px;
            display: flex;

            .rd-item {
              align-self: center;
              margin-right: 30px;

              label,
              input {
                cursor: pointer;
              }
            }
          }

          .form-check {
            height: 35px;
            display: flex;
            align-items: center;

            label,
            input {
              cursor: pointer;
              color: #007bff;
              font-weight: 400;
              font-style: italic;
            }
          }

          .link-web {
            cursor: pointer;
            font-style: italic;
          }
        }

        .error-msg {
          color: #E83C19;
          margin-top: 5px;
          font-size: 12px;
        }
      }

      .fw-700 {
        font-weight: 700;
      }

      .label-action {
        max-width: 66.6666%;
        flex: 0 0 66.6666%;
        padding-top: 5px;
        font-weight: 500;
        cursor: pointer;

        input {
          height: 36px;
          border: 1px solid #BDBDBD;
          box-sizing: border-box;
          font-size: .875rem;
        }

        .error-msg {
          color: #E83C19;
          margin-top: 5px;
          font-size: 12px;
        }
      }
    }
  }
}

.form-control:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.error-invalid {
  border-color: #E83C19;
}
.error-block-fatca {
  color: #e83c19;
  margin-top: 5px;
  font-size: 12px;
  margin-bottom: 30px;
}
.ic-info-core {
  cursor: pointer;
  color: #007bff;
  font-size: 16px;
  width: 16px;
  height: 16px;
  margin-left: 2px;
}
