<div class="card card-custom gutter-b">
	<div class="card-header">
		<div class="card-title">
			<h3 class="card-label">Danh sách hãng sản xuất</h3>
		</div>
		<div class="card-toolbar">
			<button type="button" class="btn btn-primary" (click)="create()">Thêm mới</button>
		</div>
	</div>

	<div class="card-body">
		<div class="table-responsive angular-bootstrap-table">
			<table class="table table-head-custom table-vertical-center overflow-hidden">
				<thead>
					<tr>
						<th class="text-center">STT</th>
						<th>Tên hãng</th>
						<th class="text-center">Hành động</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let brand of listBrand; let i = index">
						<td class="text-center">{{ i + 1 }}</td>
						<td class="">{{ brand.name }}</td>
						<td class="text-center">
							<a
								title="Edit customer"
								class="btn btn-icon btn-light btn-hover-primary btn-sm mx-3"
								(click)="edit(brand)"
							>
								<span
									[inlineSVG]="'./assets/media/svg/icons/Communication/Write.svg'"
									cacheSVG="true"
									class="svg-icon svg-icon-md svg-icon-primary"
								>
								</span>
							</a>

							<a
								title="Delete customer"
								class="btn btn-icon btn-light btn-hover-danger btn-sm"
								(click)="delete(brand)"
							>
								<span
									[inlineSVG]="'./assets/media/svg/icons/General/Trash.svg'"
									cacheSVG="true"
									class="svg-icon svg-icon-md svg-icon-danger"
								>
								</span>
							</a>
						</td>
					</tr>
				</tbody>
				<tfoot *ngIf="listBrand?.length <= 0">
					<td colspan="5" class="text-center py-4">Không có bản ghi nào</td>
				</tfoot>
			</table>
		</div>
	</div>
</div>

<ng-container *ngIf="isLoading$ | async">
	<span class="spinner spinner-primary ml-5"></span>
</ng-container>
