<div class="shift-wrapper">
	<div class="header">
		<ul>
			<li>
				<button class="btn btn-light-primary font-weight-bold">Trạm 1</button>
			</li>
			<li>
				<button class="btn btn-light-primary font-weight-bold">Trạm 2</button>
			</li>
			<li>
				<button class="btn btn-light-primary font-weight-bold">Trạm 3</button>
			</li>
		</ul>
	</div>
	<div class="content">
		<div>
			<div class="w-100">
				<div class="w-15 d-inline-block h-100">
					<!--begin::Card-->
					<div class="card card-custom card-stretch">
						<div class="card-header">
							<div class="card-title">
								<h3 class="card-label">Danh sách nhân viên</h3>
							</div>
						</div>
						<div class="card-body">
							<div id="kt_calendar_external_events" class="fc-unthemed">
								<div
									class="
										fc-draggable-handle
										label
										font-weight-bolder
										label-lg label-primary label-inline
										mb-5
										cursor-move
									"
									data-color="fc-event-primary"
								>
									Meeting
								</div>
								<br />
								<div
									class="
										fc-draggable-handle
										label
										font-weight-bolder
										label-lg label-primary label-inline
										mb-5
										cursor-move
									"
									data-color="fc-event-primary"
								>
									Conference Call
								</div>
								<br /><br />
								<div
									class="
										fc-draggable-handle
										label
										font-weight-bolder
										label-lg label-success label-inline
										mb-5
										cursor-move
									"
									data-color="fc-event-success"
								>
									Dinner
								</div>
								<br />
								<div
									class="
										fc-draggable-handle
										label
										font-weight-bolder
										label-lg label-warning label-inline
										mb-5
										cursor-move
									"
									data-color="fc-event-warning"
								>
									Product Launch
								</div>
								<br />
								<div
									class="
										fc-draggable-handle
										label
										font-weight-bolder
										label-lg label-danger label-inline
										cursor-move
									"
									data-color="fc-event-danger"
								>
									Reporting
								</div>
								<br />

								<div class="separator separator-dashed my-10"></div>

								<div
									class="
										fc-draggable-handle
										label
										font-weight-bolder
										label-lg label-success label-inline
										mb-5
										cursor-move
									"
									data-color="fc-event-success"
								>
									Project Update
								</div>
								<br />
								<div
									class="
										fc-draggable-handle
										label
										font-weight-bolder
										label-lg label-info label-inline
										mb-5
										cursor-move
									"
									data-color="fc-event-info"
								>
									Staff Meeting
								</div>
								<br />
								<div
									class="
										fc-draggable-handle
										label
										font-weight-bolder
										label-lg label-dark label-inline
										cursor-move
									"
									data-color="fc-event-dark"
								>
									Lunch
								</div>
								<br />

								<div class="separator separator-dashed my-10"></div>
								<div>
									<label class="checkbox checkbox-primary">
										<input type="checkbox" id="kt_calendar_external_events_remove" /> Remove after
										drop
										<span></span>
									</label>
								</div>
							</div>
						</div>
					</div>
					<!--end::Card-->
				</div>
				<div class="w-85 d-inline-block h-100 pl-2">
					<!--begin::Card-->
					<div class="card card-custom card-stretch">
						<div class="card-header">
							<div class="card-title">
								<h3 class="card-label">Ca làm việc</h3>
							</div>
							<div class="card-toolbar">
								<a href="#" class="btn btn-light-primary font-weight-bold">
									<span class="ki ki-plus"></span> Thêm lịch làm việc
								</a>
							</div>
						</div>
						<div class="card-body">
							<full-calendar
								#calendar
								defaultView="dayGridMonth"
								[options]="calendarOptions"
								class="shiftCalendar"
							></full-calendar>
						</div>
					</div>
					<!--end::Card-->
				</div>
			</div>
		</div>
	</div>
</div>

<ng-template #popoverTmpl let-event="event">
	<h6>{{ event.title }}</h6>
	<div>
		<p>{{ event.extendedProps.description }}</p>
	</div>
</ng-template>

<div #toolTipTmpl role="tooltip" style="position: fixed; top: -500px; z-index: 9999; background-color: red;">
	<h6 ngbTooltip="test" placement="top">toolTip</h6>
	<div>
		<p>Tippp</p>
	</div>
</div>
