:host ::ng-deep {
	.fc-header-toolbar {
		.fc-toolbar-chunk {
			&:nth-child(1) {
				.btn-group {
					gap: 3px;
					.btn-primary,
					.btn-primary:disabled {
						opacity: 1;
						color: #3f4254;
						background-color: #f3f6f9!important;
						border-color: #f3f6f9;
						&:hover {
							opacity: 0.7;
						}
					}
				}
			}

			&:nth-child(3) {
				.btn-group {
					button {
						background-color: #fff;
						color: #3f4254;
						border: 1px solid #EBEDF2;

						&.active {
							background-color: #187DE4;
							color: #fff;
						}
					}
				}
			}
		}
	}
}
