<div class="modal-content">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-title">{{ data.title }}</h4>
    <div class="close-icon" (click)="modal.close()"></div>
  </div>
  <div class="modal-body" style='padding: 0 1.75rem'>
    <div class="overlay overlay-block cursor-default modal-body">
      <form [formGroup]='productForm' class="form form-label-right">
        <div class="form-group row">
          <div class="col-lg-4">
            <label class="form-label required">Mã sản phẩm</label>
            <input
              type="text"
              class="form-control form-control-lg form-control-solid"
              placeholder="Nhập mã sản phẩm"
              formControlName='code'
              autocomplete="off"
              maxlength="99"
              (keydown.space)="$event.preventDefault()"
            />
            <app-validate
              [control]="productForm.controls['code']"
              [error]="'required'"
              [message]="'Mã sản phẩm không được để trống'"
            ></app-validate>
          </div>

          <div class="col-lg-4">
            <label class="form-label required">Tên sản phẩm</label>
            <input
              type="text"
              class="form-control form-control-lg form-control-solid"
              placeholder="Nhập tên sản phẩm"
              formControlName='name'
              maxlength="99"
              autocomplete="off"
              trim="blur"
            />
            <app-validate
              [control]="productForm.controls['name']"
              [error]="'required'"
              [message]="'Tên sản phẩm không được để trống'"
            ></app-validate>
          </div>

          <div class="col-lg-4">
            <label class="form-label required">Nhóm sản phẩm</label>
            <select
              class="form-control form-control-solid form-control-lg required"
              formControlName='type'
            >
              <option disabled [value]="null">Chọn nhóm sản phẩm</option>
              <option *ngFor='let item of productTypes' [value]='item.id'>{{item.name}}</option>
            </select>
            <app-validate
              [control]="productForm.controls['type']"
              [error]="'required'"
              [message]="'Nhóm sản phẩm không được để trống'"
            ></app-validate>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-lg-4">
            <label class="form-label required">Giá nhập</label>
            <input
              class="form-control form-control-lg form-control-solid"
              placeholder="Nhập giá nhập"
              formControlName='importPrice'
              decimal-mask
              maxlength="17"
              autocomplete="off"
              trim="blur"
            />
            <app-validate
              [control]="productForm.controls['importPrice']"
              [error]="'required'"
              [message]="'Giá nhập không được để trống'"
            ></app-validate>
          </div>

          <div class="col-lg-4">
            <label class="form-label required">Giá bán</label>
            <input
              type="text"
              class="form-control form-control-lg form-control-solid"
              placeholder="Nhập giá bán"
              formControlName='exportPrice'
              decimal-mask
              maxlength="17"
              autocomplete="off"
              trim="blur"
            />
            <app-validate
              [control]="productForm.controls['exportPrice']"
              [error]="'required'"
              [message]="'Giá bán không được để trống'"
            ></app-validate>
          </div>

          <div class="col-lg-4">
            <label class="form-label">VAT (%)</label>
            <input
              type="text"
              class="form-control form-control-lg form-control-solid"
              placeholder="Nhập VAT"
              formControlName='valueAddedTax'
              decimal-mask
              maxlength="3"
              autocomplete="off"
              trim="blur"
            />
          </div>
        </div>

        <div class="form-group row">
          <div class="col-lg-4">
            <label class="form-label required">Đơn vị</label>
            <input
              type="text"
              class="form-control form-control-lg form-control-solid"
              placeholder="Nhập đơn vị"
              formControlName='unit'
              maxlength="99"
              autocomplete="off"
              trim="blur"
            />
            <app-validate
              [control]="productForm.controls['unit']"
              [error]="'required'"
              [message]="'Đơn vị không được để trống'"
            ></app-validate>
          </div>

          <div class="col-lg-4">
            <label class="form-label">Mô tả</label>
            <input
              type="text"
              class="form-control form-control-lg form-control-solid"
              placeholder="Nhập mô tả"
              formControlName='description'
              maxlength="199"
              autocomplete="off"
              trim="blur"
            />
          </div>

          <div class="col-lg-4">
            <label class="form-label">Trạng thái</label>
            <select
              class="form-control form-control-lg form-control-solid"
              formControlName='status'
            >
              <option [value]="listStatus.ACTIVE">Hoạt động</option>
              <option [value]="listStatus.INACTIVE">Không hoạt động</option>
            </select>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-lg-4 d-flex align-items-center">
            <label class="checkbox checkbox-lg mr-2">
              <input
                type="checkbox"
                id='checkQR'
                formControlName='checkQR'
              />
              <span
                (click)="$event.stopPropagation()"
              ></span>
            </label>

            <label class="m-0" for='checkQR'>Tạo QR code</label>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary btn-dialog" (click)="onClose()">
      Hủy
    </button>
    <button type="button" class="btn btn-primary btn-dialog" #btnSave>Lưu</button>
  </div>
</div>
