@import "/src/app/shared/styles/palette.style.scss";

:host ::ng-deep {
  .ng-dropdown-panel .ng-dropdown-panel-items .ng-value,
  .ng-select-container {
    caret-color: transparent;
    color: #ebf5ff;
    background-color: $primary-light !important;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .ng-dropdown-panel {
    .ng-option {
      color: #ebf5ff !important;
      background-color: $primary-light !important;

      &.ng-option-marked {
        background-color: $primary-main !important;
      }
    }
  }

  .ng-arrow-wrapper .ng-arrow {
    border-top-color: #ebf5ff;
  }

  .ng-select.ng-select-opened > .ng-select-container .ng-arrow {
    border-color: transparent transparent #ebf5ff;
  }
}

.form-search {
  display: flex;
  gap: 15px;
  justify-content: center;

  .form-wrapper {
    display: flex;

    .select-wrapper {
      min-width: 150px;
    }

    .input-wrapper {
      min-width: 300px;

      input {
        border-bottom-left-radius: 4px;
        border-top-left-radius: 4px;
        border-left: 1px solid #bdbdbd;
      }
    }
  }

  .button-wrapper {
    button {
      color: #fff;
      background-color: $primary-main;
      border-color: $primary-main;

      i {
        color: #fff;
      }

      &:hover {
        background-color: $primary-dark;
        border-color: $primary-dark;
      }

      &:focus {
        background-color: $primary-light;
        border-color: $primary-light;
      }
    }
  }
}

.customer-list {
  table {
    width: 100%;

    th {
      background-color: $primary-main;
      color: #fff;
      white-space: nowrap;
      border-right: 1px solid #fff;
      border-left: 1px solid #fff;
    }

    th,
    td {
      padding: 8px 10px;
      box-sizing: border-box;
      text-align: center;

      td {
        vertical-align: middle;

        & .td-text {
          color: #333;
          padding: 5px 0;

          &._link {
            display: inline-block !important;
            color: $primary-main;
            text-decoration: underline;
            cursor: pointer;
            &:hover {
              color: $primary-dark;
            }
          }
        }
      }
    }
  }
}
