.card-toolbar {
	gap: 50px;

	button {
		width: 110px;
	}
}

.card.card-custom {
	.card-body,
	.card-header {
		border: 0;
	}

	.card-body {
		padding-top: 1rem;
	}

	.card-header {
		margin-top: 2rem;
	}
}

table {
	min-width: 1024px;

	th,
	td {
		padding-left: 10px;
		padding-right: 10px;
	}

	thead {
		th {
			text-transform: none;
		}
	}

  td {
    &.name {
      width: 20%;
    }

    &.start,
    &.end {
      width: 15%;
    }

    &.detail {
      width: 40%;
    }
    &.action {
      width: 20%;
    }
  }
}
