table thead th {
  text-transform: none;
}

table {
  min-width: 1024px;
  td {
    &.code,
    &.name,
    &.gas-field,
    &.pump-pole {
      min-width: 150px;
      max-width: 150px;
    }
    &.description {
      min-width: 150px;
      max-width: 150px;
    }
    &.status,
    &.task {
      min-width: 150px;
    }
  }
}

.card-toolbar {
  gap: 50px;
  // .search-form {
  //   position: relative;
  //   display: flex;
  //   align-items: center;

  //   i {
  //     position: absolute;
  //     left: 10px;
  //     top: 7px;
  //   }

  //   input {
  //     padding-left: 30px;
  //   }
  // }

  button {
    width: 125px;
  }
}

.card.card-custom {
  box-shadow: none !important;

  .card-body,
  .card-header {
    border: 0;
  }

  .card-body {
    padding-top: 1rem;
  }
}
