table thead th {
  text-transform: none;
}

table {
  min-width: 1024px;
  td {
    &.code {
      width: 150px;
    }
    &.name {
      width: 200px;
    }
    &.gas-field {
      width: 200px;
    }
    &.pump-pole {
      width: 200px;
    }
    &.description {
      max-width: 500px;
    }
    &.status {
      width: 150px;
    }
    &.task {
      width: 150px;
    }
  }
}

.card-toolbar {
  gap: 10px;
  .search-form {
    position: relative;
    display: flex;
    align-items: center;

    i {
      position: absolute;
      left: 10px;
      top: 7px;
    }

    input {
      padding-left: 30px;
    }
  }

  button {
    width: 125px;
  }
}
