<table class="table">
    <colgroup>
        <col width="12%" span="1">
        <col width="22%" span="1">
        <col width="10%" span="1">
        <col width="10%" span="1">
        <col width="12%" span="1">
    </colgroup>
    <thead class="colortable">
        <tr class="colortable">
            <th scope="col">Họ và tên</th>
            <th scope="col">Tên tài liệu</th>
            <th scope="col">Ngày hiệu lực</th>
            <th scope="col">Ngày hết hiệu lực</th>
            <th scope="col">Tài liệu</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{detailSignature?.fullName? detailSignature?.fullName : ''}}</td>
            <td>{{detailSignature?.title}}</td>
            <td>{{detailSignature?.startDate}}</td>
            <td>{{detailSignature?.endDate}}</td>
            <td>
                <label (click)="downloadFile()" class="label-fileName"
                    matTooltip="Xem file chữ ký">{{detailSignature?.fileName}}</label>
            </td>
        </tr>
    </tbody>
</table>

<app-lpb-modal headerText="CHI TIẾT FILE CHỮ KÝ" [show]="isViewSignature" [unit]="'%'" [widthContent]="60"
    [heightContent]="80" (hideModal)="isViewSignature = false">
    <div class="div" *ngIf="myimage">
        <img [src]="myimage | async" width="100%" height="500px" alt="">
    </div>
</app-lpb-modal>