@import "/src/app/shared/styles/lpb-button";
.field {
  max-width: 50%;
  width: calc(50% - 16px);
  margin-bottom: 16px;
  .txtLabel {
    font-weight: 500;
    color: #17589f;
  }
}
.mini-table{
  //padding: 0 25%;
  padding-right: 50%;
}
.text-label{
  color: #17589f;
  font-weight: bold;
  font-size: 16px;
  border-bottom: 1px solid #f47326;
  padding-bottom: 3px;
}
.node {
  font-weight: 500;
  color: #17589f;
}
.err-text{
  color: red;
}
th p {
  margin-bottom: 0 !important;
}
td{
  padding-bottom: 0 !important;
}
.button-group {
  text-align: center;
  padding-bottom: 20px;
  .btn-action-back {
    background-color: #6c757d;
    border: 1px solid #6c757d;
    &:hover,
    &:focus {
      background-color: darken($color: #6c757d, $amount: 20%);
    }
  }
  .btn-action-reset {
    background-color: #f47326;
    border: 1px solid #f47326;
    &:hover,
    &:focus {
      background-color: darken($color: #f47326, $amount: 20%);
    }
  }
  .btn-action-send {
    background-color: #23388f;
    border: 1px solid #23388f;
    &:hover,
    &:focus {
      background-color: darken($color: #23388f, $amount: 20%);
    }
  }
}
