<div class='card card-custom gutter-b mt-1'>
  <div class='info-customer'>
    <div class='card-header'>
      <div class='card-title'>
        <h3 class='title'>Thông tin khách hàng</h3>
      </div>
    </div>

    <div class='card-body'>
      <form [formGroup]='infoForm' class='form form-label-right'>
        <div class='form-group row'>
          <div class='col-lg-4 customer-phone'>
            <label class='form-label required'>Số điện thoại</label>
            <div>
              <input
                class='form-control form-control-lg form-control-solid input-phone'
                placeholder='Nhập số điện thoại'
                autocomplete='off'
                formControlName='phone'
                (keydown.space)='$event.preventDefault()'
                maxlength='12'
                numbersOnly
                [numberformControl]="infoForm.controls['phone']"
              />
              <em class='fas fa-edit' (click)='editNumber($event, isReadonly)'></em>
            </div>
            <app-validate
              [control]="infoForm.controls['phone']"
              [error]="'required'"
              [message]="'Số diện thoại không được để trống'"
            ></app-validate>
          </div>

          <div class='col-lg-4'>
            <label class='form-label'>Tên khách hàng</label>
            <input
              [attr.disabled]="true"
              formControlName='name'
              class='form-control form-control-lg form-control-solid'
            />
          </div>

          <div class='col-lg-4'>
            <label class='form-label'>CMND/CCCD</label>
            <input
              [attr.disabled]="true"
              formControlName='idCard'
              class='form-control form-control-lg form-control-solid'
            />
          </div>
        </div>

        <div class='form-group row'>
          <div class='col-lg-4'>
            <label class='form-label'>Ngày sinh</label>
            <input
              #birthDate
              [attr.disabled]="true"
              formControlName='dateOfBirth'
              class='form-control form-control-lg form-control-solid'
            />
          </div>

          <div class='col-lg-8'>
            <label class='form-label'>Địa chỉ</label>
            <input
              [attr.disabled]="true"
              formControlName='address'
              class='form-control form-control-lg form-control-solid'
            />
          </div>
        </div>

        <div class='form-group row'>
          <div class='col-lg-4'>
            <label class='form-label'>Hạng khách hàng</label>
            <input
              [attr.disabled]="true"
              formControlName='rank'
              class='form-control form-control-lg form-control-solid'
            />
          </div>

          <div class='col-lg-4'>
            <label class='form-label'>Trạng thái hồ sơ</label>
            <select
              formControlName='statusContract'
              class='form-control form-control-lg form-control-solid'
            >
              <option [value]='listStatusProfileCustomer.SUCCESS'>Xác thực thành công</option>
              <option [value]='listStatusProfileCustomer.UN_SUCCESS'>Xác thực không thành công</option>
              <option [value]='listStatusProfileCustomer.UNCONFIRMED'>Chưa xác thực</option>
            </select>
          </div>

          <div class='col-lg-4'>
            <label class='form-label'>Trạng thái</label>
            <select
              class='form-control form-control-lg form-control-solid'
              formControlName='status'
            >
              <option [value]='listStatusCustomer.ACTIVE'>Hoạt động</option>
              <option [value]='listStatusCustomer.LOCK'>Không hoạt động</option>
            </select>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div class='info-limit'>
    <div class='card-header'>
      <div class='card-title'>
        <h3 class='title'>Thông tin hạn mức còn lại</h3>
      </div>
    </div>

    <div class='card-body'>
      <div class='table-responsive angular-bootstrap-table'>
        <table class='table' aria-describedby='mydesc'>
          <thead>
          <th id='stt' class='text-center'>
            STT
          </th>
          <th id='han-muc' class='hanMuc'>
            Loại hạn mức
          </th>
          <th id='amount' class='text-right amount'>
            Số lượng
          </th>
          <th id='unit' class='unit'>
            Đơn vị
          </th>
          </thead>

          <tbody>
          <tr>
            <td class='text-center stt'>
              <p class='cursor-pointer text-ellipsis' placement='top' ngbTooltip='1'>
                1
              </p>
            </td>
            <td>
              <p class='cursor-pointer text-ellipsis' placement='top' ngbTooltip='Tiền mặt'>
                Tiền mặt (CT)
              </p>
            </td>
            <td class='amount text-right'>
              <p class='cursor-pointer text-ellipsis' placement='top' [ngbTooltip]='dataSource?.cashLimitMoney || 0'>
                {{dataSource?.cashLimitMoney || 0}}
              </p>
            </td>
            <td>
              <p class='cursor-pointer text-ellipsis' placement='top' [ngbTooltip]='dataSource?.userType'>
                {{dataSource?.userType}}
              </p>
            </td>
          </tr>

          <tr *ngFor='let item of dataSource?.cashLimitOilAccount, let i = index'>
            <td class='text-center stt'>
              <p class='cursor-pointer text-ellipsis' placement='top' [ngbTooltip]='i+2'>
                {{ i + 2 }}
              </p>
            </td>

            <td class='hanMuc'>
              <p class='cursor-pointer text-ellipsis' placement='top' [ngbTooltip]='item.typeHanMuc'>
                {{ item.typeHanMuc }}
              </p>
            </td>

            <td class='amount text-right'>
              <p
                class='cursor-pointer text-ellipsis'
                placement='top'
                [ngbTooltip]="item.cashLimitOil.toLocaleString('en-US')"
              >
                {{ item.cashLimitOil.toLocaleString('en-US') }}
              </p>
            </td>
            <td class='unit'>
              <p
                class='cursor-pointer text-ellipsis'
                placement='top'
                [ngbTooltip]='item.unitCashLimitOil'
              >
                {{ item.unitCashLimitOil }}
              </p>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class='w-100 d-flex justify-content-center pb-10'>
    <button
      class='btn btn-primary font-weight-bold m-2' style='color: #000'
      [disabled]='submit'
      (click)='onSubmit()'
    >
      Cập nhật
    </button>
  </div>
</div>
