.card-header {
  padding: 0 15px !important;
  border-bottom: none;

  .title {
    text-transform: uppercase;
    color: #4674EB;
    font-weight: 500;
    font-size: 14px;
  }
}

.card-body {
  padding: 0 15px !important;

  .line-heght-50 {
    line-height: 50px;
  }

  .customer-phone {
    div {
      position: relative;

      .input-phone {
        padding-right: 35px;
      }

      span {
        color: #4674eb;
        cursor: pointer;
        position: absolute;
        right: 15px;
        top: 32%;

        &:hover {
          opacity: 0.8;
        }
      }
    }
  }
}

.table {
  max-width: 600px;

  thead {
    background: #e9ecef;

    th {
      text-transform: none;
      color: #333 !important;
    }
  }

  .amount {
    padding-right: 35px;
  }
}
