@import "../../shared/styles/styles.scss";
.content {
  .title {
    color: #0C258A;
    padding-left: 30px;
    padding-top: 20px;
    font-weight: 500;
  }

  span {
    color: #0c258a;
    font-weight: 450;
    font-size: 16px;
  }
  .required:after {
    content: ' *';
    color: red;
  }
  label {
    color: #0C258A;
    font-weight: 500;
  }
  .bg-btn_blue {
    background-color: #0C258A;
    padding-left: 15px;
    padding-right: 15px;
  }
  .text-while {
    color: #fff;
  }
  .mat-drawer-container{
    min-height: auto;
  }
  .drawer[_ngcontent-aqq-c327] {
    min-height: auto;
    background-color: #FFFFFF;
  }
}
.required:after {
  content: '*';
  color: red;
}
