.card-header {
  padding: 0 15px !important;
  border-bottom: none;

  .title {
    text-transform: uppercase;
    color: #4674EB;
    font-weight: 500;
    font-size: 14px;
  }

  .card-toolbar {
    gap: 50px;

    .search-form {
      position: relative;
      display: flex;
      align-items: center;

      i {
        position: absolute;
        left: 10px;
        top: 7px;
      }

      input {
        padding-left: 30px;
      }
    }
  }
}

.card-body {
  padding: 0 15px !important;

  table {
    thead th {
      text-transform: none;
    }

    .total-money {
      padding-right: 35px;
    }
  }
}

