<button (click)="selectContainer.selectAll()">Select All</button>
<button (click)="selectContainer.clearSelection()">Clear Selection</button>

<dts-select-container
  #gridTempalte
  class="drag-area"
  [(selectedItems)]="selected"
  (selectionEnded)="onSelectedEnd($event)"
>
  <!-- (itemDeselected)="onDeleteSelected($event)" -->
  <!-- (itemSelected)="onSelected($event)" -->
  <mat-grid-list cols="12" rowHeight="1:1" gutterSize="10px">
    <mat-grid-tile
      *ngFor="let document of documents"
      [dtsSelectItem]="document"
      #item
    >
      {{ document.name }}
    </mat-grid-tile>
  </mat-grid-list>
</dts-select-container>
