.card-header {
  padding: 0 2.25rem !important;
  border-bottom: none;
  .title {
    text-transform: uppercase;
    color: #4674eb;
    font-weight: 500;
    font-size: 14px;
  }
}

.button {
  min-width: 110px;
}

.card-body {
  padding: 0 2.25rem !important;

  .table {
    min-width: 1024px;

    th {
      text-transform: none;
    }

    td {
      &.product-name {
        min-width: 130px;
      }

      &.unit {
        min-width: 70px;
      }

      &.amount-actually {
        min-width: 90px;
      }

      &.gas-field-out-name, &.gas-field-in-name, &.difference, &.compartment {
        min-width: 100px;
      }

      &.temperature-export, &.quota-export, &.temperature-import, &.quota-import {
        min-width: 160px;
      }

      &.cap-lead, &.cap-valve {
        min-width: 110px;
      }
    }

  }
}
