<div class="px-2 py-2">
  <div class="text-high-light text-uppercase fw-bolder"><i class="fa fa-search"></i> Tra cứu thông tin
  </div>
  <hr>
  <div class="pl-2">
    <form [formGroup]="formSearch" (ngSubmit)="search()">
      <div>
        <div class="d-flex">
          <div class="col-6 px-4">
            <label class="text-high-light fw-bolder">Mã đại lý</label>
            <div class="position-relative input-group">
              <app-lpb-select2
                [items]="listType"
                labelName="label"
                bindValue="value"
                formControlName="agentType"
                [config]="{'clearable':false}"
                class="w-25">
              </app-lpb-select2>
              <div class="input-group-append w-75">
                <input
                  type="text"
                  formControlName="agentCode"
                  placeholder="Nhập mã đại lý"
                  class="form-control"
                  [textPattern]="{allowRegex: '[0-9]'}"
                  trimInput
                />
              </div>
            </div>
          </div>
        </div>

        <div class="d-flex mt-4">
          <div class="col-6 px-4">
            <label class="text-high-light fw-bolder">Thời gian tạo từ ngày</label>
            <div>
              <app-lpb-date-picker #dpDateFrom
                                   [maxDate]="getToday()"
                                   (blurInput)="checkValidateDate()"
                                   (dateChanged)="getFromDate()">

              </app-lpb-date-picker>
            </div>
          </div>

          <div class="col-6 px-4">
            <label class="text-high-light fw-bolder">Thời gian tạo đến ngày</label>
            <div>
              <app-lpb-date-picker #dpDateTo [maxDate]="getToday()"
                                   (blurInput)="checkValidateDate()"
                                   (dateChanged)="getToDate()">

              </app-lpb-date-picker>
            </div>
          </div>
        </div>
      </div>
      <div class="mt-4 text-center">
        <button class="btn lpb-btn-primary"><i
          class="fa fa-search"></i>
          <span> Tìm kiếm</span>
        </button>
      </div>
    </form>
  </div>

  <div>
    <hr>
    <app-lpb-datatable [clearSelected]="clearSelected"
                       (getRowSelected)="getRowSelected($event)"
                       (chkAll)="chkAll($event)"
                       [columns]="columns"
                       [config]="config"
                       (viewAction)="onViewDetail($event)"
                       [isDisabledDelete]="isDisabledDelete"
                       [searchConditions]="searchConditions"
                       tableName="DANH SÁCH GIAO DỊCH"
                       [apiServiceURL]="urlSearch">

    </app-lpb-datatable>
  </div>
</div>
<div [style.height.px]="50">
  <app-lpb-footer [actions]="actions" class="z-index-footer position-fixed bottom-0 w-100"></app-lpb-footer>
</div>
