<div class="mt-1 card card-custom gutter-b">
	<div class="shift-info">
		<div class="card-header">
			<div class="card-title pt-3">
				<h3 class="title">Thông tin ca</h3>
			</div>
		</div>

		<div class="card-body">
			<div class="form-group row">
				<div class="col-lg-6 row">
					<div class="col-lg-3">
						<label class="form-label">Trạm</label>
					</div>
					<div class="col-lg-9">
						<label>
							<strong>{{dataItem?.stationName}}</strong>
						</label>
					</div>
				</div>

				<div class="col-lg-6 row">
					<div class="col-lg-3">
						<label class="form-label">Thời gian</label>
					</div>
					<div class="col-lg-9">
						<label>
							<strong>{{dataItem?.timeStart | date: 'dd/MM/yyyy HH:mm' }}</strong> -
							<strong>{{dataItem?.timeEnd | date: 'dd/MM/yyyy HH:mm'}}</strong>
						</label>
					</div>
				</div>
			</div>

			<div class="form-group row">
				<div class="col-lg-6 row">
					<div class="col-lg-3">
						<label class="form-label">Tên ca</label>
					</div>
					<div class="col-lg-9">
						<label>
							<strong>{{dataItem?.shiftName}}</strong>
						</label>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="revenue-detail">
		<div class="card-header">
			<div class="card-title pt-3">
				<h3 class="title">Chi tiết doanh thu</h3>
			</div>
		</div>

		<div class="card-body">
			<div class="table-responsive angular-bootstrap-table">
				<table class="table table-head-custom table-vertical-center overflow-hidden" aria-label="">
					<thead>
						<tr>
							<th rowspan="3" scope="" class="code align-bottom">Mã vòi</th>
							<th rowspan="3" scope="" class="product-name align-bottom">Nhiên liệu</th>
							<th rowspan="3" scope="" class="employee-name align-bottom">Nhân viên</th>
							<th rowspan="3" scope="" class="gauge-start align-bottom text-right number-p-15">
								Số máy cơ đầu
							</th>
							<th rowspan="3" scope="" class="gauge-end align-bottom text-right number-p-15">
								Số máy cơ cuối
							</th>
							<th rowspan="3" scope="" class="quantity-gauge align-bottom text-right number-p-15">
								Lượng xuất cơ
							</th>
							<th rowspan="3" scope="" class="electronic-start align-bottom text-right number-p-15">
								Số điện tử đầu ca
							</th>
							<th rowspan="3" scope="" class="electronic-end align-bottom text-right number-p-15">
								Số điện tử cuối ca
							</th>
							<th rowspan="3" scope="" class="quantity-electronic align-bottom text-right number-p-15">
								Lượng xuất điện
							</th>
							<th rowspan="3" scope="" class="quantity-transaction align-bottom text-right number-p-15">
								Lượng xuất theo giao dịch
							</th>
							<th rowspan="3" scope="" class="price align-bottom text-right number-p-15">Đơn giá</th>
							<th rowspan="3" scope="" class="total-money align-bottom text-right number-p-15">Tổng tiền</th>
							<th colspan="5" scope="" class="text-center p-0">Doanh thu trong ca</th>
						</tr>
						<tr>
							<th colspan="2" scope="" class="text-center p-0">Hạn mức nhiên liệu</th>
							<th rowspan="2" scope="" class="limit-money align-bottom text-right number-p-15">Hạn mức tiền</th>
							<th rowspan="2" scope="" class="cash-money align-bottom text-right number-p-15">Tiền mặt</th>
							<th rowspan="2" scope="" class="total-point align-bottom text-right number-p-15">Điểm</th>
						</tr>
						<tr>
							<th scope="" class="total-liter text-right number-p-15">Số lít</th>
							<th scope="" class="total-money text-right number-p-15">Tiền tạm tính</th>
						</tr>
					</thead>

					<ng-container *ngIf='statusLockShift !== "CLOSE"'>
						<tbody>
							<tr *ngFor="let item of dataSourceForm.controls; let i = index" [formGroup]="item">
								<td class="code">
									<p
										class="cursor-pointer text-ellipsis"
										placement="top"
										[ngbTooltip]="item.get('code').value"
									>
										{{ item.get('code').value }}
									</p>
								</td>
								<td class="product-name">
									<p
										class="cursor-pointer text-ellipsis"
										placement="top"
										[ngbTooltip]="item.get('productName').value"
									>
										{{ item.get('productName').value }}
									</p>
								</td>
								<td class="employee-name">
									<p
										class="cursor-pointer text-ellipsis"
										placement="top"
										[ngbTooltip]="item.get('employeeName').value"
									>
										{{ item.get('employeeName').value }}
									</p>
								</td>
								<td class="gauge-start text-right">
									<p
										class="cursor-pointer text-ellipsis"
										placement="top"
										[ngbTooltip]="item.get('gaugeStart').value?.toLocaleString('en-US')"
									>
										{{ item.get('gaugeStart').value?.toLocaleString('en-US') }}
									</p>
								</td>
								<td class="gauge-end text-right">
									<input
										class="form-control"
										formControlName="gaugeEnd"
										placeholder="Nhập số máy cơ cuối"
										maxlength="13"
										(input)='updateQuantityGauge(i)'
									/>
									<app-validate
										[control]="item.get('gaugeEnd')"
										[error]="'required'"
										[message]="'Số máy cơ cuối không được để trống'"
									></app-validate>
                  <app-validate
                    [control]="item.get('gaugeEnd')"
                    [error]="'pattern'"
                    [message]="'Sai định dạng'"
                  ></app-validate>
								</td>
								<td class="quantity-gauge text-right">
									<p
										class="cursor-pointer text-ellipsis"
										placement="top"
										[ngbTooltip]="item.get('quantityGauge').value?.toLocaleString('en-US')"
									>
										{{ item.get('quantityGauge').value?.toLocaleString('en-US') }}
									</p>
								</td>
								<td class="electronic-start text-right">
									<p
										class="cursor-pointer text-ellipsis"
										placement="top"
										[ngbTooltip]="item.get('electronicStart').value?.toLocaleString('en-US')"
									>
										{{ item.get('electronicStart').value?.toLocaleString('en-US') }}
									</p>
								</td>
								<td class="electronic-end text-right">
									<input
										class="form-control"
										formControlName="electronicEnd"
										placeholder="Nhập số điện tử cuối ca"
										maxlength="13"
										(input)='changeElectronicEnd(i, item.get("chip").value)'
									/>
									<app-validate
										[control]="item.get('electronicEnd')"
										[error]="'required'"
										[message]="'Số điện tử cuối ca không được để trống'"
									></app-validate>
                  <app-validate
                    [control]="item.get('electronicEnd')"
                    [error]="'pattern'"
                    [message]="'Sai định dạng'"
                  ></app-validate>
								</td>
								<td class="quantity-electronic text-right">
									<p
										class="cursor-pointer text-ellipsis"
										placement="top"
										[ngbTooltip]="item.get('quantityElectronic').value?.toLocaleString('en-US')"
									>
										{{ item.get('quantityElectronic').value?.toLocaleString('en-US') }}
									</p>
								</td>
								<td class="quantity-transaction text-right">
									<p
										class="cursor-pointer text-ellipsis"
										placement="top"
										[ngbTooltip]="item.get('quantityTransaction').value?.toLocaleString('en-US')"
									>
										{{ item.get('quantityTransaction').value?.toLocaleString('en-US') }}
									</p>
								</td>
								<td class="price text-right">
									<p
										class="cursor-pointer text-ellipsis"
										placement="top"
										[ngbTooltip]="item.get('price').value?.toLocaleString('en-US')"
									>
										{{ item.get('price').value?.toLocaleString('en-US') }}
									</p>
								</td>
								<td class="total-money text-right">
									<p
										class="cursor-pointer text-ellipsis"
										placement="top"
										[ngbTooltip]="item.get('totalMoney').value?.toLocaleString('en-US')"
									>
										{{ item.get('totalMoney').value?.toLocaleString('en-US') }}
									</p>
								</td>
								<td class="total-liter text-right">
									<p
										class="cursor-pointer text-ellipsis"
										placement="top"
										[ngbTooltip]="item.get('totalLiter').value?.toLocaleString('en-US')"
									>
										{{ item.get('totalLiter').value?.toLocaleString('en-US') }}
									</p>
								</td>
								<td class="provisional-money text-right">
									<p
										class="cursor-pointer text-ellipsis"
										placement="top"
										[ngbTooltip]="item.get('provisionalMoney').value?.toLocaleString('en-US')"
									>
										{{ item.get('provisionalMoney').value?.toLocaleString('en-US') }}
									</p>
								</td>
								<td class="limit-money text-right">
									<p
										class="cursor-pointer text-ellipsis"
										placement="top"
										[ngbTooltip]="item.get('limitMoney').value?.toLocaleString('en-US')"
									>
										{{ item.get('limitMoney').value?.toLocaleString('en-US') }}
									</p>
								</td>
								<td class="cash-money text-right">
									<p
										class="cursor-pointer text-ellipsis"
										placement="top"
										[ngbTooltip]="item.get('cashMoney').value?.toLocaleString('en-US')"
									>
										{{ item.get('cashMoney').value?.toLocaleString('en-US') }}
									</p>
								</td>
								<td class="total-point text-right">
									<p
										class="cursor-pointer text-ellipsis"
										placement="top"
										[ngbTooltip]="item.get('totalPoint').value?.toLocaleString('en-US')"
									>
										{{ item.get('totalPoint').value?.toLocaleString('en-US') }}
									</p>
								</td>
							</tr>
							<tr>
								<td colspan="10"></td>
								<td class="text-right">Tổng</td>
								<td class="total-money text-right">
                  <ng-template #totalPrice>
                    <p
                      class="cursor-pointer text-ellipsis"
                      placement="top"
                      [ngbTooltip]="dataItem?.totalPrice?.toLocaleString('en-US')"
                    >
                      {{ dataItem?.totalPrice?.toLocaleString('en-US') }}
                    </p>
                  </ng-template>

									<p
										class="cursor-pointer text-ellipsis"
										placement="top"
										[ngbTooltip]="sumTotalMoney?.toLocaleString('en-US')"
										*ngIf="this.hasChangeEndElectronicPermission ? this.hasChangeEndElectronicPermission : !dataItem?.chip; else totalPrice"
									>
										{{ sumTotalMoney?.toLocaleString('en-US') }}
									</p>
								</td>
								<td colspan="2" class="total-provisional-money text-right">
									<p
										class="cursor-pointer text-ellipsis"
										placement="top"
										[ngbTooltip]="dataItem?.totalProvisionalMoney?.toLocaleString('en-US')"
									>
										{{ dataItem?.totalProvisionalMoney?.toLocaleString('en-US') }}
									</p>
								</td>
								<td class="total-limit-money text-right">
									<p
										class="cursor-pointer text-ellipsis"
										placement="top"
										[ngbTooltip]="dataItem?.totalLimitMoney?.toLocaleString('en-US') || '0' "
									>
										{{ dataItem?.totalLimitMoney?.toLocaleString('en-US') || '0'}}
									</p>
								</td>
								<td class="total-cash-paid text-right">
                  <ng-template #totalCashPaid>
                    <p
                      class="cursor-pointer text-ellipsis"
                      placement="top"
                      [ngbTooltip]="dataItem?.totalCashPaid?.toLocaleString('en-US')"
                    >
                      {{ dataItem?.totalCashPaid?.toLocaleString('en-US') }}
                    </p>
                  </ng-template>

                  <p
                    class="cursor-pointer text-ellipsis"
                    placement="top"
                    [ngbTooltip]="sumCashMoney?.toLocaleString('en-US')"
                    *ngIf="this.hasChangeEndElectronicPermission ? this.hasChangeEndElectronicPermission : !dataItem?.chip; else totalCashPaid"
                  >
                    {{ sumCashMoney?.toLocaleString('en-US') }}
                  </p>
								</td>
								<td class="total-point text-right">
									<p
										class="cursor-pointer text-ellipsis"
										placement="top"
										[ngbTooltip]="dataItem?.totalPoints?.toLocaleString('en-US')"
									>
										{{ dataItem?.totalPoints?.toLocaleString('en-US') }}
									</p>
								</td>
							</tr>
						</tbody>
					</ng-container>

					<ng-container *ngIf='statusLockShift === "CLOSE"'>
						<tbody>
							<tr *ngFor="let item of dataSource; let i = index">
								<td class="code">
									<p class="cursor-pointer text-ellipsis" placement="top" [ngbTooltip]="item.code">
										{{ item.code }}
									</p>
								</td>
								<td class="product-name">
									<p
										class="cursor-pointer text-ellipsis"
										placement="top"
										[ngbTooltip]="item.productName"
									>
										{{ item.productName }}
									</p>
								</td>
								<td class="employee-name">
									<p
										class="cursor-pointer text-ellipsis"
										placement="top"
										[ngbTooltip]="item.employeeName"
									>
										{{ item.employeeName }}
									</p>
								</td>
								<td class="gauge-start text-right">
									<p
										class="cursor-pointer text-ellipsis"
										placement="top"
										[ngbTooltip]="item.gaugeStart?.toLocaleString('en-US')"
									>
										{{ item.gaugeStart?.toLocaleString('en-US') }}
									</p>
								</td>
								<td class="gauge-end text-right">
									<p
										class="cursor-pointer text-ellipsis"
										placement="top"
										[ngbTooltip]="item.gaugeEnd?.toLocaleString('en-US')"
									>
										{{ item.gaugeEnd?.toLocaleString('en-US') }}
									</p>
								</td>
								<td class="quantity-gauge text-right">
									<p
										class="cursor-pointer text-ellipsis"
										placement="top"
										[ngbTooltip]="item.quantityGauge?.toLocaleString('en-US')"
									>
										{{ item.quantityGauge?.toLocaleString('en-US') }}
									</p>
								</td>
								<td class="electronic-start text-right">
									<p
										class="cursor-pointer text-ellipsis"
										placement="top"
										[ngbTooltip]="item.electronicStart?.toLocaleString('en-US')"
									>
										{{ item.electronicStart?.toLocaleString('en-US') }}
									</p>
								</td>
								<td class="electronic-end text-right">
									<p
										class="cursor-pointer text-ellipsis"
										placement="top"
										[ngbTooltip]="item.electronicEnd?.toLocaleString('en-US')"
									>
										{{ item.electronicEnd?.toLocaleString('en-US') }}
									</p>
								</td>
								<td class="quantity-electronic text-right">
									<p
										class="cursor-pointer text-ellipsis"
										placement="top"
										[ngbTooltip]="item.quantityElectronic?.toLocaleString('en-US')"
									>
										{{ item.quantityElectronic?.toLocaleString('en-US') }}
									</p>
								</td>
								<td class="quantity-transaction text-right">
									<p
										class="cursor-pointer text-ellipsis"
										placement="top"
										[ngbTooltip]="item.quantityTransaction?.toLocaleString('en-US')"
									>
										{{ item.quantityTransaction?.toLocaleString('en-US') }}
									</p>
								</td>
								<td class="price text-right">
									<p class="cursor-pointer text-ellipsis" placement="top" [ngbTooltip]="item.price?.toLocaleString('en-US')">
										{{ item.price?.toLocaleString('en-US') }}
									</p>
								</td>
								<td class="total-money text-right">
									<p
										class="cursor-pointer text-ellipsis"
										placement="top"
										[ngbTooltip]="item.totalMoney?.toLocaleString('en-US')"
									>
										{{ item.totalMoney?.toLocaleString('en-US') }}
									</p>
								</td>
								<td class="total-liter text-right">
									<p
										class="cursor-pointer text-ellipsis"
										placement="top"
										[ngbTooltip]="item.totalLiter?.toLocaleString('en-US')"
									>
										{{ item.totalLiter?.toLocaleString('en-US') }}
									</p>
								</td>
								<td class="provisional-money text-right">
									<p
										class="cursor-pointer text-ellipsis"
										placement="top"
										[ngbTooltip]="item.provisionalMoney?.toLocaleString('en-US')"
									>
										{{ item.provisionalMoney?.toLocaleString('en-US') }}
									</p>
								</td>
								<td class="limit-money text-right">
									<p
										class="cursor-pointer text-ellipsis"
										placement="top"
										[ngbTooltip]="item.limitMoney?.toLocaleString('en-US')"
									>
										{{ item.limitMoney?.toLocaleString('en-US') }}
									</p>
								</td>
								<td class="cash-money text-right">
									<p
										class="cursor-pointer text-ellipsis"
										placement="top"
										[ngbTooltip]="item.cashMoney?.toLocaleString('en-US')"
									>
										{{ item.cashMoney?.toLocaleString('en-US') }}
									</p>
								</td>
								<td class="total-point text-right">
									<p
										class="cursor-pointer text-ellipsis"
										placement="top"
										[ngbTooltip]="item.totalPoint?.toLocaleString('en-US')"
									>
										{{ item.totalPoint?.toLocaleString('en-US') }}
									</p>
								</td>
							</tr>
							<tr>
								<td colspan="10"></td>
								<td class="text-right">Tổng</td>
								<td class="total-money text-right">
									<p
										class="cursor-pointer text-ellipsis"
										placement="top"
										[ngbTooltip]="dataItem?.totalPrice?.toLocaleString('en-US')"
									>
										{{ dataItem?.totalPrice?.toLocaleString('en-US') }}
									</p>
								</td>
								<td colspan="2" class="total-provisional-money text-right">
									<p
										class="cursor-pointer text-ellipsis"
										placement="top"
										[ngbTooltip]="dataItem?.totalProvisionalMoney?.toLocaleString('en-US')"
									>
										{{ dataItem?.totalProvisionalMoney?.toLocaleString('en-US') }}
									</p>
								</td>
								<td class="total-limit-money text-right">
									<p
										class="cursor-pointer text-ellipsis"
										placement="top"
										[ngbTooltip]="dataItem?.totalLimitMoney?.toLocaleString('en-US')"
									>
										{{ dataItem?.totalLimitMoney?.toLocaleString('en-US') }}
									</p>
								</td>
								<td class="total-cash-paid text-right">
									<p
										class="cursor-pointer text-ellipsis"
										placement="top"
										[ngbTooltip]="dataItem?.totalCashPaid?.toLocaleString('en-US')"
									>
										{{ dataItem?.totalCashPaid?.toLocaleString('en-US') }}
									</p>
								</td>
								<td class="total-point text-right">
									<p
										class="cursor-pointer text-ellipsis"
										placement="top"
										[ngbTooltip]="dataItem?.totalPoints?.toLocaleString('en-US')"
									>
										{{ dataItem?.totalPoints?.toLocaleString('en-US') }}
									</p>
								</td>
							</tr>
						</tbody>
					</ng-container>
				</table>
			</div>
		</div>
	</div>

	<div class="py-5 w-100 d-flex justify-content-center">
    <button
      *ngIf='statusLockShift === "CLOSE"'
      class="m-2 btn btn-primary font-weight-bold"
      (click)='nextStep()'
    >
      Tiếp theo
    </button>

    <button
      *ngIf='statusLockShift !== "CLOSE" && eAuthorize.UPDATE_PRODUCT_REVENUE | canUseFeature'
      class="m-2 btn btn-primary font-weight-bold"
      (click)="onSubmit()"
    >
      Xác nhận
    </button>
	</div>
</div>
