<div class="mt-1 card card-custom gutter-b">
  <div class="shift-info">
    <div class="card-header">
      <div class="card-title pt-3">
        <h3 class="title">Thông tin ca</h3>
      </div>
    </div>

    <div class="card-body">
      <div class="form-group row">
        <div class="col-lg-6 row">
          <div class='col-lg-3'>
            <label class="form-label">Trạm</label>
          </div>
          <div class='col-lg-9'>
            <label><strong>Sunoil Nam thanh</strong></label>
          </div>
        </div>

        <div class="col-lg-6 row">
          <div class='col-lg-3'>
            <label class="form-label">Thời gian</label>
          </div>
          <div class='col-lg-9'>
            <label><strong>25/11/2021 </strong> - <strong>12/12/2021</strong></label>
          </div>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-lg-6 row">
          <div class='col-lg-3'>
            <label class="form-label">Tên ca</label>
          </div>
          <div class='col-lg-9'>
            <label><strong>Ca ngày</strong></label>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="revenue-detail">
    <div class="card-header">
      <div class="card-title pt-3">
        <h3 class="title">Chi tiết doanh thu</h3>
      </div>
    </div>

    <div class="card-body">
      <div class="table-responsive angular-bootstrap-table">
        <table class="table table-head-custom table-vertical-center overflow-hidden" aria-label="">
          <thead>
          <tr>
            <th rowspan="3" scope='' class="align-bottom">Mã vòi</th>
            <th rowspan="3" scope='' class="align-bottom">Nhiên liệu</th>
            <th rowspan="3" scope='' class="align-bottom">Nhân viên</th>
            <th rowspan="3" scope='' class="align-bottom">Số máy cơ đầu</th>
            <th rowspan="3" scope='' class="align-bottom">Số máy cơ cuối</th>
            <th rowspan="3" scope='' class="align-bottom">Lượng xuất cơ</th>
            <th rowspan="3" scope='' class="align-bottom">Số điện tử đầu ca</th>
            <th rowspan="3" scope='' class="align-bottom">Số điện tử cuối ca</th>
            <th rowspan="3" scope='' class="align-bottom">Lượng xuất điện</th>
            <th rowspan="3" scope='' class="align-bottom">Lượng xuất theo giao dịch</th>
            <th rowspan="3" scope='' class="align-bottom">Đơn giá</th>
            <th rowspan="3" scope='' class="align-bottom">Tổng tiền</th>
            <th colspan="5" scope='' class="text-center p-0">Doanh thu trong ca</th>
          </tr>
          <tr>
            <th colspan='2' scope='' class="text-center p-0">Hạn mức nhiên liệu</th>
            <th rowspan='2' scope='' class="align-bottom">Hạn mức tiền</th>
            <th rowspan='2' scope='' class="align-bottom">Tiền mặt</th>
            <th rowspan='2' scope='' class="align-bottom">Điểm</th>
          </tr>
          <tr>
            <th scope='' class="text-right">Số lít</th>
            <th scope='' class="text-right">Tiền tạm tính</th>
          </tr>
          </thead>
        </table>
      </div>
    </div>
  </div>

  <div class="py-5 w-100 d-flex justify-content-center">
    <button
      class="m-2 btn btn-primary font-weight-bold"
    >
      Xác nhận
    </button>
  </div>
</div>
