.card-header {
	padding: 0 15px !important;
	border-bottom: none;

	.title {
		text-transform: uppercase;
		color: #4674eb;
		font-weight: 500;
		font-size: 14px;
	}
  .card-toolbar {
    gap: 50px;
  }
}

.card-body {
	padding: 0 2.25rem !important;

	.table {
		min-width: 1024px;
		th {
			text-transform: none;
		}
		.head-inventory {
			padding-right: 45px;
		}

		td {
			&.name {
				min-width: 120px;
				max-width: 150px;
			}
			&.unit {
				min-width: 70px;
				max-width: 100px;
			}
			&.head-inventory,
			&.final-inventory,
			&.price,
			&.total-money,
			&.import-quantity,
			&.export-quantity {
        min-width: 100px;
				max-width: 135px;

			}
		}
	}
}
