@import "/src/app/shared/styles/palette.style.scss";

p {
  padding: 0;
  margin: 0;
}
.dialog-main {
  font-style: normal;
  line-height: 21px;
  color: $primary-main;
  max-width: 100%;
  width: max(1274px, 100%);
  & > div {
    box-sizing: border-box;
  }
}
.dialog-header {
  border-bottom: 1px solid #bdbdbd;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .title {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: $primary-main;
  }
  .toolbar {
    button {
      all: unset;
    }
    display: flex;
    align-items: stretch;

    cursor: pointer;
    i {
      font-size: 16px;
      color: $primary-main;
    }
    & > button {
      width: 24px;
      margin-left: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      &:first-child {
        margin-left: 0;
      }
      &:hover,
      &:hover i {
        color: $secondary-main;
      }
    }
  }
}
.dialog-content {
  padding: 15px;
  max-height: calc(100vh - 150px);
  overflow-y: auto;
  .app-form-array {
    overflow: auto;
    display: block;
  }
  &-region-header {
    display: flex;
    align-items: center;
    & > *:not(:last-child) {
      margin-right: 15px;
    }
  }
  &-region-title {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    padding: 10px 0;
  }
}
.dialog-footer {
  display: flex;
  justify-content: center;
  padding: 15px;
  & > *:not(:last-child) {
    margin-right: 20px;
  }
  .button {
    &-close,
    &-save {
      min-width: 90px;
    }
  }
}

.nationality {
  button {
    all: unset;
  }
  flex: 1;
  label {
    flex: 1;
  }
  &-button {
    margin: 15px 0 0 15px;
    button {
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      &:disabled {
        opacity: 0.3;
      }
    }
  }
  &-add button {
    background-color: $primary-main;
    color: #fff;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    &:hover {
      background-color: $primary-dark;
    }
  }
  &-remove button {
    i {
      font-size: 24px;
      color: #4f5d73;
    }
    &:hover i {
      color: $error-main;
    }
  }
}

@media only screen and (min-width: 1024px) {
  .dialog-content {
    .form-group {
      flex-wrap: nowrap;
      & > label {
        width: 300px;
      }
    }
  }
}
