.all-content{
  .title-content {
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    text-indent: 8px;
    color: #0C258A;
    margin-top: 10px;
  }
  .col-left {padding-left: 15%;}
  .col-right {padding-right: 15%}
  .form-field{
    margin: 15px 0;
    span{
      font-size: 14px;
      font-weight: bold;
      color: #0C258A;
    }
  }
  .table-content {
    th {
      background-color: #0C258A;
      color: #FFFFFF;
    }
  }
}

.table-scroll{
  position: relative;
  width:100%;
  z-index: 1;
  margin: auto;
  overflow: auto;
  //height: 350px;
  table{
    width: 100%;
    min-width: 1890px;
    border-collapse: separate;
    border-spacing: 0;
    th,td{
      vertical-align: top;
    }
    thead th {
      position: -webkit-sticky;
      position: sticky;
      top: 0;
      z-index: 6;
    }
    thead tr th:first-child {
      width: 40px;
      min-width: 40px;
    }
    tbody tr td:first-child {
      width: 40px;
      min-width: 40px;
    }
  }
}
.btn-search{
  background-color: #0C258A;
  color: #FFFFFF;
}
.btn-excel{
  i{color: #28A745;}
  color: #28A745;
}
input {
  box-shadow: none !important;
}
::ng-deep.ng-select-container {
  outline: none !important;
  box-shadow: unset !important;
}
