

.account-owner-info {
    .text-label  {
        font-weight: 500;
        text-align: left;
        color: #0C258A;
        font-size: 16px;
        line-height: 19px;
        white-space: nowrap;
    }

}