<div class="bg-white">
  <div class="row">
    <div class="col col-12 section-title d-flex justify-content-between align-items-center">
      <div *ngIf="showArrow" class="d-flex justify-content-between align-items-center"
        (click)="onClickCollapseButton()">
        <ng-content select="[area=title]"></ng-content>
        <button mat-icon-button color="primary" class="ml-2" type="button">
          <mat-icon *ngIf="collapsed">expand_more</mat-icon>
          <mat-icon *ngIf="!collapsed">expand_less</mat-icon>
        </button>
      </div>
      <ng-content *ngIf="!collapsed" select="[area=titleRight]"></ng-content>
    </div>

    <div class="col col-12 bg-white">
      <div class="w-100 section-body">
        <div class="collapsible" [class.overflow-hidden]="collapsed" [@collapse]="collapsed">
          <ng-content select="[area=body]"></ng-content>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="showSectionBreak" class="section-break">
    <hr />
  </div>
</div>
