.lpb-address {
  display: flex;
  justify-content: space-between;

  &-left,
  &-right {
    max-width: 50%;
    flex: 0 0 50%;
    padding: 0 24px;
    display: flex;
    flex-direction: column;
    margin: 0 -15px 0 -24px;

    .row-item-info {
      display: flex;
      margin-bottom: 12px;

      .label-title {
        max-width: 33.3333%;
        flex: 0 0 33.3333%;
        font-weight: 500;
        text-align: left;
        margin-right: 10px;
        padding-top: 6px;
        font-size: 18px;
        color: #0C258A;

        .item-require {
          color: #E83C19;
          font-weight: 500;
        }
      }

      .label-field {
        max-width: 33.3333%;
        flex: 0 0 33.3333%;
        font-weight: 500;
        text-align: left;
        margin-right: 10px;
        padding-top: 6px;
        font-size: 14px;
        color: #0C258A;

        .item-require {
          color: #E83C19;
          font-weight: 500;
        }
      }

      .fw-700 {
        font-weight: 700;
      }

      .label-action {
        max-width: 66.6666%;
        flex: 0 0 66.6666%;
        padding-top: 5px;
        font-style: italic;
        color: #17589f;
        font-weight: 500;
        cursor: pointer;
      }

      .value-field {
        max-width: 66.6666%;
        flex: 0 0 66.6666%;

        .control-item {
          .grRadio-isResident {
            height: 35px;
            display: flex;

            .rd-item {
              align-self: center;
              margin-right: 10px;

              label,
              input {
                cursor: pointer;
              }
            }
          }

          .form-check {
            height: 35px;
            display: flex;
            align-items: center;
          }
          .ic-info-core {
            cursor: pointer;
            color: #007bff;
            font-size: 16px;
            width: 16px;
            height: 16px;
            margin-left: 2px;
          }
        }

        .error-msg {
          color: #E83C19;
          margin-top: 5px;
          font-size: 12px;
        }
      }

      .error-invalid {
        border-color: #E83C19;
      }
    }
  }
}

.form-control:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}
