.card.card-custom {
  box-shadow: none !important;

  .card-body,
  .card-header {
    border: 0;
    padding-top: 0 !important;
  }

  .note {
    color: #DA0806;
  }

  table {
    min-width: 1024px;

    thead th {
      text-transform: none;
    }
  }
}
