@import "../../shared/styles/styles.scss";

.w-label {
    min-width: 200px;
}

.w-input {
    width: 200px;
}

.title-trans {
  color: #0c258a;
  font-size: 20px;
  font-weight: 600;
  padding-bottom: 20px;
}
