<div class="container-fuild">
    <div class="row cust-row">
        <div class="col-12 line-base">
            <div class="title-head">
                <mat-icon>account_balance_wallet</mat-icon>
                <span class="text">DANH MỤC ĐĂNG KÝ</span>
            </div>
        </div>
        <div class="col-12">
            <div class="form-full-size d-flex">
                <div class="col-first">
                    <div class="d-flex">
                        <div class="account-no-col">
                            <div class="account-no">
                                <span> Account No </span>
                            </div>
                            <div class="account-number">
                                <span> 42710000459949 - BIDV</span>
                            </div>
                            <div class="account-number">
                                <span> 42710000459949 - BIDV</span>
                            </div>
                        </div>
                        <div class="fee-charge">
                            <div class="fee-charge-col">
                                <div class="fee-charge-title">
                                    <span>Fee Charge</span>
                                </div>
                                <div class="fee-charge-radio">
                                    <input type="radio" name="fee-charge">
                                </div>
                                <div class="fee-charge-radio">
                                    <input type="radio" name="fee-charge">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="branch-ntf text-right pr-3">
                        <span>Branch Regist NTF</span>
                    </div>
                </div>
                <div class="col-second">
                    <app-mobile-no-col></app-mobile-no-col>
                </div>
            </div>
        </div>
    </div>
</div>