<div class="container-fluid">
  <div class="row">
    <div class="col-lg-6 mb-2">
      <button class="open-dialog-info" (click)="openUDF()"><span>Thông tin trường UDF</span></button>
    </div>
    <div class="col-lg-6 mb-2">
      <button class="open-dialog-info" (click)="openCoOwner()"><span>Thông tin người đồng sở hữu</span></button>
    </div>
    <div class="col-lg-6 mb-2">
      <button class="open-dialog-info" (click)="openAuthorizedPerson()"><span>Thông tin người ủy quyền</span></button>
    </div>
    <div class="col-lg-6 mb-2">
      <button class="open-dialog-info" (click)="openLegalRepresentative()"><span>Thông tin người đại diện pháp
          luật</span></button>
    </div>
    <div class="col-lg-6 mb-2">
      <button class="open-dialog-info" (click)="openBeneficiary()"><span>Thông tin người thụ hưởng</span></button>
    </div>
  </div>
</div>
