@import '/src/popup.scss';
.mat-select-panel.example-panel {
  min-width: 358px !important;
  margin-left: 7% !important;
}
.mat-select-panel.title-panel {
  min-width: 358px !important;
}
.cdk-overlay-pane{
  top: 215.8px  !important;
}
@import '/src/popup.scss'

