<div class="card card-custom gutter-b mt-1">
	<div class="card-header">
		<div class="card-title">
			<h3 class="card-label">Danh sách hợp đồng</h3>
		</div>

		<div class="card-toolbar row">
			<div class="search-form">
				<i class="flaticon-search"></i>
				<input
					type="text"
					name="searchText"
					placeholder="Search..."
					class="form-control"
					[formControl]="searchFormControl"
				/>
			</div>
			<button type="button" class="btn btn-primary" (click)="createContract()">Thêm mới</button>
		</div>
	</div>
	<div class="card-body">
		<div class="table-responsive angular-bootstrap-table">
			<table class="table table-head-custom table-vertical-center overflow-hidden">
				<thead>
					<th>
						Mã hợp đồng
						<app-sort-icon
							column="code"
							[activeColumn]="sortData?.fieldSort"
							[activeDirection]="sortData?.directionSort"
							(sort)="sort($event)"
						></app-sort-icon>
					</th>
					<th>
						Tên hợp đồng
						<app-sort-icon
							column="name"
							[activeColumn]="sortData?.fieldSort"
							[activeDirection]="sortData?.directionSort"
							(sort)="sort($event)"
						></app-sort-icon>
					</th>
					<th>
						Loại hợp đồng
						<app-sort-icon
							column="contract_type"
							[activeColumn]="sortData?.fieldSort"
							[activeDirection]="sortData?.directionSort"
							(sort)="sort($event)"
						></app-sort-icon>
					</th>
					<th>
						Ngày tạo
						<app-sort-icon
							column="create_at"
							[activeColumn]="sortData?.fieldSort"
							[activeDirection]="sortData?.directionSort"
							(sort)="sort($event)"
						></app-sort-icon>
					</th>
					<th>
						Ngày hết hạn
						<app-sort-icon
							column="effect_end_date"
							[activeColumn]="sortData?.fieldSort"
							[activeDirection]="sortData?.directionSort"
							(sort)="sort($event)"
						></app-sort-icon>
					</th>
					<th>Trạng thái</th>
					<th class="text-center">Tác động</th>
				</thead>
				<tbody>
					<tr *ngFor="let item of dataSource" (click)="viewDetalContract($event, item)">
						<td class="code">
							<p class="cursor-pointer text-ellipsis" placement="top" [ngbTooltip]="item.code">
								{{ item.code }}
							</p>
						</td>

						<td class="name">
							<p class="cursor-pointer text-ellipsis" placement="top" [ngbTooltip]="item.name">
								{{ item.name }}
							</p>
						</td>

						<td class="contractType">
							<p
								class="cursor-pointer text-ellipsis"
								placement="top"
								[ngbTooltip]="item.contractType.name"
							>
								{{ item.contractType.name }}
							</p>
						</td>
						<td class="createAt">
							<p
								class="cursor-pointer text-ellipsis"
								placement="top"
								[ngbTooltip]="item.createdAt | date: 'dd/MM/yyyy'"
							>
								{{ item.createdAt | date: 'dd/MM/yyyy' }}
							</p>
						</td>
						<td class="effectEndDate">
							<p
								class="cursor-pointer text-ellipsis"
								placement="top"
								[ngbTooltip]="item.effectEndDate | date: 'dd/MM/yyyy'"
							>
								{{ item.effectEndDate | date: 'dd/MM/yyyy' }}
							</p>
						</td>

						<td class="status">
							<span
								class="label label-lg label-inline"
								[class.label-light-success]="item.status === contractStatus.ACCEPTED"
								[class.label-light-danger]="item.status === contractStatus.REJECT"
								[class.label-light-warning]="item.status === contractStatus.WAITING_ACCEPT"
								[class.label-light-primary]="item.status === contractStatus.DRAFT"
							>
								<ng-container *ngIf="item.status === contractStatus.ACCEPTED"
									>Đã duyệt</ng-container
								>
								<ng-container *ngIf="item.status === contractStatus.REJECT"
									>Đã từ chối</ng-container
								>
								<ng-container *ngIf="item.status === contractStatus.WAITING_ACCEPT"
									>Chờ phê duyệt</ng-container
								>
								<ng-container *ngIf="item.status === contractStatus.DRAFT">Lưu nháp</ng-container>
							</span>
						</td>
						<td class="text-center action">
							<a
								*ngIf="item.status === contractStatus.DRAFT"
								(click)="updateContract(item.code)"
								class="btn btn-icon btn-light btn-hover-primary btn-sm mx-3"
								[ngbTooltip]="'Sửa'"
							>
								<span
									[inlineSVG]="'./assets/media/svg/icons/Communication/Write.svg'"
									cacheSVG="true"
									class="svg-icon svg-icon-md svg-icon-primary"
								>
								</span>
							</a>
							<a
								*ngIf="item.status === contractStatus.DRAFT"
								(click)="deleteContract($event, item)"
								class="btn btn-icon btn-light btn-hover-danger btn-sm"
								[ngbTooltip]="'Xóa'"
							>
								<span
									[inlineSVG]="'./assets/media/svg/icons/General/Trash.svg'"
									cacheSVG="true"
									class="svg-icon svg-icon-md svg-icon-danger"
								>
								</span>
							</a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<app-paginator [paginator]="paginatorState" (paginate)="pagingChange($event)"></app-paginator>
	</div>
</div>
