.card-toolbar {
  gap: 50px;
  // .search-form {
  //   position: relative;
  //   display: flex;
  //   align-items: center;

  //   i {
  //     position: absolute;
  //     left: 10px;
  //     top: 7px;
  //   }

  //   input {
  //     padding-left: 30px;
  //   }
  // }

  button {
    width: 110px;
  }
}
table {
  thead th{
    text-transform: none;
  }
}
