.content {
  margin-bottom: 30px;
  .content-main {
    margin: 30px 25px 0;
    display: flex;
    flex-direction: column;
    gap: 25px;

    .title {
      color: #0C258A;
      font-size: 18px;
      font-weight: 500;

      .fa-credit-card {
        color: #0C258A;
      }
    }

    .card {
      background-color: #F1F3F6;
      padding: 15px 25px;
      border: none;

      .card-title {
        color: #0C258A;
        font-weight: bold;
        font-size: 18px;
      }

      p {
        color: #384961;
      }
    }
  }
}


.template-other {
  background-color: #F1F3F6;
  color: #162A5E;
  font-weight: 500;
  .temp-content{
    display: flex;
    justify-content: flex-start;
    gap: 30px;
    .record {
      display: inline-block;
      width: 12px;
      height: 12px;
      border-radius: 50%;
      margin-right: 4px;
      &.success {
        background: #8ADC76;
      }
      &.error {
        background: #F64F45;
      }
    }
  }
  .text-down {
    color: #162A5E;
    cursor: pointer;
    &:hover {
      color: #4674EB;
    }
  }

  .text-down-disable {
    color: #C4C4C4;
    cursor: default;
  }

  .text-message {
    color: #F64F45;
  }
}
