.card.card-custom {
	.card-body,
	.card-header {
		border: 0;
	}

	.card-body {
		padding-top: 1rem;
	}

	.card-header {
		margin-top: 2rem;
	}
}

table {
	width: 100%;
	min-width: 1024px;
	tr {
		font-weight: 400;
		&:hover {
			background-color: #ffffff;
		}

		td {
			padding-top: 0.5rem;
			padding-bottom: 0.5rem;
			&.column-1 {
				width: 20%;
			}

			&.column-2 {
				width: 20%;
			}
		}
	}
}
