<div class="card card-custom gutter-b mt-1">
	<div class="card-header">
		<div class="title-card font-weight-bold">
			<label class="card-label">Chi tiết yêu cầu</label>
		</div>
	</div>
	<div class="card-body overflow-auto">
		<table aria-label="" *ngIf="shiftChangeRequestData?.type === eShiftChangRequestType.CHANGE">
			<tbody>
				<tr>
					<td class="column-1">Nhân viên xin đổi ca</td>
					<td>{{shiftChangeRequestData?.employeeNameFrom}}</td>
					<td class="column-2">Ngày muốn đổi</td>
					<td>{{shiftChangeRequestData?.dateTo | date: 'dd/MM/yyyy'}}</td>
				</tr>
				<tr>
					<td class="column-1">Ngày đổi</td>
					<td>{{shiftChangeRequestData?.dateFrom | date: 'dd/MM/yyyy'}}</td>
					<td class="column-2">Ca muốn đổi</td>
					<td>{{shiftChangeRequestData?.shiftNameTo}}</td>
				</tr>
				<tr>
					<td class="column-1">Ca đổi</td>
					<td>{{shiftChangeRequestData?.shiftName}}</td>
					<td class="column-2">Nhân viên đổi ca</td>
					<td>{{shiftChangeRequestData?.employeeNameTo}}</td>
				</tr>
				<tr>
					<td class="column-1">Lý do đổi ca</td>
					<td class="max-w-100px pr-20">{{shiftChangeRequestData?.content}}</td>
				</tr>
			</tbody>
		</table>

		<table aria-label="" *ngIf="shiftChangeRequestData?.type === eShiftChangRequestType.REPLACE">
			<tbody>
				<tr>
					<td class="column-1">Nhân viên xin thay ca</td>
					<td>{{shiftChangeRequestData?.employeeNameFrom}}</td>
					<td class="column-2">Nhân viên thay ca</td>
					<td>{{shiftChangeRequestData?.employeeNameTo}}</td>
				</tr>
				<tr>
					<td class="column-1">Ngày trực</td>
					<td>{{shiftChangeRequestData?.dateFrom | date: 'dd/MM/yyyy'}}</td>
				</tr>
				<tr>
					<td class="column-2">Ca trực</td>
					<td>{{shiftChangeRequestData?.shiftNameTo}}</td>
				</tr>
				<tr>
					<td class="column-1">Thời gian muốn thay</td>
					<td>
						{{shiftChangeRequestData?.startTime |displayTime: shiftChangeRequestData?.typeStart}} -
						{{shiftChangeRequestData?.endTime |displayTime: shiftChangeRequestData?.typeEnd}}
					</td>
				</tr>
				<tr>
					<td class="column-1">Lý do yêu cầu</td>
					<td class="max-w-100px pr-20">{{shiftChangeRequestData?.content}}</td>
				</tr>
			</tbody>
		</table>

		<h5
			class="text-danger mt-5"
			*ngIf="shiftChangeRequestData?.status	 === eShiftChangeRequestStatus.REJECTED"
		>
			Lý do từ chối: {{shiftChangeRequestData?.reason}}
		</h5>
	</div>
	<div class="w-100 d-flex justify-content-center pb-10 mt-10">
		<button
			type="button"
			class="btn btn-outline-primary mr-3"
			(click)="openRejectRequestModal()"
			*ngIf="shiftChangeRequestData?.status === eShiftChangeRequestStatus.WAITING"
		>
			Từ chối
		</button>
		<button
			type="button"
			class="btn btn-primary mr-3"
			(click)="openApproveRequestModal()"
			*ngIf="shiftChangeRequestData?.status === eShiftChangeRequestStatus.WAITING"
		>
			Phê duyệt
		</button>
		<button
			type="button"
			class="btn btn-outline-secondary mr-3"
			(click)="goBack()"
			*ngIf="shiftChangeRequestData?.status !== eShiftChangeRequestStatus.WAITING"
		>
			Quay lại
		</button>
	</div>
</div>

<ng-template #approveRequest>
	<div class="modal-header">
		<h4 class="modal-title">Bạn có chắc chắn muốn duyệt yêu cầu ?</h4>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-outline-secondary" (click)="activeModal.close(false)">
			Hủy
		</button>
		<button type="button" class="btn btn-primary" (click)="activeModal.close(true)">
			Xác nhận
		</button>
	</div>
</ng-template>

<ng-template #rejectRequest>
	<div class="modal-header">
		<h4 class="modal-title">Từ chối yêu cầu đổi ca</h4>
	</div>
	<div class="modal-body">
		<div class="w-100">
			<label class="form-label required">Nhập lý do từ chối</label>
			<input
				[formControl]="reasonControl"
				class="form-control form-control-solid"
				trim="blur"
				maxlength="255"
			/>
			<app-validate
				[control]="reasonControl"
				[error]="'required'"
				[message]="'Lý do từ chối không được để trống'"
			></app-validate>
		</div>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-outline-secondary" (click)="activeModal.close(false)">
			Hủy
		</button>
		<button type="button" class="btn btn-primary" (click)="rejectRequestShiftChange()">
			Từ chối
		</button>
	</div>
</ng-template>
