table {
	min-width: 968px;
	th {
		text-transform: none !important;
	}
	td.image img {
		cursor: pointer;
	}
}

.w-50 {
	width: 50px;
}

.w-80 {
	width: 80px;
}

.w-100 {
	width: 100px;
}

.w-120 {
	width: 120px;
}

.w-130 {
	width: 130px;
}

.w-140 {
	width: 140px;
}

.w-150 {
	width: 150px;
}

.w-160 {
	width: 160px;
}

.w-170 {
	width: 170px;
}

.w-180 {
	width: 180px;
}

.w-190 {
	width: 190px;
}

.w-200 {
	width: 200px;
}

.w-250 {
	width: 250px;
}

.w-300 {
	width: 300px;
}
