.mat-dialog-container {
    border-radius: 10px !important;
}

.mat-form-field-appearance-fill .mat-form-field-flex {
    background-color: white !important;
    padding: 0px !important;
}

.mat-form-field-prefix,
.mat-form-field-suffix {
    top: -5px !important;
}

.mat-form-field-infix {
    top: -5px;
}

h2 {
    margin: 0px;
    padding-left: 17px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.scroll-dialog {
    display: block;
    max-height: 70vh;
    overflow: auto;
}

.form-group.required .control-label:after {
    content: "*";
    color: red;
}

.form-control {
    font-size: unset;
}

.table td {
    padding: 0px;
    vertical-align: inherit;
}

.pading-date {
    padding: .375rem .25rem;
}

//label{
//    margin-bottom: 0.2em;
//}
.form-row {
    margin-top: 5px;
}

table {
    margin-bottom: 0px;
}

.titleTD td {
    padding: 0.3em;
}

.input-search {
    width: 30px;
}

.input-group {
    margin-bottom: 5px;
}