/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,600,700');
// Global vendors
@import '~bootstrap/dist/css/bootstrap.css';
// => Material
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background,
.mat-checkbox-checked.mat-accent .mat-checkbox-background {
	background-color: #3699ff !important;
}

.mat-checkbox-layout .mat-checkbox-label {
	margin-top: 2px;
}

@import '~highlight.js/styles/googlecode.css';
@import '~perfect-scrollbar/css/perfect-scrollbar.css';

// Global fonts
@import '~socicon/css/socicon.css';
@import '~@fortawesome/fontawesome-free/css/all.min.css';
@import './assets/plugins/flaticon/flaticon.css';
@import './assets/plugins/flaticon2/flaticon.css';
@import './assets/plugins/keenthemes-icons/font/ki.css';

// Metronic styles (replace these path when using RTL css below)
@import './assets/sass/style.angular.scss';

// For RTL, check this documentation https://keenthemes.com/metronic/?page=docs&section=angular-rtl
// @import "./assets/sass/style.angular.rtl.css";

// Default Layout themes
@import './assets/sass/themes/layout/header/base/light.scss';
@import './assets/sass/themes/layout/header/menu/light.scss';
@import './assets/sass/themes/layout/brand/dark.scss';
@import './assets/sass/themes/layout/aside/dark.scss';

// Header themes
// .header-base-light {
//     @import "./assets/sass/themes/layout/header/base/light.scss";
// }

// .header-base-dark {
//     @import "./assets/sass/themes/layout/header/base/dark.scss";
// }

// Header Menu themes
// .header-menu-light {
//     @import "./assets/sass/themes/layout/header/menu/light.scss";
// }
// .header-menu-dark {
//     @import "./assets/sass/themes/layout/header/menu/dark.scss";
// }

// Brand themes
// .brand-dark {
// 	@import './assets/sass/themes/layout/brand/dark.scss';
// }

// .brand-light {
// 	@import './assets/sass/themes/layout/brand/light.scss';
// }

// ng-select
@import './app/shared/components/ng-select/themes/default.theme.scss';

.ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value {
	display: flex;
	flex-direction: row-reverse;
}

.ng-select.ng-select-single .ng-select-container {
	position: relative;
	align-items: center;
	height: 3.4rem;
	.ng-value-container .ng-input {
		top: 0.9rem;
		left: 0.3rem !important;
	}
}

.ng-select.ng-select.ng-select-multiple {
	.ng-value {
		background: #cff9df !important;
		span {
			color: #6993ff !important;
		}
	}
}

.ng-select {
	.ng-select-container {
		border: none !important;
		background: #f3f6f9 !important;
		height: fit-content;
		padding: 0.51rem 1rem;
		padding-right: 0;
		font-size: 1.08rem;
		line-height: 1.5;
		border-radius: 0.42rem;
		background-color: #f3f6f9;
		border-color: #f3f6f9;
		color: #3f4254;
		transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease,
			box-shadow 0.15s ease;
		.ng-value-container {
			font-size: 1.1rem;
			padding-left: 0 !important;
		}
	}

	ng-dropdown-panel {
		border-radius: 5px;
		.ng-dropdown-panel-items {
			border-radius: 5px;
		}
	}
}

.accordion {
	.card {
		border: 1px solid #ebedf3 !important;
		margin: 0.5rem !important;
		border-radius: unset;
	}

	.btn-link,
	.btn-link:hover {
		text-decoration: none !important;
	}

	.btn-link {
		width: 100% !important;
	}
}
// Aside themes
// .aside-dark {
//   @import "./assets/sass/themes/layout/aside/dark.scss";
// }

// .aside-light {
//   @import "./assets/sass/themes/layout/aside/light.scss";
// }
// body {
//   background: #fff;
// }

p {
	margin: 0;
}

::-webkit-scrollbar {
	width: 10px;
	height: 10px;
}
/* Track */
::-webkit-scrollbar-track {
	background: #eeeeee;
	border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
	border-radius: 5px;
	background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #666;
}

// hide bootstrap dropdown arrow globally
.dropdown-toggle::after {
	display: none !important;
}

.angular-bootstrap-table {
	overflow-x: auto;
	th {
		outline: none;

		&.sortable {
			.svg-icon-sort {
				opacity: 0;
			}

			&:hover {
				cursor: pointer;

				.svg-icon-sort {
					opacity: 1;
				}
			}
		}
	}

	.table.table-head-custom thead th.sortable-active {
		color: #3699ff !important;
	}
}

.ngb-dp-day {
	width: 3rem !important;
	height: 3rem !important;
}

.ngb-dp-day > div {
	width: 3rem !important;
	height: 3rem !important;
	line-height: 3rem !important;
}

.ngb-dp-weekday {
	width: 3rem !important;
}

.cursor-default {
	cursor: default !important;
}

.progress-modal {
	height: 3px;
	width: 100%;
}

.text-ellipsis {
	display: inline-block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.hover {
	opacity: 0.8;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[type='number'] {
	-moz-appearance: textfield;
}

.modal-content {
	.modal-header {
		position: relative;
		.close-icon {
			position: absolute;
			width: 15px;
			height: 15px;
			right: 20px;
			cursor: pointer;
			background-image: url('./assets/media/sun-oil/close-icon.svg');
			background-position: center;
			background-repeat: no-repeat;
			background-size: contain;
			&:hover {
				opacity: 0.8;
			}
		}
	}
}

.form-label.required::after {
	content: ' (*)';
	font-family: Roboto, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: 700;
	letter-spacing: 0px;
	text-align: right;
	color: #f64e60;
}

button.btn-dialog {
	width: 80px;
}

table {
	p.text-ellipsis {
		width: fit-content;
		max-width: inherit;
	}
	thead {
		th {
			font-weight: 500;
			color: #b5b5c3 !important;
			font-size: 1rem !important;
			letter-spacing: unset !important;
		}
	}
	tr {
		font-weight: 500;
		td.status {
			span {
				font-weight: 500;
			}
		}
		&:hover {
			background-color: #f3f6f9;
			td {
				.btn.btn-light {
					background-color: #ffffff;
				}
			}
		}
	}
}

// Overide kt theme
.gutter-b {
	margin-bottom: 0 !important;
}

.footer-fixed .content {
	padding-bottom: 0 !important;
}

.modal-footer {
	gap: 20px;
}

:disabled {
	background: #ebebeb !important;
}

app-paginator {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.search-form {
	position: relative;
	display: flex;
	align-items: center;

	em {
		position: absolute;
		left: 10px;
		top: 7px;
		font-size: 1.3rem;
		opacity: 0.6;
	}

	input {
		padding-left: 30px;
	}
}

.fc-toolbar {
	text-transform: capitalize;
}

// hide shadow
// .card.custom-card {
//   box-shadow: none;
// }

// .form-control.ng-invalid.ng-touched,
// .form-control.ng-invalid.ng-dirty {
//   border: 1px solid #ee2d41;
// }

// Utility
@import './assets/sass/utility.scss';
