/* You can add global styles to this file, and also import other style files */
@import "~@ng-select/ng-select/themes/default.theme.css";
/*@import "~@ng-select/ng-select/themes/material.theme.css";*/


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
background: #E3E3E3;}
.mat-dialog-container {
    padding: 0px !important;
    border-radius: 10px !important;
}
.mat-form-field-appearance-fill .mat-form-field-flex{
    background-color: white !important;
    padding: 0px !important;
}
.mat-form-field-prefix, .mat-form-field-suffix {
    top: -5px !important;
}
.mat-form-field-infix {
    top: -5px;
}
.col-3 {
  flex: 0 0 20%;
  max-width: 20%;
}
.col-9 {
  flex: 0 0 80%;
  max-width: 80%;
}
.colLeft{
  float: left;
}
.colRight{
  float: left;
}
.newfile{
  width: 200px;
  height: 40px;
  border: 1px solid #D4D4D4;
  margin-right: 17px;
  font-size: 16px;
  color: #FFFFFF;
  width: 130px;
}
.newfile:hover{
  color: #FFFFFF;
}
.closePopup{
  background: #FFFFFF;
  border: 1px solid #BDBDBD;
  width: 87px;
  height: 40px;
  font-size: 16px;
  color: #384961;
  margin-right: 15px;
  width: 130px;
}
table td{
  border: 1px solid #dee2e6;
}
.textLabel{
  font-weight: 500;
  text-align: right;
  color: #252834;
}
.txt{
  padding-top: calc(.375rem + 1px);
}
.btn-color{
  background: #23388F;
}
/* navar bar */
.topnav {
  background-color: #FFFFFF;
  display: inline-block;
  width: 100%;
  /* border-bottom: 5px solid #F47326; */

}
.table-fixed tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}
.titleTD{
  text-align: center;
  font-weight: 600;
}
.sq-global-backdrop{
  opacity: 1;
  background:rgba(0,0,0,.288);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  pointer-events: auto;
  -webkit-tap-highlight-color: transparent;
  transition: opacity .4s cubic-bezier(.25,.8,.25,1);
}
.mat-progress-spinner {
  height: 35px !important;
  width: 35px !important;
}
.mat-progress-spinner svg{
  height: 35px !important;
  width: 35px !important;
}
.center-aligned {
  display: flex;
  justify-content: center;
  align-items: center;
}
#css-menu {
  position:fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-color: #ffffff;
  z-index: 1000;
  /* border-bottom: 5px solid #F47326; */
}
.topnav a {
  float: left;
  display: block;
  color: #384961 !important;
  text-align: center;
  padding: 22px 0px;
  text-decoration: none;
  font-size: 14px;
  /* width: 130px; */
  font-weight: 500;
  height: 60px;
}
.topnav .admin-right{
  text-align: right;
  /* float: right; */
  width: auto;
  padding-right: 15px;
}

.topnav .icon {
  display: none;
}

.dropdown {
  float: left;
}

.dropdown .dropbtn {
  font-size: 17px;
  border: none;
  outline: none;
  color: white;
  padding: 10px 10px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ffffff;
  min-width: 160px;
  right: 0;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 999;
  top: 60px;
  left: 0px;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.topnav .dropdown:hover .dropbtn {
  background-color: #555;
  color: white;
}

.dropdown-content a:hover {
  background-color: #ddd;
  color: black;
}

.dropdown:hover .dropdown-content {
  display: block;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child), .dropdown .dropbtn {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav.responsive .dropdown {float: none;}
  .topnav.responsive .dropdown-content {position: relative;}
  .topnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
}
/* ket thuc navarbar */
.title-note{
  /* background: beige; */
  color: #1F69BC;
}
.titleTD{
  text-align: center;
  font-weight: 600;
}
.titleTD td{
  vertical-align: middle;
}
.amout-show{
  float: right;
  padding-top: 5px;
  width: 100%;
  display: contents;
}
.amout-show span{
  padding-top: 8px;
}
.numberPage{
  width: 50px;
    padding: 0px;
    float: left;
    height: 35px !important;
    border-radius: unset;
}
.dropdown-list{
  position: fixed !important;
  width: 26% !important;
}
.dropdown-btn{
  /* padding: 0px !important; */
  border: unset !important;
  padding-left: 10px !important;
  padding-top: 5px !important;
  padding-right: 20px !important;
}
.css-multi{
  padding: 0px !important;
}
.input-group>.custom-select:not(:last-child), .input-group>.form-control:not(:last-child) {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
 .cdk-overlay-pane{
  top: 215.8px !important;

}
.table-lst{
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 15px;
  margin-right: 10px;
}
button:focus{
  border: unset !important;
}
i{
  color: #4f5d73
}
.file-name {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.cust-row{
  background-color: #fff;
  border: 1px solid #c8ced3;
}
.footer{
  float: right;
  color: white;
  padding: 10px;
  display: inline-flex ;
}
.footer label{
  margin-bottom: 0px;
}
@media screen and (min-width: 576px){
  .modal-dialog {
    max-width: 700px;
  }
}
