<div class="modal-content">
	<div class="modal-header">
		<h4 class="modal-title" id="modal-title">{{ isUpdate ? 'Sửa tài xế' : 'Thêm mới tài xế' }}</h4>
		<div class="close-icon" (click)="modal.close()"></div>
	</div>
	<div class="modal-body">
		<div class="overlay overlay-block cursor-default modal-body" style="min-height: 300px">
			<form [formGroup]="partnerForm" class="form form-label-right">
				<div class="form-group row">
					<div class="col-lg-6 customer-phone">
						<label class="form-label required">Số điện thoại</label>
						<div>
							<input
								class="form-control form-control-lg form-control-solid input-phone"
								placeholder="Nhập số điện thoại"
								formControlName="phone"
								autocomplete="off"
								(keydown.space)="$event.preventDefault()"
								maxlength="12"
								numbersOnly
								[numberformControl]="partnerForm.controls['phone']"
							/>
							<em *ngIf="!isUpdate" class="fa fa-times" (click)="deleteNumberPhone()"></em>
						</div>
						<app-validate
							[control]="partnerForm.controls['phone']"
							[error]="'required'"
							[message]="'Số diện thoại không được để trống'"
						></app-validate>
						<app-validate
							[control]="partnerForm.controls['phone']"
							[error]="'notExisted'"
							[message]="'Không tìm thấy thông tin tài xế với số điện thoại này'"
						></app-validate>
						<app-validate
							[control]="partnerForm.controls['phone']"
							[error]="'invalid'"
							[message]="'Số điện thoại không thuộc Việt Nam hoặc sai định dạng'"
						></app-validate>
					</div>

					<div class="col-lg-6">
						<label class="form-label required">Họ và tên</label>
						<input
							type="text"
							class="form-control form-control-lg form-control-solid"
							formControlName="name"
							autocomplete="off"
						/>
					</div>
				</div>
				<div class="form-group row">
					<div class="col-lg-6">
						<label class="form-label required">Xe sử dụng</label>
						<ng-select
							[multiple]="true"
							formControlName="carIds"
							[closeOnSelect]="false"
							[placeholder]="'Chọn xe sử dụng'"
							[notFoundText]="'...'"
						>
							<ng-option *ngFor="let car of cars" [value]="car.id">{{ car.name }}</ng-option>
						</ng-select>
					</div>
				</div>
				<div class="form-group row">
					<div class="list-product col-lg-12">
						<h3 class="title">Thông tin hạn mức nhiên liệu</h3>
						<div class="table-responsive angular-bootstrap-table">
							<form [formGroup]="partnerForm">
								<table class="table table-vertical-center overflow-hidden" aria-label="">
									<thead class="thead-light">
										<tr>
											<th scope="">
												<label class="form-label">STT</label>
											</th>
											<th scope="">
												<label class="form-label required">Loại nhiên liệu</label>
											</th>
											<th scope="">
												<label class="form-label required"
													>Hạn mức tài khoản con {{isUpdate ? 'còn lại': null}}</label
												>
											</th>
											<th scope="" *ngIf="isUpdate">
												<label class="form-label required">Hạn mức tài khoản con mới</label>
											</th>
											<th scope="">
												<label class="form-label required">Đơn vị</label>
											</th>
										</tr>
									</thead>

									<tbody>
										<!-- <ng-container formArrayName="products">
												<tr
													*ngFor="let productInfoFromGroup of productFormArray.controls; let i = index"
												>
													<ng-container [formGroup]="productInfoFromGroup">
														<td>{{i + 1}}</td>
														<td>
															<select
																(change)="productTypeChanged($event, i)"
																class="form-control form-control-sm"
																formControlName="categoryProductId"
															>
																<option [value]="null">Chọn loại sản phẩm</option>
																<option *ngFor="let prodType of productTypes" [value]="prodType.id">
																	{{prodType.name}}
																</option>
															</select>
															<app-validate
																[control]="productInfoFromGroup.get('categoryProductId')"
																[error]="'required'"
																[message]="'Loại sản phẩm được để trống'"
															></app-validate>
														</td>
														<td class="col2">
															<select
																(change)="productChanged($event, i)"
																class="form-control form-control-sm"
																formControlName="productId"
															>
																<option [value]="null">Chọn sản phẩm</option>
																<option *ngFor="let prod of products[i]" [value]="prod.id">
																	{{prod.name}}
																</option>
															</select>
															<app-validate
																[control]="productInfoFromGroup.get('productId')"
																[error]="'required'"
																[message]="'Sản phẩm được để trống'"
															></app-validate>
														</td>
														<td
															class="col3"
															[textContent]="productInfoFromGroup.get('unit').value"
														></td>
														<td class="col4">
															<input
																(input)="updateTotalProduct(i)"
																placeholder="Nhập số lượng"
																class="form-control form-control-sm"
																formControlName="amount"
																maxlength="6"
																numbersOnly
																[numberformControl]="productInfoFromGroup.get('amount')"
															/>
															<app-validate
																[control]="productInfoFromGroup.get('amount')"
																[error]="'required'"
																[message]="'Số lượng được để trống'"
															></app-validate>
															<app-validate
																[control]="productInfoFromGroup.get('amount')"
																[error]="'min'"
																[message]="'Số lượng phải lớn hơn 0'"
															></app-validate>
														</td>
														<td
															class="col5"
															[textContent]="productInfoFromGroup.get('price').value | number | vnCurrency"
														></td>
														<td
															class="col6"
															[textContent]="productInfoFromGroup.get('discount').value | number | vnCurrency"
														></td>
														<td
															class="col7"
															[textContent]="productInfoFromGroup.get('totalMoney').value | number | vnCurrency"
														></td>
														<td class="col8">
															<a
																*ngIf="i > 0 || productFormArray.length >= 2"
																(click)="deleteProduct(i)"
																class="btn btn-icon btn-light btn-hover-danger btn-sm"
															>
																<span
																	[inlineSVG]="'./assets/media/svg/icons/General/Trash.svg'"
																	cacheSVG="true"
																	class="svg-icon svg-icon-md svg-icon-danger"
																	[ngbTooltip]="'Xóa'"
																>
																</span>
															</a>
														</td>
													</ng-container></tr
											></ng-container> -->
									</tbody>
								</table>
							</form>
						</div>
					</div>
				</div>
				<div class="form-group row">
					<div class="list-product col-lg-12">
						<h3 class="title">Thông tin hạn mức tiền</h3>
						<label class="text-black-50">Hạn mức đang có Tiền: 100,000,000VNĐ</label>
					</div>
					<div class="col-lg-6">
						<label class="form-label required">Hạn mức tiền</label>
						<input
							type="text"
							class="form-control form-control-lg form-control-solid"
							formControlName="limit"
							placeholder="Nhập số tiền"
							autocomplete="off"
							numbersOnly
							[numberformControl]="partnerForm.get('limit')"
							decimal-mask
							maxlength="18"
						/>
					</div>
				</div>
			</form>
		</div>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-outline-secondary btn-dialog" (click)="onClose()">
			Hủy
		</button>
		<button type="button" ngbAutofocus class="btn btn-primary btn-dialog" (click)="onSubmit()">
			Lưu
		</button>
	</div>
</div>
