.card-header {
  padding: 0 2.25rem !important;
  border-bottom: none;
  .title {
    text-transform: uppercase;
    color: #4674EB;
    font-weight: 500;
    font-size: 14px;
  }
}

.card-body {
  padding: 0 3.25rem !important;

  .input-phone {
    padding-right: 30px;
  }
}

.info-customer,
.info-contract,
.list-product,
.upload-file,
.reason-refusal {
  padding: 15px 0 25px;
}

.info-contract {
  .icon-add {
    padding-top: 30px;
  }
}

.list-product {
  .table {
    th {
      color: #1E1E1E !important;
      text-transform: none;
    }

    tfoot {
      border-bottom: 1px solid #cccccc;
    }
  }
}

.link-file {
  font-size: 18px;
  color: #4674EB;
  cursor: pointer;
  padding-bottom: 10px;
}

.title-reason {
  color: #B90000;
  font-size: 14px;
}
