.card-header {
  padding: 0 2.25rem !important;
  border-bottom: none;

  .title {
    text-transform: uppercase;
    color: #4674EB;
    font-weight: 500;
    font-size: 14px;
  }
}

.card-body {
  padding: 0 3.25rem !important;

  .input-phone {
    padding-right: 30px;
  }
}

.url {
  color: #4674EB;
  cursor: pointer;
  padding-bottom: 10px;
}

.list-product {
  .table {

    thead {
      background: #e9ecef;

      th {
        text-transform: none;
        color: #333 !important;
      }
    }

    .plan-stt {
      width: 100px;
    }

    .plan-date {
      width:200px;
    }

    .plan-money {
      width: 200px;
    }

    tfoot {
      border-bottom: 1px solid #cccccc;

      .money-plan-detail-title {
        padding-left: 500px;
      }
    }
  }
}

.link-file {
  font-size: 18px;
  color: #4674EB;
  cursor: pointer;
  padding-bottom: 10px;
}

.title-reason {
  color: red;
  font-size: 14px;
}

.fa-images {
  color: #4674EB;
}
