table th,
table td {
  text-align: center;
  vertical-align: middle;
}
:host table.money-statement td {
  padding: 4px 0;
  ::ng-deep {
    .form-control,
    span {
      font-size: 0.95rem;
      padding: 2px 9px;
      height: auto;
    }
  }
}
