<div class="card card-custom detail-shift-closing-wrapper mt-1">
	<div class="card-body">
		<div class="wizard wizard-3" id="kt_wizard_v3">
			<div class="kt-grid__item">
				<div class="wizard-nav mb-1 mb-lg-5">
					<div class="wizard-steps px-8 py-8 px-lg-15 py-lg-3">
						<a
							[class.can-active]="stepData$ | async | canActiveStep: 1"
							[class.active]="(stepData$ | async).currentStep === 1"
							(click)="gotoStep(1)"
							class="wizard-step"
							href="javascript:;"
						>
							<div class="wizard-label">
								<div class="wizard-title"><span>1</span> Doanh thu nhiên liệu</div>
								<div class="wizard-bar"></div>
							</div>
						</a>
						<a
							(click)="gotoStep(2)"
							[class.can-active]="stepData$ | async | canActiveStep: 2"
							[class.active]="(stepData$ | async).currentStep === 2"
							class="wizard-step"
							href="javascript:;"
						>
							<div class="wizard-label">
								<div class="wizard-title"><span>2</span> Doanh thu hàng hóa khác</div>
								<div class="wizard-bar"></div>
							</div>
						</a>
						<a
							(click)="gotoStep(3)"
							[class.can-active]="stepData$ | async | canActiveStep: 3"
							[class.active]="(stepData$ | async).currentStep === 3"
							class="wizard-step"
							href="javascript:;"
						>
							<div class="wizard-label">
								<div class="wizard-title"><span>3</span> Báo cáo khuyến mại</div>
								<div class="wizard-bar"></div>
							</div>
						</a>
						<a
							(click)="gotoStep(4)"
							[class.can-active]="stepData$ | async | canActiveStep: 4"
							[class.active]="(stepData$ | async).currentStep === 4"
							class="wizard-step"
							href="javascript:;"
						>
							<div class="wizard-label">
								<div class="wizard-title"><span>4</span> Tổng tiền mặt cần thu</div>
								<div class="wizard-bar"></div>
							</div>
						</a>
					</div>
				</div>
			</div>

			<div class="row justify-content-center w-100">
				<div class="col-xl-12">
					<app-fuel-revenue-detail
						*ngIf="(stepData$ | async).currentStep === 1"
					></app-fuel-revenue-detail>
					<app-other-revenue-detail
						*ngIf="(stepData$ | async).currentStep === 2"
					></app-other-revenue-detail>
					<app-promotion-detail
						*ngIf="(stepData$ | async).currentStep === 3"
					></app-promotion-detail>
					<app-total-revenue *ngIf="(stepData$ | async).currentStep === 4"></app-total-revenue>
				</div>
			</div>
		</div>
	</div>
</div>
