::-webkit-input-placeholder {
  font-weight: lighter;
  color:#AFB2B3;
}
::-moz-placeholder {
  font-weight: lighter;
  color:#AFB2B3;
}
::-ms-input-placeholder {
  font-weight: lighter;
  color:#AFB2B3;
}
