table {
  //font-family: Roboto, "Helvetica Neue", sans-serif;
  width: 100%;
}

thead {
  background: SteelBlue;
  color: white;
}

th,
td {
  padding: 5px 10px;
}

tbody tr:nth-child(even) {
  background: WhiteSmoke;
}

//tbody tr td:nth-child(3) {
//  text-align:center;
//}

tbody tr td:nth-child(4) {
  text-align: right;
  //font-family: monospace;
}

tfoot {
  background: SeaGreen;
  color: white;
  text-align: right;
}

tfoot tr th:last-child {
  font-family: monospace;
}
