<mat-drawer-container class="drawer">
  <mat-drawer mode="side" #drawer>
    <div class="tb-sideBar">
      <div class="row">
        <div class="col-6">
          <div class="d-flex justify-content-center mt-3 mb-3 ">
            Ẩn / hiển thị cột trong bảng
          </div>
        </div>
        <div class="col-6">
          <div class="d-flex justify-content-end mt-3 mb-3 ">
            <button class="btn lpb-btn-primary mr-2" (click)="drawer.close()">
              <i class="fa fa-close text-white"></i>
            </button>
          </div>
        </div>
      </div>

      <hr>
      <div class="row d-flex justify-content-between pl-3 pr-3">
        <div class="col-md-6">
          <mat-checkbox color="warn" [checked]="displayAll" (change)="setAllDisplay($event.checked)"
                        [indeterminate]="someCompleteDisplay()">{{displayAll ? 'Hiện' : 'Ẩn'}} tất cả
          </mat-checkbox>
        </div>
        <div class="col-md-6">
          <!--          <mat-checkbox color="warn" (change)="viewDefault($event.checked)" [checked]="defaultColumn">Mặc định-->
          <!--          </mat-checkbox>-->
        </div>
      </div>
      <hr>
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-6 d-flex flex-column" *ngFor="let item of columns; let i = index">
            <mat-checkbox color="primary" [checked]="!item.hidden"
                          (change)="displayChange(item)">{{(i + 1) + '. ' + item.headerName}}</mat-checkbox>
          </div>
          <div class="col-sm-6 d-flex flex-column">
            <!--            <mat-checkbox color="primary" *ngFor="let item of tickTB.slice(15)" [(ngModel)]="item.ticked"-->
            <!--                          (ngModelChange)="updateAllComplete()">{{item.name}}</mat-checkbox>-->
          </div>
        </div>
      </div>
    </div>
  </mat-drawer>
  <mat-drawer-content>
    <div
      class="content-title w-100 text-uppercase d-flex justify-content-between"
      *ngIf="tableName"
    >
      <div class="d-flex align-items-center">
        <span>
          <i class="fa fa-cog mr-2 content-title btn" [hidden]="config.hiddenSetting === true"
             (click)="drawer.toggle()"></i>
          <i class="fa fa-book mr-2 content-title" *ngIf="config.hiddenSetting === true"></i>

          {{tableName}}</span>
      </div>

      <div class="" *ngIf="config.hasAddtionButton">
        <button *ngFor="let button of actions" (click)="onAdditionButtonClick(button.routerLink, button.actionCode)" type="button"
                class="btn lpb-btn-primary mr-2">
          {{button.actionName}}
          <i *ngIf="button.actionName === 'Thêm Mới'" class="fa fa-plus text-white"></i>
        </button>
      </div>
    </div>
    <ng-container [ngTemplateOutlet]="templateOther"></ng-container>

    <div class="lpb-data-table my-2">
      <div class="mb-2 text-right" *ngIf="config.hasAddtionButton && !tableName">
        <button *ngFor="let button of actions" (click)="onAdditionButtonClick(button.routerLink, button.actionCode)" type="button"
                class="btn lpb-btn-primary mr-2">
          {{button.actionName}}
          <i *ngIf="button.actionName === 'Thêm Mới'" class="fa fa-plus text-white"></i>
        </button>
      </div>
      <div class="w-div-table">
        <!--        <div class="d-flex justify-content-between" [hidden]="config.hiddenSetting == true">-->
        <!--          <button mat-button (click)="drawer.toggle()">Cài đặt hiển thị</button>-->
        <!--        </div>-->
        <div class="div-table-flex" #lpbDataTable style="transition: min-height .2s; overflow-y: hidden;">

          <!--    <button (click)="log()">Show Selected</button>-->
          <table class="table-hover" style="min-height: 100px;">
            <thead>
            <tr>
              <th *ngIf="config.hasSelection" class="sticky-left justify-content-center bg-white"
                  style="max-width: 50px; width: 100%">
                <mat-checkbox color="primary" *ngIf="!outputHandleClick"
                              [disabled]="disableCkAll || config.disableCheck"
                              (change)="$event ? masterToggle($event) : null"
                              [checked]="selection.hasValue() && isAllSelected()"
                              [indeterminate]="someComplete()"
                >
                  <!--              [indeterminate]="totalSelectedInPage() > 0 && !isAllSelected()"-->
                </mat-checkbox>
                <mat-checkbox color="primary" *ngIf="outputHandleClick"
                              [disabled]="disableCkAll"
                              (click)="onClickCheckAll($event)"
                              (change)="onCheckAllChange($event.checked)"
                              [checked]="isSelectedAll()"
                              [indeterminate]="isIndeterminate()">
                </mat-checkbox>
              </th>
              <th *ngIf="config.hasNoIndex" class="justify-content-center" style="max-width: 50px; width: 100%">STT</th>
              <th *ngFor="let column of columns; let i = index;" [hidden]="column.hidden"
                  [ngClass]=[column.className]>{{column.headerName}}</th>
              <th class="w-150-px sticky-right" [hidden]="config.hiddenActionColumn">Thao tác</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let row of dataSource; let i = index;"
                class="{{config.rowBgColor ? config.rowBgColor(row) : ''}}"
                [class.d-none]="(i<startRowOfPage-1 || i>endRowOfPage-1) && !apiServiceURL && config.hasPaging === true">
              <td class="sticky-col justify-content-center sticky-left bg-white" *ngIf="config.hasSelection"
                  style="max-width: 50px; width: 100%">
                <mat-checkbox *ngIf="!config.paymentConfig && !outputHandleClick" color="primary"
                              (click)="$event.stopPropagation();"
                              (change)="$event ? handleChange(row, i) : null"
                              [checked]="this.selection.isSelected(row)"
                              [disabled]="config?.isDisableRow && config?.isDisableRow(row) || config?.disableCheck"
                >
                </mat-checkbox>
                <mat-checkbox *ngIf="config.paymentConfig && !outputHandleClick" color="primary"
                              (click)="handleClick($event, row, i)"
                              [disabled]="row.disabled"
                              (change)="$event ? handleChange(row, i) : null"
                              [checked]="this.selection.isSelected(row)">
                </mat-checkbox>
                <mat-checkbox *ngIf="outputHandleClick" color="primary" (click)="onClickCheckRow($event, row)"
                              [disabled]="disableCkRow"
                              (change)="onCheckRowChange($event.checked, row)"
                              [checked]="isSelected(row)">
                </mat-checkbox>
              </td>
              <td *ngIf="config.hasNoIndex;"
                  class="justify-content-center "
                  style="max-width: 50px;width: 100%">{{(((pageIndex - 1) * pageSize) + (i + 1))}}</td>
              <ng-container *ngIf="config.hasRowClick;else elseBlock">
                <td *ngFor="let column of columns; let i = index;" (click)="view($event, row)" [hidden]="column.hidden"
                    class="{{ (column.type == 'currency' ? 'justify-content-end text-right' : '')}} {{column.bgColor ? column.bgColor(row, column.headerProperty) : ''}}" [ngClass]=[column.className] style="word-break: break-word">
                  {{ formatData(row[column.headerProperty], column.type) }}
                </td>
              </ng-container>
              <ng-template #elseBlock>
                <td *ngFor="let column of columns; let i = index;" [hidden]="column.hidden"
                    class="{{ (column.type == 'currency' ? 'justify-content-end text-right' : '')}} {{column.bgColor ? column.bgColor(row, column.headerProperty) : ''}}"
                    [ngClass]=[column.className] style="word-break: break-all">
                  <a [routerLink]="" (click)="view($event, row)" *ngIf="i === 0"
                     style="cursor: pointer;text-decoration: underline">  {{ formatData(row[column.headerProperty], column.type) }}</a>

                  <span class="class-tick"
                        *ngIf="column?.customStyleTick"
                        [ngClass]="handleClassTick(row, column)"
                  ></span>
                  <span *ngIf="i !== 0 && !column.innerHtml"
                        [matTooltip]="formatData(row[column.tooltipProperty], column.type)">{{ formatData(row[column.headerProperty], column.type) }}</span>
                  <span *ngIf="i !== 0 && column.innerHtml" [innerHTML]="formatData(row[column.headerProperty], column.type)"
                        [matTooltip]="formatData(row[column.tooltipProperty], column.type)"></span>
                </td>
              </ng-template>

              <td class="w-150-px justify-content-center text-center action-column sticky-right bg-white gap-4"
                  [hidden]="config.hiddenActionColumn">
                <!--            <div class="justify-content-center text-center">-->
                <ng-container *ngIf="!config?.buttonOther">
                  <button class="btn p-0" [disabled]="isDisabledUpdate(row)" (click)="edit($event, row)"
                          *ngIf="isDisplayEdit">
                    <i role="button" class="fa fa-pencil"></i>
                  </button>

                  <!--              <i role="button" (click)="view($event, row)" class="fa fa-eye" ></i>-->
                  <!--              <i role="button" (click)="changeStatus(row)" *ngIf="isDisplayToggle">-->
                  <!--                <mat-slide-toggle color="primary" [checked]="row?.status === 'ACTIVE'" disabled></mat-slide-toggle>-->
                  <!--              </i>-->
                  <!--              <i role="button" (click)="delete($event, row)" *ngIf="isDisplayDelete" class="fa fa-trash text-danger"></i>-->
                  <!--            </div>-->
                  <button class="btn p-0" matTooltip="Xóa"
                          matTooltipClass="example-tooltip-uppercase" (click)="delete($event, row)"
                          *ngIf="isDisplayDelete"
                          [disabled]="isDisabledDelete(row)">
                    <i role="button" class="fa fa-trash text-danger"></i>
                  </button>
                  <button class="btn p-0" matTooltip="Hủy"
                          matTooltipClass="example-tooltip-uppercase" (click)="cancel($event, row)"
                          *ngIf="isDisplayCancel"
                          [disabled]="isDisabledCancel(row)">
                    <i role="button" class="fa fa-close text-danger"></i>
                  </button>
                  <button class="btn p-0" matTooltip="Reverse"
                          matTooltipClass="example-tooltip-uppercase" (click)="reverse($event, row)"
                          *ngIf="isDisplayReverse"
                          [disabled]="isDisabledReverse(row)">
                    <i role="button" class="fa fa-undo text-danger"></i>
                  </button>
                  <button class="btn p-0" (click)="changeStatus(row)" *ngIf="isDisplayToggle">
                    <i role="button">
                      <mat-slide-toggle color="primary" [checked]="row?.statusCode === 'ACTIVE'"
                                        disabled></mat-slide-toggle>
                    </i>
                  </button>
                  <button class="btn p-0" matTooltip="Xem Chi Tiết"
                          matTooltipClass="example-tooltip-uppercase" (click)="view($event, row)">
                    <i role="button" class="fa fa-eye"></i>
                  </button>
                  <button class="btn p-0" matTooltip="Duyệt"
                          matTooltipClass="example-tooltip-uppercase"
                          *ngIf="isDisplayApprove"
                          (click)="approve($event, row)">
                    <i role="button" class="fa fa-check"></i>
                  </button>
                  <button class="btn p-0" matTooltip="Download File"
                          matTooltipClass="example-tooltip-uppercase"
                          *ngIf="isDisplayDownload"
                          (click)="download($event, row)">
                    <i role="button" class="fa fa-download"></i>
                  </button>
                  <button class="btn p-0" matTooltip="In phiếu"
                          matTooltipClass="example-tooltip-uppercase"
                          *ngIf="isDisplayPrint"
                          (click)="print($event, row)">
                    <i role="button" class="fa fa-print"></i>
                  </button>

                  <app-print-cccd *ngIf="config.cccdPrint" [cccd]="row"></app-print-cccd>
                </ng-container>

                <ng-container *ngIf="config.buttonOther">
                  <button class="btn p-0" *ngFor="let btn of config?.buttonOther" [matTooltip]="btn?.tooltip"
                          matTooltipClass="example-tooltip-uppercase" (click)="btn.action(row)"
                          [disabled]="disableButtonOther(btn, row)">
                    <i role="button" class="fa" [class]="btn.icon"></i>
                  </button>
                </ng-container>
              </td>
            </tr>
            <tr *ngIf="dataSource?.length <= 0 && !isLoading">
              <td [attr.colspan]="columns.length && columns.length + 2"
                  class="py-4 text justify-content-center text-center">
                Không tìm thấy dữ liệu
              </td>
            </tr>
            </tbody>
          </table>
          <!--      <div *ngIf="isLoading"-->
          <!--           style="display: flex; justify-content: center; align-items: center; background: white;height: 100px">-->
          <!--        <mat-progress-spinner-->
          <!--          color="primary"-->
          <!--          mode="indeterminate">-->
          <!--        </mat-progress-spinner>-->
          <!--      </div>-->
        </div>
      </div>
      <ng-container *ngIf="apiServiceURL">
        <app-lpb-pagination [hidden]="config.hasPaging === false" [pagination]="pagination"
                            (evtChangePageSize)="changePageSize($event)"
                            (evtSetPage)="setPage($event)">
        </app-lpb-pagination>
      </ng-container>
      <ng-container *ngIf="!apiServiceURL">
        <app-lpb-paginator [hidden]="config.hasPaging === false"
                           [totalRecords]="dataSource?.length" [pageSize]="pageSize"
                           [(startRowOfPage)]="startRowOfPage" [(endRowOfPage)]="endRowOfPage" [pageSize]="pageSize">
        </app-lpb-paginator>
      </ng-container>
    </div>

  </mat-drawer-content>
</mat-drawer-container>

