.form-group {
    margin-bottom: 7px;
}

ul {
    margin: 0px;
    list-style: none;
    font-style: italic;
    font-size: 12px;
    color: #828282;
}

.text {
    font-weight: 20px;
    color: #17589f;
    display: block;
    float: left;
}

.footer-row {
    padding: 0px;
    background: #23388F;
    position: fixed;
    bottom: 0px;
    width: 100%;
    left: 0px;
    margin: 0px;
}

.footer {
    padding: 6px;
}

.footer label {
    margin-bottom: 0px;
}

.txt-italic {
    font-style: italic;
}