<div class="transaction-main">
  <div class="content-title w-100 text-uppercase d-flex justify-content-between">
    <div class="d-flex align-items-center">
      <i class="fa fa-search mr-2"></i>
      <span>Tra cứu thông tin khách hàng</span>
    </div>
  </div>

  <div class="search px-4 mt-2">
    <form [formGroup]="searchForm" (submit)="search()">
      <div class="row">
        <div class="col-12 col-md-6 col-lg-4 pb-3 px-5">
          <span>Loại giao dịch</span>
          <ng-select [clearable]="false" formControlName="transactionType">
            <ng-option *ngFor="let type of transactionTypes" [value]="type.value">{{ type.label }}</ng-option>
          </ng-select>
        </div>
        <div class="col-12 col-md-6 col-lg-4 pb-3 px-5">
          <span>Nhà cung cấp</span>
          <ng-select formControlName="supplierCode" [clearable]="false">
            <ng-option value="">Tất cả</ng-option>
            <ng-option *ngFor="let item of suppliers" [value]="item.supplierCode">{{ item.supplierName }}</ng-option>
          </ng-select>
        </div>
        <div class="col-12 col-md-6 col-lg-4 pb-3 px-5">
          <span>Chi nhánh</span>
          <app-lpb-select2 [apiUrl]="'/water-service/branch'" labelName="name" bindValue="code"
            formControlName="branchCode"
            placeholder="Chọn Chi nhánh / PGD"></app-lpb-select2>
        </div>
        <div class="col-12 col-md-6 col-lg-4 pb-3 px-5">
          <span>Mã khách hàng</span>
          <input type="text" formControlName="custId" placeholder="Nhập mã khách hàng" class="form-control" trimInput />
        </div>
        <div class="col-12 col-md-6 col-lg-4 pb-3 px-5">
          <span>Người tạo</span>
          <app-lpb-select2 #selectCreatedBy [apiUrl]="apiUrlUserListAll"
            labelName="fullName" bindValue="userName" formControlName="createdBy" placeholder="Chọn người tạo"
            (handleData)="filterSendBy($event)"></app-lpb-select2>
        </div>
        <div class="col-12 col-md-6 col-lg-4 pb-3 px-5">
          <span>Trạng thái giao dịch</span>
          <ng-select formControlName="auditStatus" [clearable]="false">
            <ng-option *ngFor="let status of statusSettles" [value]="status.value">{{ status.label }}</ng-option>
          </ng-select>
        </div>
        <div class="col-12 col-md-6 col-lg-4 pb-3 px-5">
          <span>Từ ngày</span>
          <div>
            <app-lpb-date-picker #dpDateFrom [maxDate]="getToday()" (blurInput)="checkValidateDate()"
              (dateChanged)="getFromDate()"></app-lpb-date-picker>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 pb-3 px-5">
          <span>Đến ngày</span>
          <div>
            <app-lpb-date-picker #dpDateTo [maxDate]="getToday()" (blurInput)="checkValidateDate()"
              (dateChanged)="getToDate()"></app-lpb-date-picker>
          </div>
        </div>
      </div>
      <div class="w-full d-flex justify-content-center g-2">
        <button mat-raised-button type="submit" class="d-inline-block bg-btn__blue text-while">
          <i class="fa fa-search mr-2" style="color: #b1afaf"></i>
          Tìm kiếm
        </button>
      </div>
    </form>
  </div>

  <div class=" mt-2">
    <app-lpb-datatable [config]="configs" [columns]="$any(columns)" (viewAction)="viewDetail($event)"
      apiServiceURL="/water-service/settle" tableName="Danh sách giao dịch"></app-lpb-datatable>
  </div>
</div>

<app-lpb-footer [actions]="actions"></app-lpb-footer>
