<div class="container-fluid">
    <div class="row">
        <div class="col-3 float-left" style="padding: 0px;">
            <app-menu-tree></app-menu-tree>
        </div>
        <div class="col-9 float-left" style="padding: 0px;">
            <div class="col-12 title-head ">
                <i class="fa fa-plus-square" aria-hidden="true" style="color:#23388F;padding-left: 15px;"></i>
                <span style="color: #23388F;padding-left: 10px;">THÔNG TIN HỒ SƠ</span>
            </div>
            <div class="col-12" style="padding: 0px;display: flex; border-bottom: 1px solid #BDBDBD;">
                <div class="col-6 colLeft">
                    <div class="form-group row" style="padding-top: 35px;">
                        <label for="inputEmail3" class="col-sm-5 col-form-label textLabel">Mã hồ sơ
                        </label>
                        <div class="col-sm-7 txt">
                            <label>XXXXX</label>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputEmail3" class="col-sm-5 col-form-label textLabel">Người tạo
                        </label>
                        <div class="col-sm-7 txt">
                            <label>THAONTB</label>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputEmail3" class="col-sm-5 col-form-label textLabel">Loại hồ sơ
                        </label>
                        <div class="col-sm-7 txt">
                            <label>Đăng ký mới</label>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputEmail3" class="col-sm-5 col-form-label textLabel">Tải hồ sơ đã ký
                        </label>
                        <div class="col-sm-7 txt">
                            <label></label>
                        </div>
                    </div>
                </div>
                <div class="col-6 colRight">
                    <div class="form-group row" style="padding-top: 35px;">
                        <label for="inputEmail3" class="col-sm-5 col-form-label textLabel">Trạng thái
                        </label>
                        <div class="col-sm-7 txt">
                            <label style="color: #23388F;">Đang xử lý</label>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputEmail3" class="col-sm-5 col-form-label textLabel">Ngày tạo
                        </label>
                        <div class="col-sm-7 txt">
                            <label>11:00:26 11/10/2020</label>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputEmail3" class="col-sm-5 col-form-label textLabel">Xác nhận bằng chữ ký số
                        </label>
                        <div class="col-sm-7 txt">
                            <label>Không</label>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputEmail3" class="col-sm-5 col-form-label textLabel">Chi nhánh
                        </label>
                        <div class="col-sm-7 txt">
                            <label>Chi nhánh Ba Đình - Hà Nội</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 titleSearch">
                <i class="fa fa-folder-open" aria-hidden="true" style="color:#23388F;padding-left: 15px;"></i>
                <span style="color: #23388F;padding-left: 10px;">LỊCH SỬ XỬ LÝ</span>
                <table class="table" style="margin-top: 20px;">
                    <tr>
                        <th>Ngày thay đổi trạng thái</th>
                        <th>Người thay đổi</th>
                        <th>Trạng thái hồ sơ</th>
                        <th>Ghi chú</th>
                        <th>Trạng thái KYC khách hàng</th>
                    </tr>
                </table>
            </div>
            <div class="col-12 titleSearch">
                <i class="fa fa-folder-open" aria-hidden="true" style="color:#23388F;padding-left: 15px;"></i>
                <span style="color: #23388F;padding-left: 10px;">DANH SÁCH DỊCH VỤ ĐĂNG KÝ</span>
                <table class="table" style="margin-top: 20px;">
                    <tr>
                        <th>STT</th>
                        <th style="text-align: left;">Tên dịch vụ</th>
                    </tr>
                    <tr>
                        <td style="text-align: center;">1</td>
                        <td>Mở mã khách hàng</td>
                    </tr>
                    <tr>
                        <td style="text-align: center;">2</td>
                        <td>Mở tài khoản thanh toán</td>
                    </tr>
                    <tr>
                        <td style="text-align: center;">3</td>
                        <td>Đăng ký SMS banking</td>
                    </tr>
                </table>
            </div>
            <div class="col-12 titleSearch" style="border-bottom: unset;">
                <i class="fa fa-upload" aria-hidden="true" style="color:#23388F;padding-left: 15px;"></i>
                <span style="color: #23388F;padding-left: 10px;">GỬI ĐỂ DUYỆT</span>
                <div class="col-12" style="    margin-top: 20px;
                display: flex;
                padding: 0px;
                margin-bottom: 20px;">
                    <div class="form-group" style="width: 100%;">
                        <label for="inputEmail3" class="col-sm-3 col-form-label " style="text-align: right;float: left;">Ghi chú gửi duyệt
                        </label>
                        <div class="col-sm-8 " style="float: left">
                            <textarea rows="3" style="width: 100%;"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 ft" style="text-align: right;">
                <i class="fa fa-upload" aria-hidden="true" style="background: #23388F;color: #FFFFFF;margin-right: 10px;margin-top: 22px;"></i>
                <span (click)="send()" style="width:88px;height: 21px;border: 1px solid #23388F;color: #FFFFFF;
            margin-right: 20px;
            background: #23388F;margin-top: 22px;">Gửi duyệt</span>
            </div>
        </div>
    </div>
</div>
